---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":10,"itemsPerPage":100,"startIndex":1,"Resources":[{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"CI/CD","id":"1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","meta":{"created":"2025-07-04T08:16:34Z","lastModified":"2026-05-22T07:00:51Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","resourceType":"Group","version":"fe624b75-d7b7-4d13-a13a-cf3ae61ba3ec"},"members":[{"value":"05282952-b334-4078-bd56-dd38b2e771e9","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/05282952-b334-4078-bd56-dd38b2e771e9"},{"value":"288fc004-2128-4701-a0d1-d4ee451eec19","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/288fc004-2128-4701-a0d1-d4ee451eec19"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"68678de25c51250dbd753398","name":"Github"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Group Update","id":"42611f86-d022-4e8e-81e7-4f34bf45b4da","meta":{"created":"2026-03-30T05:14:55Z","lastModified":"2026-03-30T05:14:55Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/42611f86-d022-4e8e-81e7-4f34bf45b4da","resourceType":"Group","version":"77f279b5-8a51-476f-bd74-6d2a8583601a"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"69ca06cf43def34a3cfac706","name":"test_group_update","description":"This group is for test update functionality."}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Test Group","id":"59aeb87b-777a-4034-8f3e-709d39fb1a18","meta":{"created":"2025-01-13T13:38:09Z","lastModified":"2026-06-29T06:19:35Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18","resourceType":"Group","version":"60c69c21-c423-42b0-9b4e-19a3[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: GET
      response:
            - chunked
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":25,"itemsPerPage":100,"startIndex":1,"Resources":[{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"05282952-b334-4078-bd56-dd38b2e771e9","meta":{"created":"2025-07-04T08:16:05Z","lastModified":"2025-07-04T08:16:05Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/05282952-b334-4078-bd56-dd38b2e771e9","resourceType":"User","version":"a3585c09-d7d3-40a9-9e80-6ab8540ac619","groups.cnt":1},"userName":"","name":{"familyName":"github.com","givenName":"sap-samples/btp-terraform-samples"},"displayName":"None","userType":"public","active":true,"emails":[{"value":"repo/sap-samples/btp-terraform-samples@github.com","primary":true}],"groups":[{"value":"1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","display":"CI/CD","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1ac7f501-aa83-4e06-8a05-dc6b4251d0b6"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"value":"repo/sap-samples/btp-terraform-samples@github.com","primary":true}],"userUuid":"05282952-b334-4078-bd56-dd38b2e771e9","mailVerified":false,"userId":"P000314","status":"active"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"06818f25-55b5-430d-98ad-5ae38e1a1d93","meta":{"created":"2026-04-21T08:05:24Z","lastModified":"2026-04-21T08:15:10Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/06818f25-55b5-430d-98ad-5ae38e1a1d93","resourceType":"User","version":"1c2dc484-d6bc-4a1b-8c45-0f2008e179ce","groups.cnt":0},"userName":"","name":{"familyName":"Lechner","givenName":"Christian"},"displayName":"None","userType":"employee","active":true,"emails":[{"value":"christian.lechner@sap.com","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"value":"christian.lechner@sap.com","verifiedTime":"2026-04-21T08:08:05Z","primary":true}],"loginTime":"2026-06-24T05:51:36Z","userUuid":"06818f25-55b5-430d-98ad-5ae38e1a1d93","mailVerified":true,"userId":"P000941","passwordDetails":{"loginTime":"2026-06-24T05:51:36Z","failedLoginAttempts":0,"setTime":"2026-04-21T08:08:02Z","status":"enabled","policy":"https://accounts.sap.com/policy/passwords/sap/web/1.1"},"status":"active"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"09159810-def3-4283-9f04-326c8b2efa94","meta":{"created":"2026-05-20T10:31:13Z","lastModified":"2026-05-20T10:43:32Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/09159810-def3-4283-9f04-326c8b2efa94","resourceType":"User","version":"0dd49e27-7899-44bf-9fe9-bed3b2c339bb","gro[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Test Group","id":"59aeb87b-777a-4034-8f3e-709d39fb1a18","meta":{"created":"2025-01-13T13:38:09Z","lastModified":"2026-06-29T06:19:35Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18","resourceType":"Group","version":"60c69c21-c423-42b0-9b4e-19a3bfab9de6"},"members":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6785174139031d4324035b6b","name":"Test Group","description":"Used for the SCI provider unit tests. DO NOT DELETE."}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"60c69c21-c423-42b0-9b4e-19a3bfab9de6-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18
            X-Ids-Id:
                - 6B8F54DC-D719-44DC-997D-CFA0C0E59865
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-5tgjk
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 281.400044ms
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
