---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 21029C23-DEA4-4B59-8A56-FED690E270BA
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-vx88g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 944.320167ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":24,"itemsPerPage":1000,"startIndex":1,"Resources":[{"id":"urn:ietf:params:scim:schemas:core:2.0:User","schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"attributes":[{"name":"locale","type":"string","multiValued":false,"description":"Used to indicate the Users default location for purposes of localizing items such as currency, date time format, or numerical representations.","required":false,"caseExact":true,"mutability":"readWrite","returned":"default","uniqueness":"none"},{"name":"nickName","type":"string","multiValued":false,"description":"The casual way to address the user in real life, e.g., Bob or Bobby instead of Robert.  This attribute SHOULD NOT be used to represent a Users username (e.g., bjensen or mpepperidge).","required":false,"caseExact":true,"mutability":"readWrite","returned":"default","uniqueness":"none"},{"name":"active","type":"boolean","multiValued":false,"description":"A Boolean value indicating the Users administrative status.","required":false,"caseExact":false,"mutability":"readWrite","returned":"default","uniqueness":"none"},{"name":"photos","type":"complex","multiValued":true,"description":"URLs of photos of the User.","required":false,"caseExact":false,"mutability":"readWrite","returned":"default","uniqueness":"none","subAttributes":[{"name":"value","type":"reference","multiValued":false,"description":"URL of a photo of the User.","required":false,"caseExact":true,"mutability":"readWrite","returned":"default","uniqueness":"none","referenceTypes":["external"]},{"name":"primary","type":"boolean","multiValued":false,"description":"A Boolean value indicating the primary or preferred attribute value for this attribute, e.g., the preferred photo or thumbnail.  The primary attribute value true MUST appear no more than once.","required":false,"caseExact":false,"mutability":"readWrite","returned":"default","uniqueness":"none"},{"name":"type","type":"string","multiValued":false,"description":"A label indicating the attributes function, i.e., photo or thumbnail.","required":false,"canonicalValues":["photo","thumbnail"],"caseExact":true,"mutability":"readWrite","returned":"default","uniqueness":"none"},{"name":"display","type":"string","multiValued":false,"description":"A human-readable name, primarily used for display purposes.","required":false,"caseExact":true,"mutability":"readWrite","returned":"default","uniqueness":"none"}]},{"name":"addresses","type":"complex","multiValued":true,"description":"A physical mailing address for this User. Canonical type values of work, home, and other. [...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig
        method: GET
      response:
        body: [...]
[...]
