---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/
        method: GET
      response:
            - chunked
        body: |-
            {
              "totalResults" : 4,
              "itemsPerPage" : 4,
              "applications" : [ {
                "id" : "beee7898-7290-43c4-8f2a-af3fdab43b67",
                "meta" : {
                  "created" : "2024-08-05T11:13:06.31Z",
                  "createdBy" : "CN=sap.hana.ondemand.com,L=sap-uaa,OU=sap-uaa,OU=Canary,OU=SAP Cloud Platform Clients,O=SAP SE,C=DE",
                  "lastModified" : "2025-01-17T06:17:05.65Z",
                  "modifiedBy" : "P000003",
                  "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/beee7898-7290-43c4-8f2a-af3fdab43b67",
                  "type" : "charged",
                  "version" : "1"
                },
                "name" : "btp-platform-canary",
                "multiTenantApp" : false,
                "globalAccount" : "unknown",
                "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication", "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization", "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" ],
                "branding" : {
                  "displayName" : "SAP Business Technology Platform",
                  "showDisplayNameOnLogonScreen" : true,
                  "rememberMeVisible" : true,
                  "rememberMeChecked" : false,
                  "refreshParent" : true,
                  "tokenUrlEmbedCharacter" : ";",
                  "theme" : {
                    "type" : "horizon"
                  },
                  "logo" : {
                    "resourceId" : "EMPTY_LOGO",
                    "aspectRatio" : 1.0
                  }
                },
                "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                  "subjectNameIdentifier" : "${corporateIdP.a}",
                  "fallbackSubjectNameIdentifier" : "none",
                  "rememberMeExpirationTimeInMonths" : 3,
                  "passwordPolicy" : "https://accounts.sap.com/policy/passwords/sap/web/1.1",
                  "userAccess" : {
                    "type" : "public",
                    "userAttributesForAccess" : [ {
                      "userAttributeName" : "firstName",
                      "isRequired" : false
                    }, {
                      "userAttributeName" : "lastName",
                      "isRequired" : true
                    }, {
                      "userAttributeName" : "mail",
                      "isRequired" : true
                    } ]
                  },
                  "companyId" : "global",
                  "clientId" : "ebdce9be-df9e-40a1-ac84-afdbe69c3448",
                  "disabledInheritedProperties" : {
                    "assertionAttributes" : [ {
                      "assertionAttributeName" : "first_name",
                      "userAttributeName" : "firstName"
                    } ],
                    "advancedAssertionAttributes" : [ {
                      "attributeName" : "first_name",
                      "attributeValue" : "${corporateIdP.given_name}"
                    } ]
                  },
                  "socialSignOn" : true,
                  "spnegoEnabled" : false,
                  "biometricAuthenticationEnabled" : false,
                  "verifyMail" : true,
                  "forceAuthentication" : false,
                  "trustAllCorporateIdentityProviders" : false,
                  "allowIasUsers" : false,
                  "defaultAuthenticatingIdpId" : "664c660e25cff252c5c202dc",
                  "riskBasedAuthentication" : {
                    "defaultAction" : [ "allow" ]
                  },
                  "saml2Configuration" : {
                    "signSLOMessages" : true,
                    "requireSignedSLOMessages" : true,
                    "requireSignedAuthnRequest" : false,
                    "signAssertions" : true,
                    "signAuthnResponses" : false,
                    "responseElementsToEncrypt" : "none",
                    "proxyAuthnRequest" : {
                      "authenticationContext" : "none"
                    }
                  },
                  "openIdConnectConfiguration" : { },
                  "sapManagedAttributes" : {
                    "sourceAppId" : "6b9e570f-80dc-4b35-a767-3f918c8a8c97",
                    "sourceTenantId" : "axknu3fmc"
                  },
                  "restApiAuthentication" : {
                    "allowPublicClientFlows" : false,
                    "allApisAccess" : false,
                    "allowLocking" : true,
                    "failedLoginAttempts" : 0
                  }
                },
                "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" : {
                  "centralStoreProvisioningEnabled" : false
                },
                "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization" : { }
              }, {
                "id" : "de9cfc8d-e8e4-4623-891c-85ee28fd6c70",
                "meta" : {
                  "lastModified" : "2024-10-24T17:30:44.734Z",
                  "modifiedBy" : "P000003",
                  "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/de9cfc8d-e8e4-4623-891c-85ee28fd6c70",
                  "type" : "system",
                  "version" : "1"
                },
                "name" : "oac.accounts.sap.com",
                "multiTenantApp" : false,
                "globalAccount" : "b37ef791-a3d6-4aef-b700-fb7e0c353c43",
                "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication", "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization", "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" ],
                "branding" : {
                  "displayName" : "Administration Console",
                  "showDisplayNameOnLogonScreen" : true,
                  "rememberMeVisible" : true,
                  "rememberMeChecked" : false,
                  "refreshParent" : true,
                  "tokenUrlEmbedCharacter" : ";",
                  "emailTemplateSet" : "67a49b24-5951-41f8-9a10-7ddd3567234f",
                  "theme" : {
                    "type" : "horizon"
                  }
                },
                "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                  "ssoType" : "saml2oidc",
                  "homeUrl" : "https://iasprovidertestblr.accounts400.ondemand.com/admin",
                  "subjectNameIdentifier" : "uid",
                  "rememberMeExpirationTimeInMonths" : 3,
                  "passwordPolicy" : "https://accounts.sap.com/policy/passwords/sap/enterprise/1.0",
                  "userAccess" : {
                    "type" : "internal",
                    "userAttributesForAccess" : [ {
                      "userAttributeName" : "firstName",
                      "isRequired" : false
                    }, {
                      "userAttributeName" : "lastName",
                      "isRequired" : false
                    }, {
                      "userAttributeName" : "mail",
                      "isRequired" : false
                    } ]
                  },
                  "companyId" : "global",
                  "clientId" : "03887e33-a116-4db7-8687-c1aef764073f",
                  "apiCertificates" : [ {
                    "id" : "db0ee2db7261beab47b2630d20fe6829bdd2254e1",
                    "dn" : "CN=oac.accounts.sap.com",
                    "allApisAccess" : false,
                    "authorizationScopes" : [ "manageApp", "manageUsers", "oAuth", "readUserProfile" ]
                  } ],
                  "assertionAttributes" : [ {
                    "assertionAttributeName" : "first_name",
                    "userAttributeName" : "firstName",
                    "inherited" : false
                  }, {
                    "assertionAttributeName" : "last_name",
                    "userAttributeName" : "lastName",
                    "inherited" : false
                  }, {
                    "assertionAttributeName" : "mail",
                    "userAttributeName" : "mail",
                    "inherited" : false
                  } ],
                  "disabledInheritedProperties" : { },
                  "socialSignOn" : true,
                  "spnegoEnabled" : false,
                  "biometricAuthenticationEnabled" : false,
                  "verifyMail" : false,
                  "forceAuthentication" : false,
                  "trustAllCorporateIdentityProviders" : false,
                  "allowIasUsers" : false,
                  "defaultAuthenticatingIdpId" : "664c660e25cff252c5c202dc",
                  "providedApis" : [ {
                    "name" : "scim",
                    "description" : "/scim",
                    "type" : "public"
                  }, {
                    "name" : "identityproviders",
                    "description" : "/IdentityProviders/v1",
                    "type" : "public"
                  }, {
                    "name" : "applications",
                    "description" : "/Applications/v1",
                    "type" : "public"
                  } ],
                  "riskBasedAuthentication" : {
                    "defaultAction" : [ "allow" ]
                  },
                  "saml2Configuration" : {
                    "defaultNameIdFormat" : "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
                    "acsEndpoints" : [ {
                      "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",
                      "location" : "https://iasprovidertestblr.accounts400.ondemand.com/saml2/sp/acs/oac.accounts.sap.com",
                      "index" : 0,
                      "isDefault" : false
                    } ],
                    "sloEndpoints" : [ {
                      "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect",
                      "location" : "https://iasprovidertestblr.accounts400.ondemand.com/saml2/sp/slo/oac.accounts.sap.com"
                    }, {
                      "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",
                      "location" : "https://iasprovidertestblr.accounts400.ondemand.com/saml2/sp/slo/oac.accounts.sap.com"
                    } ],
                    "signSLOMessages" : true,
                    "requireSignedSLOMessages" : true,
                    "requireSignedAuthnRequest" : false,
                    "signAssertions" : true,
                    "signAuthnResponses" : false,
                    "responseElementsToEncrypt" : "none",
                    "certificatesForSigning" : [ {
                      "dn" : "CN=iasprovidertestblr.accounts400.ondemand.com,O=SAP-SE,C=DE",
                      "base64Certificate" : "-----BEGIN CERTIFICATE-----\nredacted\n-----END CERTIFICATE-----",
                      "validFrom" : "2024-05-21T07:21:59Z",
                      "validTo" : "2034-05-21T07:21:59Z",
                      "isDefault" : true
                    } ],
                    "certificateForEncryption" : {
                      "dn" : "CN=iasprovidertestblr.accounts400.ondemand.com,O=SAP-SE,C=DE",
                      "base64Certificate" : "-----BEGIN CERTIFICATE-----\nredacted\n-----END CERTIFICATE-----",
                      "validFrom" : "2024-05-21T07:21:59Z",
                      "validTo" : "2034-05-21T07:21:59Z"
                    },
                    "digestAlgorithm" : "sha256",
                    "proxyAuthnRequest" : {
                      "authenticationContext" : "none"
                    }
                  },
                  "openIdConnectConfiguration" : {
                    "tokenPolicy" : {
                      "jwtValidity" : 3600,
                      "refreshValidity" : 43200,
                      "refreshParallel" : 1,
                      "maxExchangePeriod" : "unlimited",
                      "refreshTokenRotationScenario" : "off",
                      "accessTokenFormat" : "default"
                    },
                    "restrictedGrantTypes" : [ "refreshToken", "tokenExchange", "password", "jwtBearer", "clientCredentials", "authorizationCode" ]
                  },
                  "restApiAuthentication" : {
                    "allowPublicClientFlows" : false,
                    "allApisAccess" : false,
                    "allowLocking" : true,
                    "failedLoginAttempts" : 0
                  }
                },
                "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" : {
            [...]
[...]
