---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":10,"itemsPerPage":100,"startIndex":1,"Resources":[{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"CI/CD","id":"1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","meta":{"created":"2025-07-04T08:16:34Z","lastModified":"2026-05-22T07:00:51Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","resourceType":"Group","version":"fe624b75-d7b7-4d13-a13a-cf3ae61ba3ec"},"members":[{"value":"05282952-b334-4078-bd56-dd38b2e771e9","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/05282952-b334-4078-bd56-dd38b2e771e9"},{"value":"288fc004-2128-4701-a0d1-d4ee451eec19","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/288fc004-2128-4701-a0d1-d4ee451eec19"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"68678de25c51250dbd753398","name":"Github"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Group Update","id":"42611f86-d022-4e8e-81e7-4f34bf45b4da","meta":{"created":"2026-03-30T05:14:55Z","lastModified":"2026-03-30T05:14:55Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/42611f86-d022-4e8e-81e7-4f34bf45b4da","resourceType":"Group","version":"77f279b5-8a51-476f-bd74-6d2a8583601a"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"69ca06cf43def34a3cfac706","name":"test_group_update","description":"This group is for test update functionality."}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Test Group","id":"59aeb87b-777a-4034-8f3e-709d39fb1a18","meta":{"created":"2025-01-13T13:38:09Z","lastModified":"2026-06-29T06:19:35Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18","resourceType":"Group","version":"60c69c21-c423-42b0-9b4e-19a3[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/b2cd886a-3642-4510-b07a-bdacc4013cc3
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Test Base Group","id":"b2cd886a-3642-4510-b07a-bdacc4013cc3","meta":{"created":"2026-06-24T09:25:36Z","lastModified":"2026-06-26T14:12:21Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/b2cd886a-3642-4510-b07a-bdacc4013cc3","resourceType":"Group","version":"e5c7cf53-2659-46cd-a44b-1174bc42c824"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6a3ba290a225e100578f96d1","name":"Base Test Group","description":"Used for the SCI provider unit tests. DO NOT DELETE."}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"e5c7cf53-2659-46cd-a44b-1174bc42c824-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/b2cd886a-3642-4510-b07a-bdacc4013cc3
            X-Ids-Id:
                - 3E6C69CC-4A8C-46E1-9D19-4BC470421FC6
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-4w9m7
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 305.829477ms
[...]
