---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/
        method: GET
      response:
            - chunked
        body: |-
            {
              "totalResults" : 12,
              "itemsPerPage" : 12,
              "applications" : [ {
                "id" : "29017eb5-3044-409b-bd37-9a6e559e6368",
                "meta" : {
                  "created" : "2024-11-08T12:11:46.402Z",
                  "createdBy" : "P000003",
                  "lastModified" : "2025-01-02T06:23:58.702Z",
                  "modifiedBy" : "P000003",
                  "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/29017eb5-3044-409b-bd37-9a6e559e6368",
                  "type" : "charged",
                  "version" : "1"
                },
                "name" : "sample",
                "multiTenantApp" : false,
                "globalAccount" : "unknown",
                "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication", "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" ],
                "branding" : {
                  "showDisplayNameOnLogonScreen" : true,
                  "rememberMeVisible" : true,
                  "rememberMeChecked" : false,
                  "refreshParent" : true,
                  "tokenUrlEmbedCharacter" : ";",
                  "theme" : {
                    "type" : "horizon"
                  }
                },
                "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                  "ssoType" : "saml2",
                  "subjectNameIdentifier" : "uid",
                  "rememberMeExpirationTimeInMonths" : 3,
                  "passwordPolicy" : "https://accounts.sap.com/policy/passwords/sap/web/1.1",
                  "userAccess" : {
                    "type" : "internal",
                    "userAttributesForAccess" : [ {
                      "userAttributeName" : "firstName",
                      "isRequired" : false
                    }, {
                      "userAttributeName" : "lastName",
                      "isRequired" : true
                    }, {
                      "userAttributeName" : "mail",
                      "isRequired" : true
                    } ]
                  },
                  "companyId" : "global",
                  "clientId" : "68229a87-76e2-4793-aca3-ec3ff996e0e3",
                  "assertionAttributes" : [ {
                    "assertionAttributeName" : "x",
                    "userAttributeName" : "uid",
                    "inherited" : false
                  } ],
                  "disabledInheritedProperties" : { },
                  "spnegoEnabled" : false,
                  "biometricAuthenticationEnabled" : false,
                  "verifyMail" : true,
                  "forceAuthentication" : false,
                  "trustAllCorporateIdentityProviders" : false,
                  "allowIasUsers" : false,
                  "defaultAuthenticatingIdpId" : "664c660e25cff252c5c202dc",
                  "riskBasedAuthentication" : {
                    "defaultAction" : [ "allow" ]
                  },
                  "saml2Configuration" : {
                    "defaultNameIdFormat" : "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
                    "signSLOMessages" : true,
                    "requireSignedSLOMessages" : true,
                    "requireSignedAuthnRequest" : false,
                    "signAssertions" : true,
                    "signAuthnResponses" : false,
                    "responseElementsToEncrypt" : "none",
                    "digestAlgorithm" : "sha256",
                    "proxyAuthnRequest" : {
                      "authenticationContext" : "none"
                    }
                  },
                  "openIdConnectConfiguration" : {
                    "tokenPolicy" : {
                      "jwtValidity" : 3600,
                      "refreshValidity" : 43200,
                      "refreshParallel" : 1,
                      "maxExchangePeriod" : "unlimited",
                      "refreshTokenRotationScenario" : "off",
                      "accessTokenFormat" : "default"
                    },
                    "restrictedGrantTypes" : [ "clientCredentials", "password", "refreshToken", "authorizationCode", "jwtBearer" ]
                  },
                  "restApiAuthentication" : {
                    "allowPublicClientFlows" : false,
                    "allApisAccess" : false,
                    "allowLocking" : true,
                    "failedLoginAttempts" : 0
                  }
                },
                "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" : {
                  "centralStoreProvisioningEnabled" : false
                }
              }, {
                "id" : "328fe7c1-5fe6-4078-9222-3fd5e7f073e0",
                "meta" : {
                  "created" : "2024-11-26T14:57:04.156Z",
                  "createdBy" : "P000003",
                  "lastModified" : "2024-11-26T14:57:04.156Z",
                  "modifiedBy" : "P000003",
                  "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/328fe7c1-5fe6-4078-9222-3fd5e7f073e0",
                  "type" : "charged",
                  "version" : "1"
                },
                "name" : "multi_tenant_app",
                "description" : "Test app for Demo",
                "multiTenantApp" : false,
                "globalAccount" : "<null>",
                "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication", "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" ],
                "branding" : {
                  "showDisplayNameOnLogonScreen" : true,
                  "rememberMeVisible" : true,
                  "rememberMeChecked" : false,
                  "refreshParent" : true,
                  "tokenUrlEmbedCharacter" : ";",[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/de9cfc8d-e8e4-4623-891c-85ee28fd6c70
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "de9cfc8d-e8e4-4623-891c-85ee28fd6c70",
              "meta" : {
                "lastModified" : "2024-10-24T17:30:44.734Z",
                "modifiedBy" : "P000003",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/de9cfc8d-e8e4-4623-891c-85ee28fd6c70",
                "type" : "system",
                "version" : "1"
              },
              "name" : "oac.accounts.sap.com",
              "multiTenantApp" : false,
              "globalAccount" : "b37ef791-a3d6-4aef-b700-fb7e0c353c43",
              "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication", "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" ],
              "branding" : {
                "displayName" : "Administration Console",
                "showDisplayNameOnLogonScreen" : true,
                "rememberMeVisible" : true,
                "rememberMeChecked" : false,
                "refreshParent" : true,
                "tokenUrlEmbedCharacter" : ";",
                "emailTemplateSet" : "67a49b24-5951-41f8-9a10-7ddd3567234f",
                "theme" : {
                  "type" : "horizon"
                }
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                "ssoType" : "saml2",
                "homeUrl" : "https://iasprovidertestblr.accounts400.ondemand.com/admin",
                "subjectNameIdentifier" : "uid",
                "rememberMeExpirationTimeInMonths" : 3,
                "passwordPolicy" : "https://accounts.sap.com/policy/passwords/sap/enterprise/1.0",
                "userAccess" : {
                  "type" : "internal",
                  "userAttributesForAccess" : [ {
                    "userAttributeName" : "firstName",
                    "isRequired" : false
                  }, {
                    "userAttributeName" : "lastName",
                    "isRequired" : false
                  }, {
                    "userAttributeName" : "mail",
                    "isRequired" : false
                  } ]
                },
                "companyId" : "global",
                "apiCertificates" : [ {
                  "id" : "db0ee2db7261beab47b2630d20fe6829bdd2254e1",
                  "dn" : "CN=oac.accounts.sap.com",
                  "allApisAccess" : false,
                  "authorizationScopes" : [ "readUserProfile", "manageUsers", "manageApp", "oAuth" ]
                } ],
                "assertionAttributes" : [ {
                  "assertionAttributeName" : "first_name",
                  "userAttributeName" : "firstName",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "last_name",
                  "userAttributeName" : "lastName",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "mail",
                  "userAttributeName" : "mail",
                  "inherited" : false
                } ],
                "disabledInheritedProperties" : { },
                "socialSignOn" : true,
                "spnegoEnabled" : false,
                "biometricAuthenticationEnabled" : false,
                "verifyMail" : false,
                "forceAuthentication" : false,
                "trustAllCorporateIdentityProviders" : false,
                "allowIasUsers" : false,
                "defaultAuthenticatingIdpId" : "664c660e25cff252c5c202dc",
                "riskBasedAuthentication" : {
                  "defaultAction" : [ "allow" ]
                },
                "saml2Configuration" : {
                  "defaultNameIdFormat" : "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
                  "acsEndpoints" : [ {
                    "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",
                    "location" : "https://iasprovidertestblr.accounts400.ondemand.com/saml2/sp/acs/oac.accounts.sap.com",
                    "index" : 0,
                    "isDefault" : false
                  } ],
                  "sloEndpoints" : [ {
                    "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect",
                    "location" : "https://iasprovidertestblr.accounts400.ondemand.com/saml2/sp/slo/oac.accounts.sap.com"
                  }, {
                    "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",
                    "location" : "https://iasprovidertestblr.accounts400.ondemand.com/saml2/sp/slo/oac.accounts.sap.com"
                  } ],
                  "signSLOMessages" : true,
                  "requireSignedSLOMessages" : true,
                  "requireSignedAuthnRequest" : false,
                  "signAssertions" : true,
                  "signAuthnResponses" : false,
                  "responseElementsToEncrypt" : "none",
                  "certificatesForSigning" : [ {
                    "dn" : "CN=iasprovidertestblr.accounts400.ondemand.com,O=SAP-SE,C=DE",
                    "base64Certificate" : "-----BEGIN CERTIFICATE-----\nMIIDKjCCAhKgAwIBAQIGAY+aB0dGMA0GCSqGSIb3DQEBCwUAMFQxCzAJBgNVBAYTAkRFMQ8wDQYDVQQKEwZTQVAtU0UxNDAyBgNVBAMTK2lhc3Byb3ZpZGVydGVzdGJsci5hY2NvdW50czQwMC5vbmRlbWFuZC5jb20wHhcNMjQwNTIxMDcyMTU5WhcNMzQwNTIxMDcyMTU5WjBUMQswCQYDVQQGEwJERTEPMA0GA1UEChMGU0FQLVNFMTQwMgYDVQQDEytpYXNwcm92aWRlcnRlc3RibHIuYWNjb3VudHM0MDAub25kZW1hbmQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4RxCEOgpOVkE+KCeQylXHjitdZCwZFPsm0UPd5VhCmv/3OBNjEymyu5dG2Ec/si3GpZt1bAu0qRX1bcpjmBkoTmBRPM/dfJoi0IzY7+tWhNq3ZOegZsVXA11LQw1D1kirHhVIEmT5IIe/XSnMOxQmt2b13z4R9ERgPKLocp1vxnPNGj8bmF+vNzGmt7Dzh34rXXPQ+7p1WjidpGEmpr5WymCeBu9jn9YVtj4nlnsqjWsbp+OlhlVB8cvpR7siiQgilow24hBsh4RpAEUiNu4Gl3ddhg5R3NvBFpoB2i+oVfUMwJBzbDUS+5d4tRc8ZE1CkniDR1G1mWnz1hBKmtblQIDAQABggIAADANBgkqhkiG9w0BAQsFAAOCAQEAXmspGDCz7klJaBL4CHihtxDU+gxy10MG/gnwl6tx0FGuPSgsp1QWM5bprdCcakg8T/z6vWxr+l8dWExsqY5teE6qyMCfX/kYhGDJN6Pzii5gEYAB9HC9iirnMjvoxdEYF2LsSlSH/HkZJqGHvCX+GNcsW7JEb8VFtLWdMZMVfhU0NpjBwOvoRnOoC5eMyN1o6UjY+tIPuKFn3wrWTuScfRP/kORyfy+embJb9sSU8Zdl8c94qh/Y13JTyR/bCL++LTv2qQgMen4tAOLN1Vr2ETOlYUPrGnyXYHvhTRCjFkS5uDIIIw++rJNuKdtFXB7M3EQI2ym9fTKRZFG+oQ+5Uw==\n-----END CERTIFICATE-----",
                    "validFrom" : "2024-05-21T07:21:59Z",
                    "validTo" : "2034-05-21T07:21:59Z",
                    "isDefault" : true
                  } ],
                  "certificateForEncryption" : {
                    "dn" : "CN=iasprovidertestblr.accounts400.ondemand.com,O=SAP-SE,C=DE",
                    "base64Certificate" : "-----BEGIN CERTIFICATE-----\nMIIDKjCCAhKgAwIBAQIGAY+aB0dGMA0GCSqGSIb3DQEBCwUAMFQxCzAJBgNVBAYTAkRFMQ8wDQYDVQQKEwZTQVAtU0UxNDAyBgNVBAMTK2lhc3Byb3ZpZGVydGVzdGJsci5hY2NvdW50czQwMC5vbmRlbWFuZC5jb20wHhcNMjQwNTIxMDcyMTU5WhcNMzQwNTIxMDcyMTU5WjBUMQswCQYDVQQGEwJERTEPMA0GA1UEChMGU0FQLVNFMTQwMgYDVQQDEytpYXNwcm92aWRlcnRlc3RibHIuYWNjb3VudHM0MDAub25kZW1hbmQuY29tMIIBIjANBgkqhk[...]
[...]
