---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/
        method: GET
      response:
            - chunked
        body: |-
            {
              "totalResults" : 22,
              "itemsPerPage" : 21,
              "applications" : [ {
                "id" : "0ce68af5-b679-42b6-953d-f8c9636d742b",
                "meta" : {
                  "created" : "2024-06-06T05:48:37.504Z",
                  "createdBy" : "P000001",
                  "lastModified" : "2024-06-06T07:51:17.181Z",
                  "modifiedBy" : "P000001",
                  "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/0ce68af5-b679-42b6-953d-f8c9636d742b",
                  "type" : "charged",
                  "version" : "1"
                },
                "name" : "iasdev_app10",
                "description" : "app new update9",
                "multiTenantApp" : false,
                "globalAccount" : "unknown",
                "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" ],
                "branding" : {
                  "showDisplayNameOnLogonScreen" : true,
                  "rememberMeVisible" : true,
                  "rememberMeChecked" : false,
                  "refreshParent" : true,
                  "tokenUrlEmbedCharacter" : ";",
                  "theme" : {
                    "type" : "horizon"
                  }
                },
                "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                  "ssoType" : "saml2",
                  "subjectNameIdentifier" : "uid",
                  "rememberMeExpirationTimeInMonths" : 3,
                  "passwordPolicy" : "https://accounts.sap.com/policy/passwords/sap/web/1.1",
                  "userAccess" : {
                    "type" : "internal",
                    "userAttributesForAccess" : [ {
                      "userAttributeName" : "firstName",
                      "isRequired" : false
                    }, {
                      "userAttributeName" : "lastName",
                      "isRequired" : true
                    }, {
                      "userAttributeName" : "mail",
                      "isRequired" : true
                    } ]
                  },
                  "companyId" : "global",
                  "clientId" : "4c0e3107-efdb-4af4-9de2-4859d58431e5",
                  "assertionAttributes" : [ {
                    "assertionAttributeName" : "first_name",
                    "userAttributeName" : "firstName",
                    "inherited" : false
                  }, {
                    "assertionAttributeName" : "last_name",
                    "userAttributeName" : "lastName",
                    "inherited" : false
                  }, {
                    "assertionAttributeName" : "mail",
                    "userAttributeName" : "mail",
                    "inherited" : false
                  }, {
                    "assertionAttributeName" : "user_uuid",
                    "userAttributeName" : "userUuid",
                    "inherited" : false
                  }, {
                    "assertionAttributeName" : "locale",
                    "userAttributeName" : "language",
                    "inherited" : false
                  } ],
                  "disabledInheritedProperties" : { },
                  "spnegoEnabled" : false,
                  "biometricAuthenticationEnabled" : false,
                  "verifyMail" : true,
                  "forceAuthentication" : false,
                  "trustAllCorporateIdentityProviders" : false,
                  "allowIasUsers" : false,
                  "defaultAuthenticatingIdpId" : "664c660e25cff252c5c202dc",
                  "riskBasedAuthentication" : {
                    "defaultAction" : [ "allow" ]
                  },
                  "saml2Configuration" : {
                    "defaultNameIdFormat" : "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
                    "signSLOMessages" : true,
                    "requireSignedSLOMessages" : true,
                    "requireSignedAuthnRequest" : false,
                    "signAssertions" : true,
                    "signAuthnResponses" : false,
                    "responseElementsToEncrypt" : "none",
                    "digestAlgorithm" : "sha256",
                    "proxyAuthnRequest" : {
                      "authenticationContext" : "none"
                    }
                  },
                  "openIdConnectConfiguration" : {
                    "tokenPolicy" : {
                      "jwtValidity" : 3600,
                      "refreshValidity" : 43200,
                      "refreshParallel" : 1,
                      "maxExchangePeriod" : "unlimited",
                      "refreshTokenRotationScenario" : "off",
                      "accessTokenFormat" : "default"
                    },
                    "restrictedGrantTypes" : [ "refreshToken", "jwtBearer", "authorizationCode", "password", "clientCredentials" ]
                  },
                  "restApiAuthentication" : {
                    "allowPublicClientFlows" : false,
                    "allApisAccess" : false,
                    "allowLocking" : true,
                    "failedLoginAttempts" : 0
                  }
                }
              }, {
                "id" : "1957dffd-8159-40c6-99d1-dd853cfb04fc",
                "meta" : {
                  "created" : "2024-06-03T08:58:06.825Z",
                  "createdBy" : "P000001",
                  "lastModified" : "2024-06-06T07:33:00.469Z",
                  "modifiedBy" : "P000001",
                  "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/1957dffd-8159-40c6-99d1-dd853cfb04fc",
   [...]
[...]
