---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":4,"itemsPerPage":100,"startIndex":1,"Resources":[{"id":"59aeb87b-777a-4034-8f3e-709d39fb1a18","meta":{"created":"2025-01-13T13:38:09Z","lastModified":"2025-05-14T20:54:24Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18","version":"4c091ebc-2efa-4228-a740-1d04b21b5530","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Test Group","members":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"Test Group","additionalId":"6785174139031d4324035b6b"}},{"id":"98a84ac5-fb95-486c-a61c-13db7d77bad1","meta":{"created":"2025-04-20T14:26:50Z","lastModified":"2025-04-20T14:26:50Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/98a84ac5-fb95-486c-a61c-13db7d77bad1","version":"1745159210474328146","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group","urn:ietf:params:scim:schemas:extension:sap:2.0:Group"],"displayName":"auth_group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"98a84ac5-fb95-486c-a61c-13db7d77bad1","additionalId":"6805042a4511a027500704b0"},"urn:ietf:params:scim:schemas:extension:sap:2.0:Group":{"applicationId":"de9cfc8d-e8e4-4623-891c-85ee28fd6c70","type":"authorization","supportedOperations":"userOnlyMembership"}},{"id":"e701ce1d-3ac3-481b-aa0a-4ce606b75be3","meta":{"created":"2025-04-20T14:27:50Z","lastModified":"2025-04-20T14:42:48Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/e701ce1d-3ac3-481b-aa0a-4ce606b75be3","version":"1745160168793013318","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group","urn:ietf:params:scim:schemas:extension:sci:2.0:Authorization","urn:ietf:params:scim:schemas:extension:sap:2.0:Group"],"displayName":"auth_group","members":[{"value":"9abeec23-a256-4908-828c-cab554c3d1ac","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/9abeec23-a256-4908-828c-cab554c3d1ac","type":"User"}],"urn:ietf:params:scim:schemas:extension:sci:2.0:Authorization":{"description":"test policy","zoneId":"0ca4cf95-5c87-40e7-aee2-2d5f64ac4254","type":"policy","applicationId":"de9cfc8d-e8e4-4623-891c-85ee28fd6c70","authorizationId":"4eebc4ff-3af1-4965-a706-2aee0b72a982"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"e701ce1d-3ac3-481b-aa0a-4ce606b75be3","additionalId":"680504664ce36b52b454042b"},"urn:ietf:params:scim:schemas:extension:sap:2.0:Group":{"applicationId":"33108480-845b-4922-a486-175c0aba846e","type":"authorization","supportedOperations":"userOnlyMembership"}},{"id":"fad75661-b77a-41b8-b7c7-af8283143172","meta":{"created":"2025-04-20T15:49:02Z","lastModified":"2025-04-20T15:49:02Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/fad75661-b77a-41b8-b7c7-af8283143172","version":"1d713fb0-d125-4405-aba5-f27a07f43313","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"admin_auth_group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"fad75661-b77a-41b8-b7c7-af8283143172","additionalId":"6805176e4ce36b52b454042c"}}]}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - EEB16CD1-130C-49C6-8792-51DBFC6E76CF
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-f6876
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '200 '
        code: 200
        duration: 1.034901542s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18
        method: GET
      response:
        body: '{"id":"59aeb87b-777a-4034-8f3e-709d39fb1a18","meta":{"created":"2025-01-13T13:38:09Z","lastModified":"2025-05-14T20:54:24Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18","version":"4c091ebc-2efa-4228-a740-1d04b21b5530","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Test Group","members":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"Test Group","additionalId":"6785174139031d4324035b6b"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"4c091ebc-2efa-4228-a740-1d04b21b5530-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18
            X-Ids-Id:
                - 5053029B-CA60-4BC7-9C2A-6ABAE6A58C72
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-f6876
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '200 '
        code: 200
        duration: 257.559408ms
[...]
