---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":10,"itemsPerPage":100,"startIndex":1,"Resources":[{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"CI/CD","id":"1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","meta":{"created":"2025-07-04T08:16:34Z","lastModified":"2026-05-22T07:00:51Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","resourceType":"Group","version":"fe624b75-d7b7-4d13-a13a-cf3ae61ba3ec"},"members":[{"value":"05282952-b334-4078-bd56-dd38b2e771e9","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/05282952-b334-4078-bd56-dd38b2e771e9"},{"value":"288fc004-2128-4701-a0d1-d4ee451eec19","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/288fc004-2128-4701-a0d1-d4ee451eec19"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"68678de25c51250dbd753398","name":"Github"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Test Group","id":"38e5c81d-9d42-4f08-a978-3ba77ceb99fd","meta":{"created":"2026-07-01T11:23:53Z","lastModified":"2026-07-01T11:26:56Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/38e5c81d-9d42-4f08-a978-3ba77ceb99fd","resourceType":"Group","version":"13973209-3165-4c05-88bc-f744683cf6ea"},"members":[{"value":"1e5dd627-5220-4691-b5f4-8e061ea57d71","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/1e5dd627-5220-4691-b5f4-8e061ea57d71"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6a44f8c9fa74a803a5c38b26","name":"Test Group","description":"Used for the SCI provider unit tests. DO NOT DELETE."}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Group Update","id":"42611f86-d022-4e8e-81e7-4f34bf45b4da","meta":{"created":"2026-03-30T05:14:55Z","lastModified":"2026-03-30T05:14:55Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/42611f86-d022-4e8e-81e7-4f34bf45b4da","resourceType":"Group","version":"77f279b5-8a51-476f-bd74-6d2a8583601a"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"69ca06cf43def34a3cfac706","name":"test_group_update","description":"This group is for test update functionality."}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group","urn:ietf:params:scim:schemas:extension:sap:2.0:Group"],"displayName":"auth_group","id":"98a84ac5-fb95-486c-a61c-13db7d77bad1","meta":{"created":"2025-04-20T14:26:50Z","lastModified":"2026-04-24T06:18:29Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/98a84ac5-fb95-486c-a61c-13db7d77bad1","resourceType":"Group","version":"1777011509123410481"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6805042a4511a027500704b0","name":"98a84ac5-fb95-486c-a61c-13db7d77bad1"},"urn:ietf:params:scim:schemas:extension:sap:2.0:Group":{"supportedOperations":"userOnlyMembership","type":"authorization","applicationId":"de9cfc8d-e8e4-4623-891c-85ee28fd6c70"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group","urn:ietf:params:scim:schemas:extension:sap:2.0:Group"],"displayName":"perses-monika","id":"9cf4ab6c-4a43-4a2f-b761-3918604138f3","meta":{"created":"2026-04-24T06:21:45Z","lastModified":"2026-06-23T10:41:57Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/9cf4ab6c-4a43-4a2f-b761-3918604138f3","resourceType":"Group"[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":26,"itemsPerPage":100,"startIndex":1,"Resources":[{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"05282952-b334-4078-bd56-dd38b2e771e9","meta":{"created":"2025-07-04T08:16:05Z","lastModified":"2025-07-04T08:16:05Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/05282952-b334-4078-bd56-dd38b2e771e9","resourceType":"User","version":"a3585c09-d7d3-40a9-9e80-6ab8540ac619","groups.cnt":1},"userName":"","name":{"familyName":"github.com","givenName":"sap-samples/btp-terraform-samples"},"displayName":"None","userType":"public","active":true,"emails":[{"value":"repo/sap-samples/btp-terraform-samples@github.com","primary":true}],"groups":[{"value":"1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","display":"CI/CD","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1ac7f501-aa83-4e06-8a05-dc6b4251d0b6"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"value":"repo/sap-samples/btp-terraform-samples@github.com","primary":true}],"userUuid":"05282952-b334-4078-bd56-dd38b2e771e9","mailVerified":false,"userId":"P000314","status":"active"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"06818f25-55b5-430d-98ad-5ae38e1a1d93","meta":{"created":"2026-04-21T08:05:24Z","lastModified":"2026-04-21T08:15:10Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/06818f25-55b5-430d-98ad-5ae38e1a1d93","resourceType":"User","version":"10776406-d8c1-4859-b529-7be7bcc324fc","groups.cnt":0},"userName":"","name":{"familyName":"Lechner","givenName":"Christian"},"displayName":"None","userType":"employee","active":true,"emails":[{"value":"christian.lechner@sap.com","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"value":"christian.lechner@sap.com","verifiedTime":"2026-04-21T08:08:05Z","primary":true}],"loginTime":"2026-06-30T08:11:54Z","userUuid":"06818f25-55b5-430d-98ad-5ae38e1a1d93","mailVerified":true,"userId":"P000941","passwordDetails":{"loginTime":"2026-06-30T08:11:54Z","failedLoginAttempts":0,"setTime":"2026-04-21T08:08:02Z","status":"enabled","policy":"https://accounts.sap.com/policy/passwords/sap/web/1.1"},"status":"active"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"09159810-def3-4283-9f04-326c8b2efa94","meta":{"created":"2026-05-20T10:31:13Z","lastModified":"2026-05-20T10:43:32Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/09159810-def3-4283-9f04-326c8b2efa94","resourceType":"User","version":"0dd49e27-7899-44bf-9fe9-bed3b2c339bb","gro[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/38e5c81d-9d42-4f08-a978-3ba77ceb99fd
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Test Group","id":"38e5c81d-9d42-4f08-a978-3ba77ceb99fd","meta":{"created":"2026-07-01T11:23:53Z","lastModified":"2026-07-01T11:26:56Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/38e5c81d-9d42-4f08-a978-3ba77ceb99fd","resourceType":"Group","version":"13973209-3165-4c05-88bc-f744683cf6ea"},"members":[{"value":"1e5dd627-5220-4691-b5f4-8e061ea57d71","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/1e5dd627-5220-4691-b5f4-8e061ea57d71"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6a44f8c9fa74a803a5c38b26","name":"Test Group","description":"Used for the SCI provider unit tests. DO NOT DELETE."}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"13973209-3165-4c05-88bc-f744683cf6ea-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/38e5c81d-9d42-4f08-a978-3ba77ceb99fd
            X-Ids-Id:
                - A00ECDDA-C394-43B7-8B1A-2837F0C4CE9D
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-p6txc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 284.533583ms
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/1e5dd627-5220-4691-b5f4-8e061ea57d71
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
