---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":12,"itemsPerPage":100,"startIndex":1,"Resources":[{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"05282952-b334-4078-bd56-dd38b2e771e9","meta":{"created":"2025-07-04T08:16:05Z","lastModified":"2025-07-04T08:16:05Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/05282952-b334-4078-bd56-dd38b2e771e9","resourceType":"User","version":"a3585c09-d7d3-40a9-9e80-6ab8540ac619","groups.cnt":1},"userName":"","name":{"familyName":"github.com","givenName":"sap-samples/btp-terraform-samples"},"displayName":"None","userType":"public","active":true,"emails":[{"value":"repo/sap-samples/btp-terraform-samples@github.com","primary":true}],"groups":[{"value":"1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","display":"CI/CD","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1ac7f501-aa83-4e06-8a05-dc6b4251d0b6"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"value":"repo/sap-samples/btp-terraform-samples@github.com","primary":true}],"userUuid":"05282952-b334-4078-bd56-dd38b2e771e9","mailVerified":false,"userId":"P000314","status":"active"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"0b35d8cf-722c-4151-951e-176b623c0b78","meta":{"created":"2025-02-16T19:39:42Z","lastModified":"2025-05-14T10:46:44Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78","resourceType":"User","version":"0f8f636b-1536-42b1-8ca4-02b07171b3e9","groups.cnt":0},"userName":"Terraform Custom Schemas","name":{"familyName":"User","givenName":"Terraform Custom Schemas"},"displayName":"None","userType":"employee","active":true,"emails":[{"value":"custom.user@test.com","primary":true}],"urn:test:terraform:1.0:User":{"test2":true,"test1":"test value"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"value":"custom.user@test.com","primary":true}],"userUuid":"0b35d8cf-722c-4151-951e-176b623c0b78","mailVerified":false,"userId":"P000194","status":"active"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"24aacc14-4417-41db-a3db-f2d254290407","meta":{"created":"2025-06-20T03:05:23Z","lastModified":"2025-06-20T06:12:35Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/24aacc14-4417-41db-a3db-f2d254290407","resourceType":"User","groups.cnt":0},"userName":"","name":{"familyName":"Bobev","givenName":"Nikola"},"displayName":"None","userType":"public","active":true,"emails":[{"value":"nikola.bobev@sap.com","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"value":"nikola.bobev@sap.com","verifiedTime":"2025-06-20T06:12:35Z","primary":true}],"loginTime":"2025-06-20T06:12:35Z","sourceSystem":15,"userUuid":"24aacc14-4417-41db-a3db-f2d254290407","mailVerified":true,"userId":"P000272","passwordDetails":{"failedLoginAttempts":0,"setTime":"2025-06-20T06:12:32Z","status":"enabled","policy":"https://accounts.sap.com/policy/passwords/sap/enterprise/1.0"},"status":"active"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"417809ba-e72d-473a-b243-7862d303c434","meta":{"created":"2024-05-21T07:21:59Z","lastModified":"2025-05-08T09:01:28Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/417809ba-e72d-473a-b243-7862d303c434","resourceType":"User","groups.cnt":0},"userName":"","name":{"familyN[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","meta":{"created":"2025-01-06T08:10:15Z","lastModified":"2025-05-14T10:45:27Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa","resourceType":"User","version":"78f404e3-5082-414d-8837-27e394b46e01"},"userName":"Terraform Test","name":{"familyName":"Test User","givenName":"Terraform"},"userType":"public","active":false,"emails":[{"value":"test.user1@sap.com","type":"work","display":"Test.User.1","primary":false},{"value":"test.user2@gmail.com","type":"home","primary":true}],"groups":[{"value":"59aeb87b-777a-4034-8f3e-709d39fb1a18","display":"Terraform Test Group","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"display":"Test.User.1","type":"work","value":"test.user1@sap.com","primary":false},{"verified":false,"type":"home","value":"test.user2@gmail.com","primary":true}],"userUuid":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","mailVerified":false,"userId":"P000089","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"78f404e3-5082-414d-8837-27e394b46e01-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa
            X-Ids-Id:
                - 5598F016-6D0A-46C8-AD4F-5DAD0F162AE5
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-pm4zx
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 240.801431ms
[...]
