---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/
        method: GET
      response:
            - chunked
        body: |-
            {
              "totalResults" : 16,
              "itemsPerPage" : 16,
              "applications" : [ {
                "id" : "1defd8d3-85b8-4805-9831-9ee0be249ef2",
                "meta" : {
                  "created" : "2025-10-14T10:59:05.43Z",
                  "createdBy" : "CN=identity-broker-qa,L=identity-broker,OU=8e1affb2-62a1-43cc-a687-2ba75e4b3d84,OU=Canary,OU=SAP Cloud Platform Clients,O=SAP SE,C=DE",
                  "lastModified" : "2025-10-14T10:59:05.43Z",
                  "modifiedBy" : "CN=identity-broker-qa,L=identity-broker,OU=8e1affb2-62a1-43cc-a687-2ba75e4b3d84,OU=Canary,OU=SAP Cloud Platform Clients,O=SAP SE,C=DE",
                  "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/1defd8d3-85b8-4805-9831-9ee0be249ef2",
                  "type" : "bundled",
                  "version" : "1"
                },
                "name" : "identity-subscription-2e0cdd2b-2d28-4f69-b04d-e71be33efe81-in-b75a605d-151c-4485-83f4-64604378e4ec",
                "multiTenantApp" : false,
                "globalAccount" : "e92e2c9c-ea09-4c43-a061-a136a7cfcca0",
                "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication", "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization", "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" ],
                "branding" : {
                  "displayName" : "uidm-eu12 (test_ias)",
                  "showDisplayNameOnLogonScreen" : true,
                  "rememberMeVisible" : true,
                  "rememberMeChecked" : false,
                  "refreshParent" : true,
                  "tokenUrlEmbedCharacter" : ";",
                  "theme" : {
                    "type" : "horizon"
                  }
                },
                "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                  "rememberMeExpirationTimeInMonths" : 3,
                  "passwordPolicy" : "https://accounts.sap.com/policy/passwords/sap/web/1.1",
                  "userAccess" : {
                    "type" : "internal",
                    "userAttributesForAccess" : [ {
                      "userAttributeName" : "firstName",
                      "isRequired" : false
                    }, {
                      "userAttributeName" : "lastName",
                      "isRequired" : true
                    }, {
                      "userAttributeName" : "mail",
                      "isRequired" : true
                    } ]
                  },
                  "companyId" : "global",
                  "clientId" : "be9144ee-daf0-47c7-a207-0b589c6a7521",
                  "disabledInheritedProperties" : { },
                  "spnegoEnabled" : false,
                  "biometricAuthenticationEnabled" : false,
                  "verifyMail" : true,
                  "forceAuthentication" : false,
                  "trustAllCorporateIdentityProviders" : false,
                  "allowIasUsers" : false,
                  "defaultAuthenticatingIdpId" : "664c660e25cff252c5c202dc",
                  "riskBasedAuthentication" : {
                    "defaultAction" : [ "allow" ]
                  },
                  "saml2Configuration" : {
                    "signSLOMessages" : true,
                    "requireSignedSLOMessages" : true,
                    "requireSignedAuthnRequest" : false,
                    "signAssertions" : true,
                    "signAuthnResponses" : false,
                    "responseElementsToEncrypt" : "none",
                    "proxyAuthnRequest" : {
                      "authenticationContext" : "none"
                    }
                  },
                  "openIdConnectConfiguration" : { },
                  "sapManagedAttributes" : {
                    "serviceInstanceId" : "2e0cdd2b-2d28-4f69-b04d-e71be33efe81",
                    "sourceAppId" : "52340c03-6e70-4e5d-a24c-c2f0e2a55dbb",
                    "sourceTenantId" : "uidmcanaryeu12",
                    "appTenantId" : "b75a605d-151c-4485-83f4-64604378e4ec",
                    "type" : "subscription"
                  },
                  "restApiAuthentication" : {
                    "allowPublicClientFlows" : false,
                    "allApisAccess" : false,
                    "allowLocking" : true,
                    "failedLoginAttempts" : 0
                  }
                },
                "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" : {
                  "centralStoreProvisioningEnabled" : false
                },
                "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization" : { }
              }, {
                "id" : "31b6ca4e-1b66-4b47-ac68-ecfb6929ec0d",
                "meta" : {
                  "created" : "2025-09-09T09:16:39.706Z",
                  "createdBy" : "P000378",
                  "lastModified" : "2025-09-09T09:16:39.706Z",
                  "modifiedBy" : "P000378",
                  "location" : "https://iasprovidertestblr.accou[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/31e38d9c-ca48-4227-963d-32e7dfcb5007
        method: GET
      response:
            - chunked
        body: |-
[...]
[...]
