---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - CB900FBD-02A4-4F6D-8E27-10DE46B29686
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 284.142167ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"displayName":"OIDC Update - Test Corporate IdP","forwardAllSsoRequests":true,"identityFederation":{"allowLocalUsersOnly":true,"applyLocalIdPAuthnChecks":true,"requiredGroups":["Test Group"],"useLocalUserStore":true},"loginHintConfiguration":{"loginHintType":"mail","sendMethod":"urlParam"},"logoutUrl":"https://example.com/logout","name":"oidc-update-idp","oidcConfiguration":{"additionalConfig":{"enforceIssuerCheck":true,"enforceNonce":true,"omitIDTokenHintForLogout":true},"clientId":"test-client-id","clientSecret":"test-client-secret","discoveryUrl":"https://accounts.sap.com","pkceEnabled":true,"scopes":["openid","test-value-1"],"subjectNameIdentifier":"email","tokenEndpointAuthMethod":"clientSecretBasic"},"type":"openIdConnect"}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/
        method: POST
      response:
        body: ""
        headers:
            Location:
                - /IdentityProviders/v1/8bf86d82-d63d-48a7-bb72-a27057a16c45
            X-Ids-Id:
                - CE4A44B4-5C3C-4CA9-AF3E-4D08C6FAB736
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 750.417292ms
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/8bf86d82-d63d-48a7-bb72-a27057a16c45
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "8bf86d82-d63d-48a7-bb72-a27057a16c45",
              "meta" : {
                "created" : "2026-08-31T08:28:31.411Z",
                "lastModified" : "2026-08-31T08:28:31.411Z",
                "createdBy" : "a355d701-4dbf-459c-900d-569786838c59",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/8bf86d82-d63d-48a7-bb72-a27057a16c45"
              },
              "name" : "oidc-update-idp",
              "displayName" : "OIDC Update - Test Corporate IdP",
              "companyId" : "global",
              "type" : "openIdConnect",
              "logoutUrl" : "https://example.com/logout",
              "forwardAllSsoRequests" : true,
              "identityFederation" : {
                "useLocalUserStore" : true,
                "allowLocalUsersOnly" : true,
                "applyLocalIdPAuthnChecks" : true,
                "requiredGroups" : [ "Test Group" ]
              },
              "automaticRedirect" : true,
              "loginHintConfiguration" : {
                "loginHintType" : "mail",
                "sendMethod" : "urlParam"
              },
              "saml2Configuration" : {
                "digestAlgorithm" : "sha256",
                "includeScoping" : true,
                "defaultNameIdFormat" : "default",
                "allowCreate" : "none",
                "signAuthnRequests" : "always",
                "signSingleLogoutMessages" : "always"
              },
              "oidcConfiguration" : {
                "subjectNameIdentifier" : "email",
                "discoveryUrl" : "https://accounts.sap.com",
                "issuer" : "https://accounts.sap.com",
                "tokenEndpoint" : "https://accounts.sap.com/oauth2/token",
                "authorizationEndpoint" : "https://accounts.sap.com/oauth2/authorize",
                "endSessionEndpoint" : "https://accounts.sap.com/oauth2/logout",
                "userInfoEndpoint" : "https://accounts.sap.com/oauth2/userinfo",
                "jwksUri" : "https://accounts.sap.com/oauth2/certs",
                "jwkSetPlain" : "{\"keys\":[{\"kty\":\"RSA\",\"x5t#S256\":\"xdHMDBHyFRb---qngyCNfKWf3P2qwiboTPNGShTNPXo\",\"e\":\"AQAB\",\"use\":\"sig\",\"kid\":\"NGIP7_VsEqSiYTCALVIMGRxk50g\",\"x5c\":[\"MIIC9DCCAdygAwIBAQIGAW+kKxr9MA0GCSqGSIb3DQEBCwUAMDkxCzAJBgNVBAYTAkRFMQ8wDQYDVQQKEwZTQVAtU0UxGTAXBgNVBAMTEGFjY291bnRzLnNhcC5jb20wHhcNMjAwMTE0MTMwODA2WhcNMzAwMTE0MTMwODA2WjA5MQswCQYDVQQGEwJERTEPMA0GA1UEChMGU0FQLVNFMRkwFwYDVQQDExBhY2NvdW50cy5zYXAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt5TbH3HZhE44A+lTM1lR7yfwzc1UegOZFWTyvVIIBops+1xZwNDt7kkUwqjja50TI00fISCAVQQ0TDKiVZt/jKE/Tt243CwA5Y5p0YxQ5FcLslNW3Gg5E3eEhPOjgbJaaLo69F2x4i1VIwaH4hU4xY/EKjFcCzuFFd0BL7FB81V0gJnjQHTaT1hhbnY7I8DWKn0Sm8p08fKOmnvJ+WD0OL/CzNuVQh9CTydo5c6dy4I7XoFc8e0uUnnrtT8DHTfJqu2RZTNI6pDXAcvw0PDOxEUvFCimRI8R/RvPMKyLTS6Fp6SL3+oAVUVShxWaTJxmMXdK7npSg/Jfr1E8k0+rPwIDAQABggIAADANBgkqhkiG9w0BAQsFAAOCAQEAcbwfGgQHZXGSTV/oNJzRdXtJA70XqG6G325srJfLtexvPWwYdK6mBWWXpytTNGQUUfx/G1uXRd5YTep5sWMctEUSf8NhtTxc14e3TW0L7/+16J3gruZtyKy91pJd/fP6ScTE8QYcNp+j55TIswah6qGbWvjyJp/n3+KoMvakMxY0lBnLkMN1pTu4QeIi6mXI/5KTxT+0b/1nxpR/z+tierNTfC31WH43OwAcZC0U/Q/tneEhZre0vDJGWM9eD+eljX2m6LwJxwT6IjvdCAe4gmUvkjjQwXASv3U9IxzMR2qOTHjR147zcGvXje06Jb8b94GpKebnLJVkxISp37J21g==\"],\"alg\":\"RS256\",\"n\":\"t5TbH3HZhE44A-lTM1lR7yfwzc1UegOZFWTyvVIIBops-1xZwNDt7kkUwqjja50TI00fISCAVQQ0TDKiVZt_jKE_Tt243CwA5Y5p0YxQ5FcLslNW3Gg5E3eEhPOjgbJaaLo69F2x4i1VIwaH4hU4xY_EKjFcCzuFFd0BL7FB81V0gJnjQHTaT1hhbnY7I8DWKn0Sm8p08fKOmnvJ-WD0OL_CzNuVQh9CTydo5c6dy4I7XoFc8e0uUnnrtT8DHTfJqu2RZTNI6pDXAcvw0PDOxEUvFCimRI8R_RvPMKyLTS6Fp6SL3-oAVUVShxWaTJxmMXdK7npSg_Jfr1E8k0-rPw\"}]}",
                "tokenEndpointAuthMethod" : "clientSecretBasic",
                "scopes" : [ "openid", "test-value-1" ],
                "clientId" : "test-client-id",
                "isClientSecretConfigured" : true,
                "pkceEnabled" : true,
                "enforceAuthTime" : true,
                "additionalConfig" : {
                  "enforceNonce" : true,
                  "enforceIssuerCheck" : true,
                  "omitIDTokenHintForLogout" : true,
                  "expectIssuerInAudience" : false
                }
              }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 9F401F18-411B-4F4B-A9AF-DC9679E01FF1
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 526.197709ms
[...]
    - id: 10
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"operations":[{"op":"replace","path":"/displayName","value":"OIDC Update - Updated IdP"},{"op":"replace","path":"/logoutUrl","value":"https://example.com/updated-logout"},{"op":"replace","path":"/identityFederation/requiredGroups","value":["Test Group","test_group_update"]},{"op":"replace","path":"/loginHintConfiguration/sendMethod","value":"authRequest"},{"op":"replace","path":"/oidcConfiguration/clientId","value":"updated-client-id"},{"op":"replace","path":"/oidcConfiguration/clientSecret","value":"updated-client-secret"},{"op":"replace","path":"/oidcC[...]
    - id: 11
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/8bf86d82-d63d-48a7-bb72-a27057a16c45
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "8bf86d82-d63d-48a7-bb72-a27057a16c45",
              "meta" : {
                "created" : "2026-08-31T08:28:31.411Z",
                "lastModified" : "2026-08-31T08:28:34.53Z",
                "createdBy" : "a355d701-4dbf-459c-900d-569786838c59",
                "modifiedBy" : "a355d701-4dbf-459c-900d-569786838c59",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/8bf86d82-d63d-48a7-bb72-a27057a16c45"
              },
              "name" : "oidc-update-idp",
              "displayName" : "OIDC Update - Updated IdP",
              "companyId" : "global",
              "type" : "openIdConnect",
              "logoutUrl" : "https://example.com/updated-logout",
              "forwardAllSsoRequests" : true,
          [...]
[...]
    - id: 18
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"operations":[{"op":"replace","path":"/identityFederation/requiredGroups","value":[]},{"op":"replace","path":"/oidcConfiguration/scopes","value":["openid"]}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/8bf86d82-d63d-48a7-bb72-a27057a16c45
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 4CD7DDE8-005A-4F97-B2FC-AA7AB81E1B85
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lpngf
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 729.2955ms
[...]
