---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"status":"new"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"0fb05421-8627-4e72-a12e-fafe56a571e0","meta":{"created":"2026-03-23T09:19:35Z","lastModified":"2026-03-23T09:19:35Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0fb05421-8627-4e72-a12e-fafe56a571e0","resourceType":"User","version":"5d6c4a5e-01e3-4ed7-a573-6a742450c8de"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"0fb05421-8627-4e72-a12e-fafe56a571e0","mailVerified":false,"userId":"P000859","status":"new"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"5d6c4a5e-01e3-4ed7-a573-6a742450c8de"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0fb05421-8627-4e72-a12e-fafe56a571e0
            X-Ids-Id:
                - 1FE4C5DE-306E-4E53-B3D5-87D524FE1143
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-5rvjf
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 314.911888ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0fb05421-8627-4e72-a12e-fafe56a571e0
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"replace","path":"userName","value":"jdoe_s"},{"op":"replace","path":"displayName","value":"Joe Doe S"},{"op":"replace","path":"emails","value":[{"value":"joe.doe.s@test.com","type":"home"},{"value":"joe.doe@test.com","type":"work","primary":true}]},{"op":"replace","path":"userType","value":"customer"},{"op":"replace","path":"active","value":true},{"op":"replace","path":"name","value":{"familyName":"Doe S","givenName":"Joe","honorificPrefix":"Mr."}},{"op":"replace","path":"urn:ietf:params:scim:schemas:extension:sap:2.0:User:mailVerified","value":true},{"op":"replace","path":"urn:ietf:params:scim:schemas:extension:sap:2.0:User:status","value":"active"}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0fb05421-8627-4e72-a12e-fafe56a571e0
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - FE3F1289-7CC5-409B-9B56-626D61D4EC75
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-5rvjf
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 241.58528ms
[...]
