---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"id":"","name":"SAML2 - Test App","urn:sap:identity:application:schemas:extension:sci:1.0:Authentication":{"ssoType":"saml2","assertionAttributes":null,"saml2Configuration":{"defaultNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","acsEndpoints":[{"bindingName":"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST","location":"https://test.1.com","index":1,"isDefault":true}],"sloEndpoints":[{"bindingName":"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST","location":"https://logout.1.com","responseLocation":"https://logout-response.1.com"}],"signSLOMessages":true,"requireSignedSLOMessages":true,"requireSignedAuthnRequest":true,"signAssertions":true,"signAuthnResponses":true,"responseElementsToEncrypt":"wholeAssertion","certificatesForSigning":[{"base64Certificate":"-----BEGIN CERTIFICATE-----\nredacted\n-----END CERTIFICATE-----","isDefault":true}],"certificateForEncryption":{"base64Certificate":"-----BEGIN CERTIFICATE-----\nredacted\n-----END CERTIFICATE-----"},"digestAlgorithm":"sha1"}}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/
        method: POST
      response:
        body: ""
        headers:
            Critical-Origin-Trial:
                - Tpcd
            Location:
                - /Applications/v1/ea600db5-6add-46b1-b7e9-71a5607a33c1
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - 9991E650-EF21-4657-A3BA-58F03150B740
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-tm765
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 1.009323995s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/ea600db5-6add-46b1-b7e9-71a5607a33c1
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "ea600db5-6add-46b1-b7e9-71a5607a33c1",
              "meta" : {
                "created" : "2026-02-26T20:45:17.771Z",
                "createdBy" : "P000003",
                "lastModified" : "2026-02-26T20:45:17.771Z",
                "modifiedBy" : "P000003",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/ea600db5-6add-46b1-b7e9-71a5607a33c1",
                "type" : "charged",
                "version" : "1"
              },
              "name" : "SAML2 - Test App",
              "multiTenantApp" : false,
              "globalAccount" : "unknown",
              "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication", "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization", "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" ],
              "branding" : {
                "showDisplayNameOnLogonScreen" : true,
                "rememberMeVisible" : true,
                "rememberMeChecked" : false,
                "refreshParent" : true,
                "tokenUrlEmbedCharacter" : ";",
                "theme" : {
                  "type" : "horizon"
                }
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                "ssoType" : "saml2",
                "subjectNameIdentifier" : "uid",
                "rememberMeExpirationTimeInMonths" : 3,
                "passwordPolicy" : "https://accounts.sap.com/policy/passwords/sap/web/1.1",
                "userAccess" : {
                  "type" : "internal",
                  "userAttributesForAccess" : [ {
                    "userAttributeName" : "firstName",
                    "isRequired" : false
                  }, {
                    "userAttributeName" : "lastName",
                    "isRequired" : true
                  }, {
                    "userAttributeName" : "mail",
                    "isRequired" : true
                  } ]
                },
                "companyId" : "global",
                "clientId" : "cf49380b-646f-4d3e-9d2f-139a96c19e3b",
                "assertionAttributes" : [ {
                  "assertionAttributeName" : "first_name",
                  "userAttributeName" : "firstName",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "last_name",
                  "userAttributeName" : "lastName",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "mail",
                  "userAttributeName" : "mail",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "user_uuid",
                  "userAttributeName" : "userUuid",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "locale",
                  "userAttributeName" : "language",
                  "inherited" : false
                } ],
                "disabledInheritedProperties" : { },
                "spnegoEnabled" : false,
                "biometricAuthenticationEnabled" : false,
                "verifyMail" : true,
                "forceAuthentication" : false,
                "trustAllCorporateIdentityProviders" : false,
                "allowIasUsers" : false,
                "defaultAuthenticatingIdpId" : "664c660e25cff252c5c202dc",
                "riskBasedAuthentication" : {
                  "defaultAction" : [ "allow" ]
                },
                "saml2Configuration" : {
                  "defaultNameIdFormat" : "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
                  "acsEndpoints" : [ {
                    "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",
                    "location" : "https://test.1.com",
                    "index" : 1,
                    "isDefault" : true
                  } ],
                  "sloEndpoints" : [ {
                    "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",
                    "location" : "https://logout.1.com",
                    "responseLocation" : "https://logout-response.1.com"
                  } ],
                  "signSLOMessages" : true,
                  "requireSignedSLOMessages" : true,
                  "requireSignedAuthnRequest" : true,
                  "signAssertions" : true,
                  "signAuthnResponses" : true,
                  "responseElementsToEncrypt" : "wholeAssertion",
                  "certificatesForSigning" : [ {
                    "dn" : "CN=test (P000003),L=iasprovidertestblr.accounts400.ondemand.com,OU=8e1affb2-62a1-43cc-a687-2ba75e4b3d84,OU=Canary,OU=SAP Cloud Platform Clients,O=SAP SE,C=DE",
                    "base64Certificate" : "-----BEGIN CERTIFICATE-----\nredacted\n-----END CERTIFICATE-----",
                    "validFrom" : "2025-08-13T05:25:07Z",
                    "validTo" : "2026-08-13T06:25:07Z",
                    "isDefault" : true
                  } ],
                  "certificateForEncryption" : {
                    "dn" : "CN=test (P000003),L=iasprovidertestblr.accounts400.ondemand.com,OU=8e1affb2-62a1-43cc-a687-2ba75e4b3d84,OU=Canary,OU=SAP Cloud Platform Clients,O=SAP SE,C=DE",
                    "base64Certificate" : "-----BEGIN CERTIFICATE-----\nredacted\n-----END CERTIFICATE-----",
                    "validFrom" : "2025-08-13T05:25:07Z",
                    "validTo" : "2026-08-13T06:25:07Z"
                  },
                  "digestAlgorithm" : "sha1",
                  "proxyAuthnRequest" : {
                    "authenticationContext" : "none"
                  }
                },
                "openIdConnectConfiguration" : {
                  "tokenPolicy" : {
                    "jwtValidity" : 3600,
                    "refreshValidity" : 43200,
                    "refreshParallel" : 1,
                    "enableAuthzRuntime" : false,
                    "offlineAccess" : true,
                    "maxExchangePeriod" : "custom",
                    "maxExchangePeriodSeconds" : 7776000,
                    "refreshTokenRotationScenario" : "off",
                    "accessTokenFormat" : "default"
                  },
                  "restrictedGrantTypes" : [ "refreshToken", "jwtBearer", "clientCredentials", "authorizationCode", "password" ],
                  "enforceCompliantIssuer" : false
                },
                "restApiAuthentication" : {
                  "allowPublicClientFlows" : false,
                  "allApisAccess" : false,
                  "allowLocking" : true,
                  "failedLoginAttempts" : 0
                }
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" : {
                "centralStoreProvisioningEnabled" : false
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization" : {
                "amsConfiguration" : {
                  "enabled" : false,
                  "amsManagedAttributes" : { }
                }
              }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Critical-Origin-Trial:
                - Tpcd
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - 03014F00-E84D-4425-A6DC-59791C4F5619
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-tm765
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 226.072297ms
[...]
    - id: 4
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"operations":[{"op":"replace","path":"/name","value":"OIDC-test-app"},{"op":"replace","path":"/description","value":"application for testing purposes"},{"op":"replace","path":"/urn:sap:identity:application:schemas:extension:sci:1.0:Authentication/ssoType","value":"openIdConnect"},{"op":"replace","path":"/urn:sap:identity:application:schemas:extension:sci:1.0:Authentication/openIdConnectConfiguration/redirectUris","value":["https://redirectUris.com"]},{"op":"replace","path":"/urn:sap:identity:application:schemas:extension:sci:1.0:Authentication/ope[...]
    - id: 5
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/ea600db5-6add-46b1-b7e9-71a5607a33c1
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "ea600db5-6add-46b1-b7e9-71a5607a33c1",
              "meta" : {
                "created" : "2026-02-26T20:45:17.771Z",
                "createdBy" : "P000003",
                "lastModified" : "2026-02-26T20:45:20.302Z",
                "modifiedBy" : "P000003",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/ea600db5-6add-46b1-b7e9-71a5607a33c1",
                "type" : "charged",
                "version" : "1"
              },
              "name" : "OIDC-test-app",
              "description" : "application for testing purposes",
              "multiTenantApp" : false,
              "globalAccount" : "unknown",
              "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication", "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization", "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" ],
              "branding" : {
                "showDisplayNameOnLogonScreen" : true,
 [...]
[...]
