---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 56BA92EE-7E7A-4B97-A343-94062C666DFF
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-4s6ss
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 1.158631958s
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"0b35d8cf-722c-4151-951e-176b623c0b78","meta":{"created":"2025-02-16T19:39:42Z","lastModified":"2025-05-14T10:46:44Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78","resourceType":"User","version":"0f8f636b-1536-42b1-8ca4-02b07171b3e9"},"userName":"Terraform Custom Schemas","name":{"familyName":"User","givenName":"Terraform Custom Schemas"},"displayName":"None","userType":"employee","active":true,"emails":[{"value":"custom.user@test.com","primary":true}],"urn:test:terraform:1.0:User":{"test2":true,"test1":"test value"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"value":"custom.user@test.com","primary":true}],"userUuid":"0b35d8cf-722c-4151-951e-176b623c0b78","mailVerified":false,"userId":"P000194","status":"active"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"0f8f636b-1536-42b1-8ca4-02b07171b3e9-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78
            X-Ids-Id:
                - 678C5C9C-3564-4DB8-A45C-9D93C291391F
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-4s6ss
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 752.937083ms
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/0b35d8cf-722c-4151-951e-176b623c0b78
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"404","detail":"Group 0b35d8cf-722c-4151-951e-176b623c0b78 not found"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - A4562EA2-F544-4FE8-819C-F91D472B230C
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-4s6ss
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
            X-Message-Code:
                - IDS_EXCEPTION
        status: '404 '
        code: 404
        duration: 345.18875ms
    - id: 4
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Group","members":[{"value":"0b35d8cf-722c-4151-951e-176b623c0b78","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"Test-Group","description":"For testing purposes"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Group","id":"b55f952f-7216-4238-9b2a-92269065ec55","meta":{"created":"2026-08-31T08:35:18Z","lastModified":"2026-08-31T08:35:18Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/b55f952f-7216-4238-9b2a-92269065ec55","resourceType":"Group","version":"97c9cb35-5e2e-458b-b4b6-5d2f674e551c"},"members":[{"value":"0b35d8cf-722c-4151-951e-176b623c0b78","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6a953cc63db419478ccbf6d7","name":"Test-Group","description":"For testing purposes"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"97c9cb35-5e2e-458b-b4b6-5d2f674e551c"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/b55f952f-7216-4238-9b2a-92269065ec55
            X-Ids-Id:
                - 2FE5A106-C371-43D4-BBDE-6452170A90D9
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-4s6ss
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 577.92025ms
[...]
