---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Base Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"Test-Base-Group","description":"Base group for testing"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Base Group","id":"b3d16b6d-6352-41c1-b9e7-a282329fb9e3","meta":{"created":"2026-06-26T14:51:40Z","lastModified":"2026-06-26T14:51:40Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/b3d16b6d-6352-41c1-b9e7-a282329fb9e3","resourceType":"Group","version":"d6b615b4-30eb-4741-94d4-3d7caefa4f60"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6a3e91fcde95ec05ac0ed37f","name":"Test-Base-Group","description":"Base group for testing"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"d6b615b4-30eb-4741-94d4-3d7caefa4f60"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/b3d16b6d-6352-41c1-b9e7-a282329fb9e3
            X-Ids-Id:
                - F57AB20A-8DB8-496A-AB01-943D4C7E1BB5
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-8g79f
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 298.860084ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/b3d16b6d-6352-41c1-b9e7-a282329fb9e3
        method: GET
      response:
        body: '{"schemas":["urn:ietf:p[...]
[...]
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"replace","path":"displayName","value":"Test Base Group - Updated"},{"op":"replace","path":"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group:description","value":"Updated description"}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/b3d16b6d-6352-41c1-b9e7-a282329fb9e3
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 879FC995-CBCA-4C91-9599-772938B445FC
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-8g79f
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 328.663074ms
[...]
