---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 4875A4FC-111D-410C-9052-7C7C32C37A16
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-tnfgq
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 660.431501ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Base Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"Test-Base-Group","description":"Base group for testing"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Base Group","id":"1a3b3cf4-89ee-4393-922d-f9625a9ff420","meta":{"created":"2026-08-31T06:43:00Z","lastModified":"2026-08-31T06:43:00Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1a3b3cf4-89ee-4393-922d-f9625a9ff420","resourceType":"Group","version":"b6b2ff77-fc22-42f9-913b-95867269f714"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6a9522743db419478ccbf477","name":"Test-Base-Group","description":"Base group for testing"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"b6b2ff77-fc22-42f9-913b-95867269f714"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1a3b3cf4-89ee-4393-922d-f9625a9ff420
            X-Ids-Id:
                - E8D36D5B-10D4-4213-B04B-1CDB5ABFC35D
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-q85qc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 335.793708ms
[...]
    - id: 5
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1a3b3cf4-89ee-4393-922d-f9625a9ff420
        method: GET
      response:
        body: '{"schemas":["urn:ietf:p[...]
[...]
