---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test1":"testValue","test2":false,"test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"7b161479-f1c9-4d10-a6e4-fabf3d810be0","meta":{"created":"2026-03-23T09:19:39Z","lastModified":"2026-03-23T09:19:39Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/7b161479-f1c9-4d10-a6e4-fabf3d810be0","resourceType":"User","version":"87fa2a73-c8d2-4230-85d4-8bcc9ec2ca3a"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test2":false,"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"7b161479-f1c9-4d10-a6e4-fabf3d810be0","mailVerified":false,"userId":"P000860","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"87fa2a73-c8d2-4230-85d4-8bcc9ec2ca3a"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/7b161479-f1c9-4d10-a6e4-fabf3d810be0
            X-Ids-Id:
                - B3AF8B0D-F597-453F-BB82-26BD51DAB8A8
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-5rvjf
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 327.813806ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/7b161479-f1c9-4d10-a6e4-fabf3d810be0
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
