---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - FF2D7D7E-E9E9-43A7-BE92-628FE6AB4A31
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 203.036333ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"displayName":"SAML2 Update - Test Corporate IdP","forwardAllSsoRequests":true,"identityFederation":{"allowLocalUsersOnly":true,"applyLocalIdPAuthnChecks":true,"requiredGroups":["Test Group"],"useLocalUserStore":true},"loginHintConfiguration":{"loginHintType":"mail","sendMethod":"urlParam"},"logoutUrl":"https://example.com/logout","name":"saml2-update-idp-test","oidcConfiguration":null,"saml2Configuration":{"allowCreate":"true","assertionAttributes":[{"name":"attr_name","value":"attr_value"}],"certificatesForSigning":[{"base64Certificate":"-----BEGIN CERTIFICATE-----\nredacted\n-----END CERTIFICATE-----","dn":"Test","isDefault":true,"validFrom":"1999-01-01T00:00:00Z","validTo":"9999-12-31T23:59:59Z"}],"defaultNameIdFormat":"email","digestAlgorithm":"sha1","includeScoping":true,"samlMetadataUrl":"https://example.com/saml2-metadata","sloEndpoints":[{"bindingName":"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST","isDefault":true,"location":"https://test.com","responseLocation":"https://test.com"}],"ssoEndpoints":[{"bindingName":"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST","isDefault":true,"location":"https://test.com"}]},"type":"saml2"}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/
        method: POST
      response:
        body: ""
        headers:
            Location:
                - /IdentityProviders/v1/6fc3a265-7af9-46d1-aa41-4b7373c60bae
            X-Ids-Id:
                - 7188F857-6960-40FF-8351-BB3F1EB4A3C5
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 400.835792ms
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/6fc3a265-7af9-46d1-aa41-4b7373c60bae
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "6fc3a265-7af9-46d1-aa41-4b7373c60bae",
              "meta" : {
                "created" : "2026-08-31T08:28:05.378Z",
                "lastModified" : "2026-08-31T08:28:05.378Z",
                "createdBy" : "a355d701-4dbf-459c-900d-569786838c59",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/6fc3a265-7af9-46d1-aa41-4b7373c60bae"
              },
              "name" : "saml2-update-idp-test",
              "displayName" : "SAML2 Update - Test Corporate IdP",
              "companyId" : "global",
              "type" : "saml2",
              "logoutUrl" : "https://example.com/logout",
              "forwardAllSsoRequests" : true,
              "identityFederation" : {
                "useLocalUserStore" : true,
                "allowLocalUsersOnly" : true,
                "applyLocalIdPAuthnChecks" : true,
                "requiredGroups" : [ "Test Group" ]
              },
              "automaticRedirect" : true,
              "loginHintConfiguration" : {
                "loginHintType" : "mail",
                "sendMethod" : "urlParam"
              },
              "saml2Configuration" : {
                "digestAlgorithm" : "sha1",
                "includeScoping" : true,
                "samlMetadataUrl" : "https://example.com/saml2-metadata",
                "defaultNameIdFormat" : "email",
                "allowCreate" : "true",
                "assertionAttributes" : [ {
                  "name" : "attr_name",
                  "value" : "attr_value"
                } ],
                "signAuthnRequests" : "always",
                "signSingleLogoutMessages" : "always",
                "ssoEndpoints" : [ {
                  "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",
                  "location" : "https://test.com",
                  "isDefault" : true
                } ],
                "sloEndpoints" : [ {
                  "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",
                  "location" : "https://test.com",
                  "responseLocation" : "https://test.com",
                  "isDefault" : true
                } ],
                "certificatesForSigning" : [ {
                  "dn" : "Test",
                  "base64Certificate" : "-----BEGIN CERTIFICATE-----\nredacted\n-----END CERTIFICATE-----",
                  "validFrom" : "1999-01-01T00:00:00Z",
                  "validTo" : "9999-12-31T23:59:59Z",
                  "isDefault" : true
                } ]
              },
              "oidcConfiguration" : {
                "subjectNameIdentifier" : "email",
                "scopes" : [ "openid" ],
                "isClientSecretConfigured" : false,
                "pkceEnabled" : false
              }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - C836A386-0B12-438D-9E48-8F3B7032C0DA
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 254.430708ms
[...]
    - id: 10
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"operations":[{"op":"replace","path":"/displayName","value":"SAML2 Update - Updated IdP"},{"op":"replace","path":"/logoutUrl","value":"https://example.com/updated-logout"},{"op":"replace","path":"/identityFederation/requiredGroups","value":["Test Group","test_group_update"]},{"op":"replace","path":"/loginHintConfiguration/sendMethod","value":"authRequest"},{"op":"replace","path":"/saml2Configuration/samlMetadataUrl","value":"https://example.com/updated-metadata"},{"op":"replace","path":"/saml2Configuration/digestAlgorithm","value":[...]
    - id: 11
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/6fc3a265-7af9-46d1-aa41-4b7373c60bae
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "6fc3a265-7af9-46d1-aa41-4b7373c60bae",
              "meta" : {
                "created" : "2026-08-31T08:28:05.378Z",
                "lastModified" : "2026-08-31T08:28:08.237Z",
                "createdBy" : "a355d701-4dbf-459c-900d-569786838c59",
                "modifiedBy" : "a355d701-4dbf-459c-900d-569786838c59",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/6fc3a265-7af9-46d1-aa41-4b7373c60bae"
              },
              "name" : "saml2-update-idp-test",
              "displayName" : "SAML2 Update - Updated IdP",
              "companyId" : "global",
              "type" : "saml2",
              "logoutUrl" : "https://example.com/updated-logout",
              "forwardAllSsoRequests" : true,
           [...]
[...]
    - id: 18
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"operations":[{"op":"replace","path":"/identityFederation/requiredGroups","value":[]},{"op":"replace","path":"/saml2Configuration/assertionAttributes","value":[]},{"op":"replace","path":"/saml2Configuration/ssoEndpoints","value":[]},{"op":"replace","path":"/saml2Configuration/sloEndpoints","value":[]}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/6fc3a265-7af9-46d1-aa41-4b7373c60bae
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - DEC9EEB5-B68D-4C09-B984-26D6A3BA9B76
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-b6lv7
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 509.409084ms
[...]
