---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 8DADF601-0C4C-48C2-8EE7-7F9A0297D4EE
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-gfng5
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 744.088417ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/?startId=initial
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":10,"itemsPerPage":100,"startId":"initial","nextId":"end","Resources":[{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"CI/CD","id":"1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","meta":{"created":"2025-07-04T08:16:34Z","lastModified":"2026-05-22T07:00:51Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","resourceType":"Group","version":"fe624b75-d7b7-4d13-a13a-cf3ae61ba3ec"},"members":[{"value":"05282952-b334-4078-bd56-dd38b2e771e9","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/05282952-b334-4078-bd56-dd38b2e771e9"},{"value":"288fc004-2128-4701-a0d1-d4ee451eec19","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/288fc004-2128-4701-a0d1-d4ee451eec19"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"68678de25c51250dbd753398","name":"Github"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Test Group","id":"38e5c81d-9d42-4f08-a978-3ba77ceb99fd","meta":{"created":"2026-07-01T11:23:53Z","lastModified":"2026-08-31T07:49:38Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/38e5c81d-9d42-4f08-a978-3ba77ceb99fd","resourceType":"Group","version":"382f67ca-cfcf-4af3-b38d-cb113fb0faa6"},"members":[{"value":"1e5dd627-5220-4691-b5f4-8e061ea57d71","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/1e5dd627-5220-4691-b5f4-8e061ea57d71"},{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6a44f8c9fa74a803a5c38b26","name":"Test Group","description":"Used for the SCI provider unit tests. DO NOT DELETE."}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Group Update","id":"42611f86-d022-4e8e-81e7-4f34bf45b4da","meta":{"created":"2026-03-30T05:14:55Z","lastModified":"2026-03-30T05:14:55Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/42611f86-d022-4e8e-81e7-4f34bf45b4da","resourceType":"Group","version":"77f279b5-8a51-476f-bd74-6d2a8583601a"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"69ca06cf43def34a3cfac706","name":"test_group_update","description":"This group is for test update functionality."}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group","urn:ietf:params:scim:schemas:extension:sap:2.0:Group"],"displayName":"auth_group","id":"98a84ac5-fb95-486c-a61c-13db7d77bad1","meta":{"created":"2025-04-20T14:26:50Z","lastModified":"2026-04-24T06:18:29Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/98a84ac5-fb95-486c-a61c-13db7d77bad1","resourceType":"Group","version":"1777011509123410481"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6805042a4511a027500704b0","name":"98a84ac5-fb95-486c-a61c-13db7d77bad1"},"urn:ietf:params:scim:schemas:extension:sap:2.0:Group":{"supportedOperations":"userOnlyMembership","type":"authorization","applicationId":"de9cfc8d-e8e4-4623-891c-85ee28fd6c70"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group","urn:ietf:params:scim:schemas:extension:sap:2.0:Group"],"displayName":"perses-monika","id":"9cf4ab6c-4a43-4a2f-b761-3918604138f3","meta":{"created":"2026-04-24T06:21:45Z","lastModified":"2026-07-16T10:57:23Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/9cf4ab6c-4a43-4a2f-b761-3918604138f3","resourceType":"Group"[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/?startId=initial
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":29,"itemsPerPage":100,"startId":"initial","nextId":"end","Resources":[{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"05282952-b334-4078-bd56-dd38b2e771e9","meta":{"created":"2025-07-04T08:16:05Z","lastModified":"2025-07-04T08:16:05Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/05282952-b334-4078-bd56-dd38b2e771e9","resourceType":"User","version":"a3585c09-d7d3-40a9-9e80-6ab8540ac619","groups.cnt":1},"userName":"","name":{"familyName":"github.com","givenName":"sap-samples/btp-terraform-samples"},"displayName":"None","userType":"public","active":true,"emails":[{"value":"repo/sap-samples/btp-terraform-samples@github.com","primary":true}],"groups":[{"value":"1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","display":"CI/CD","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1ac7f501-aa83-4e06-8a05-dc6b4251d0b6"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"value":"repo/sap-samples/btp-terraform-samples@github.com","primary":true}],"userUuid":"05282952-b334-4078-bd56-dd38b2e771e9","mailVerified":false,"userId":"P000314","status":"active"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"06818f25-55b5-430d-98ad-5ae38e1a1d93","meta":{"created":"2026-04-21T08:05:24Z","lastModified":"2026-07-16T10:21:09Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/06818f25-55b5-430d-98ad-5ae38e1a1d93","resourceType":"User","version":"f077ee83-f9a8-458a-938d-600eacb3d7e0","groups.cnt":0},"userName":"","name":{"familyName":"Lechner","givenName":"Christian"},"displayName":"None","userType":"employee","active":true,"emails":[{"value":"christian.lechner@sap.com","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"value":"christian.lechner@sap.com","verifiedTime":"2026-04-21T08:08:05Z","primary":true}],"loginTime":"2026-07-16T10:21:09Z","userUuid":"06818f25-55b5-430d-98ad-5ae38e1a1d93","mailVerified":true,"userId":"P000941","passwordDetails":{"loginTime":"2026-07-16T10:21:09Z","failedLoginAttempts":0,"setTime":"2026-04-21T08:08:02Z","status":"enabled","policy":"https://accounts.sap.com/policy/passwords/sap/enterprise/1.0"},"status":"active"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"09159810-def3-4283-9f04-326c8b2efa94","meta":{"created":"2026-05-20T10:31:13Z","lastModified":"2026-05-20T10:43:32Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/09159810-def3-4283-9f04-326c8b2efa94","resourceType":"User","version":"0dd49e27-7899-44bf-9fe9-bed3b2c339b[...]
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
    - id: 4
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/38e5c81d-9d42-4f08-a978-3ba77ceb99fd
        method: GET
      response:
        body: '{"schemas":["urn:ietf:p[...]
[...]
    - id: 7
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/80f858a3-28ce-437e-ba31-d3358a5bdbfa
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"404","detail":"Group 80f858a3-28ce-437e-ba31-d3358a5bdbfa not found"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - CDB3F64B-EC96-4D2B-AAFE-2E137141F651
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-gfng5
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
            X-Message-Code:
                - IDS_EXCEPTION
        status: '404 '
        code: 404
        duration: 238.905375ms
    - id: 8
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"add","path":"members","value":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User"}]}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/38e5c81d-9d42-4f08-a978-3ba77ceb99fd
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 04070B0E-7D6C-4218-ABD6-B5F3AFB4B009
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-gfng5
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 369.091126ms
[...]
    - id: 29
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"remove","path":"members[value eq \"80f858a3-28ce-437e-ba31-d3358a5bdbfa\"]","value":null}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/38e5c81d-9d42-4f08-a978-3ba77ceb99fd
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 0BFE994B-6CBC-4B61-9111-798F09E02D92
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-gfng5
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 290.819834ms
    - id: 30
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/38e5c81d-9d42-4f08-a978-3ba77ceb99fd
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Test Group","id":"38e5c81d-9d42-4f08-a978-3ba77ceb99fd","meta":{"created":"2026-07-01T11:23:53Z","lastModified":"2026-09-01T05:01:22Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/38e5c81d-9d42-4f08-a978-3ba77ceb99fd","resourceType":"Group","version":"b1fa56f5-90eb-4f58-9e84-94b026ba2d9b"},"members":[{"value":"1e5dd627-5220-4691-b5f4-8e061ea57d71","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/1e5dd627-5220-4691-b5f4-8e061ea57d71"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6a44f8c9fa74a803a5c38b26","name":"Test Group","description":"Used for the SCI provider unit tests. DO NOT DELETE."}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"b1fa56f5-90eb-4f58-9e84-94b026ba2d9b-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/38e5c81d-9d42-4f08-a978-3ba77ceb99fd
            X-Ids-Id:
                - EC9811C3-ACED-4094-BA48-A7548329E139
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-gfng5
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 233.380042ms
