---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"id":"urn:ietf:scim:schemas:Terraform","name":"Terraform","description":"Test Schema","meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"attributes":[{"name":"test_attribute","type":"string","multiValued":true,"description":"Test Attribute","required":true,"canonicalValues":["test","attr"],"mutability":"readWrite","returned":"never","uniqueness":"none"}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/
        method: POST
      response:
        body: '{"id":"urn:ietf:scim:schemas:Terraform","schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"attributes":[{"name":"test_attribute","type":"string","multiValued":true,"description":"Test Attribute","required":true,"canonicalValues":["test","attr"],"caseExact":false,"mutability":"readWrite","returned":"never","uniqueness":"none"}],"name":"Terraform","description":"Test Schema","meta":{"created":"2026-03-24T09:22:16Z","lastModified":"2026-03-24T09:22:16Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Ascim%3Aschemas%3ATerraform","resourceType":"Schema","version":"7312de80-0f7c-437e-8414-8da7045c778c"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"7312de80-0f7c-437e-8414-8da7045c778c"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Ascim%3Aschemas%3ATerraform
            X-Ids-Id:
                - 10B64DFA-154F-4478-8721-E9AB14CB5B8E
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-64v2h
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 1.054287633s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn:ietf:scim:schemas:Terraform
        method: GET
      response:
        body: '{"id":"urn:ietf:scim:schema[...]
[...]
