---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 629D3285-2B03-49FE-8EFD-ADDAD0C94609
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 216.547ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"status":"new"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"51f26b59-7ee1-48d2-9e5b-e1ead0627fbd","meta":{"created":"2026-08-31T06:43:03Z","lastModified":"2026-08-31T06:43:03Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/51f26b59-7ee1-48d2-9e5b-e1ead0627fbd","resourceType":"User","version":"749f0ecf-74f8-4742-a8cc-aefe621e93f6"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"51f26b59-7ee1-48d2-9e5b-e1ead0627fbd","mailVerified":false,"userId":"P001410","status":"new"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"749f0ecf-74f8-4742-a8cc-aefe621e93f6"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/51f26b59-7ee1-48d2-9e5b-e1ead0627fbd
            X-Ids-Id:
                - 0F7ED841-C650-4092-8608-7F380D0F60B8
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 314.989417ms
[...]
    - id: 5
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/51f26b59-7ee1-48d2-9e5b-e1ead0627fbd
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
    - id: 9
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"replace","path":"userName","value":"jdoe_s"},{"op":"replace","path":"displayName","value":"Joe Doe S"},{"op":"replace","path":"emails","value":[{"value":"joe.doe.s@test.com","type":"home"},{"value":"joe.doe@test.com","type":"work","primary":true}]},{"op":"replace","path":"userType","value":"customer"},{"op":"replace","path":"active","value":true},{"op":"replace","path":"name","value":{"familyName":"Doe S","givenName":"Joe","honorificPrefix":"Mr."}},{"op":"replace","path":"urn:ietf:params:scim:schemas:extension:sap:2.0:User:mailVerified","value":true},{"op":"replace","path":"urn:ietf:params:scim:schemas:extension:sap:2.0:User:status","value":"active"}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/51f26b59-7ee1-48d2-9e5b-e1ead0627fbd
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 55F07FAF-1D41-493F-A23D-DEDDDAA7743D
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-vx88g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 442.906ms
[...]
