---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 3940D105-6964-44C7-BC79-1E6F4E24DB2D
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lpngf
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 217.525083ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/73afa691-5946-4bb1-9c39-b404e4b21594
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "73afa691-5946-4bb1-9c39-b404e4b21594",
              "name" : "XSUAA_b75a605d-151c-4485-83f4-64604378e4ec",
              "multiTenantApp" : false,
              "globalAccount" : "e92e2c9c-ea09-4c43-a061-a136a7cfcca0",
              "meta" : {
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/73afa691-5946-4bb1-9c39-b404e4b21594",
                "resourceType" : "Application",
                "created" : "2026-08-31T06:43:19Z",
                "lastModified" : "2026-08-31T06:43:19Z",
                "type" : "bundled",
                "version" : "1"
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                "ssoType" : "openIdConnect",
                "subjectNameIdentifier" : "mail"
              },
              "urnietfparamsscimschemasextensionsap20ApplicationAuthentication" : {
                "sapManagedAttributes" : {
                  "appTenantId" : "b75a605d-151c-4485-83f4-64604378e4ec",
                  "type" : "xsuaa",
                  "provisioningContext" : { }
                },
                "restApiAuthentication" : {
                  "allowPublicClientFlows" : false,
                  "allApisAccess" : false
                }
              }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - E9D09811-9D29-4AAC-B77F-6E58B21E9B3C
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-98x6r
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 430.193583ms
