---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - A72695D4-53D7-45BF-AFE9-57AC08B6F233
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv8cc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 189.765001ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/5b4e7391-67d2-419f-8f0e-46f46f1f67ec
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"404","detail":"User 5b4e7391-67d2-419f-8f0e-46f46f1f67ec not found"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - 8EF39123-9D57-41EE-9933-6F047507AF98
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv8cc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
            X-Message-Code:
                - IDS_EXCEPTION
        status: '404 '
        code: 404
        duration: 280.305042ms
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/5b4e7391-67d2-419f-8f0e-46f46f1f67ec
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"404","detail":"Group 5b4e7391-67d2-419f-8f0e-46f46f1f67ec not found"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - 8497C7D5-927C-42FC-9204-28381AC7D3F0
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv8cc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
            X-Message-Code:
                - IDS_EXCEPTION
        status: '404 '
        code: 404
        duration: 236.367458ms
