---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 53D0A1F7-1946-47FB-9FC6-3D7DD72BD80B
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 900.069958ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"displayName":"SAML2 - Test Corporate IdP","forwardAllSsoRequests":true,"identityFederation":{"allowLocalUsersOnly":true,"applyLocalIdPAuthnChecks":true,"requiredGroups":["Test Group"],"useLocalUserStore":true},"loginHintConfiguration":{"loginHintType":"mail","sendMethod":"urlParam"},"logoutUrl":"https://example.com/logout","name":"SAML2 - Test IdP","oidcConfiguration":null,"saml2Configuration":{"allowCreate":"true","assertionAttributes":[{"name":"attr_name","value":"attr_value"}],"certificatesForSigning":[{"base64Certificate":"-----BEGIN CERTIFICATE-----\nredacted\n-----END CERTIFICATE-----","dn":"Test","isDefault":true,"validFrom":"1999-01-01T00:00:00Z","validTo":"9999-12-31T23:59:59Z"}],"defaultNameIdFormat":"email","digestAlgorithm":"sha1","includeScoping":true,"samlMetadataUrl":"https://example.com/saml2-metadata","sloEndpoints":[{"bindingName":"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST","isDefault":true,"location":"https://test.com","responseLocation":"https://test.com"}],"ssoEndpoints":[{"bindingName":"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST","isDefault":true,"location":"https://test.com"}]},"type":"saml2"}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/
        method: POST
      response:
        body: ""
        headers:
            Location:
                - /IdentityProviders/v1/6e585f03-b1f9-4780-b2d4-55fe83c3c438
            X-Ids-Id:
                - 34DAB22D-B5BD-4544-9D67-21265E3F0F3B
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 664.601709ms
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/6e585f03-b1f9-4780-b2d4-55fe83c3c438
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "6e585f03-b1f9-4780-b2d4-55fe83c3c438",
              "meta" : {
                "created" : "2026-08-31T08:27:56.795Z",
                "lastModified" : "2026-08-31T08:27:56.795Z",
                "createdBy" : "a355d701-4dbf-459c-900d-569786838c59",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/6e585f03-b1f9-4780-b2d4-55fe83c3c438"
              },
              "name" : "SAML2 - Test IdP",
              "displayName" : "SAML2 - Test Corporate IdP",
              "companyId" : "global",
              "type" : "saml2",
              "logoutUrl" : "https://example.com/logout",
              "forwardAllSsoRequests" : true,
              "identityFederation" : {
                "useLocalUserStore" : true,
                "allowLocalUsersOnly" : true,
                "applyLocalIdPAuthnChecks" : true,
                "requiredGroups" : [ "Test Group" ]
              },
              "automaticRedirect" : true,
              "loginHintConfiguration" : {
                "loginHintType" : "mail",
                "sendMethod" : "urlParam"
              },
              "saml2Configuration" : {
                "digestAlgorithm" : "sha1",
                "includeScoping" : true,
                "samlMetadataUrl" : "https://example.com/saml2-metadata",
                "defaultNameIdFormat" : "email",
                "allowCreate" : "true",
                "assertionAttributes" : [ {
                  "name" : "attr_name",
                  "value" : "attr_value"
                } ],
                "signAuthnRequests" : "always",
                "signSingleLogoutMessages" : "always",
                "ssoEndpoints" : [ {
                  "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",
                  "location" : "https://test.com",
                  "isDefault" : true
                } ],
                "sloEndpoints" : [ {
                  "bindingName" : "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",
                  "location" : "https://test.com",
                  "responseLocation" : "https://test.com",
                  "isDefault" : true
                } ],
                "certificatesForSigning" : [ {
                  "dn" : "Test",
                  "base64Certificate" : "-----BEGIN CERTIFICATE-----\nredacted\n-----END CERTIFICATE-----",
                  "validFrom" : "1999-01-01T00:00:00Z",
                  "validTo" : "9999-12-31T23:59:59Z",
                  "isDefault" : true
                } ]
              },
              "oidcConfiguration" : {
                "subjectNameIdentifier" : "email",
                "scopes" : [ "openid" ],
                "isClientSecretConfigured" : false,
                "pkceEnabled" : false
              }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 4042417A-268C-4D4F-BD59-0AF34309F78F
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 292.005376ms
[...]
