---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"description":"test secret","validTo":"2029-10-12T10:00:00Z","authorizationScopes":["manageApp"]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/5fd22812-53c5-4803-8285-94cd1fb3b301/apiSecrets
        method: POST
      response:
            - chunked
        body: |-
            {
              "authorizationScopes" : [ "manageApp" ],
              "description" : "test secret",
              "id" : "bd7bc5c2-ff90-4c3a-bee7-f42e0a884607",
              "hint" : "7fyt",
              "validTo" : "2029-10-12T10:00:00Z",
              "allApisAccess" : false,
              "clientId" : "0cfd55a9-72b6-49c9-87fe-b30c21c00500",
              "secret" : "7fytafytMh]ET[vD4M8cv4M/.?R/t9_ISuB"
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Critical-Origin-Trial:
                - Tpcd
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - FABE5A1D-8BA3-4206-AEC7-5F4553914634
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-t972b
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 1.298901084s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/5fd22812-53c5-4803-8285-94cd1fb3b301/apiSecrets
        method: GET
      response:
            - chunked
        body: |-
            {
              "secrets" : [ {
                "authorizationScopes" : [ "manageApp" ],
                "description" : "test secret",
                "id" : "bd7bc5c2-ff90-4c3a-bee7-f42e0a884607",
                "hint" : "7fyt",
                "validTo" : "2029-10-12T10:00:00Z",
                "allApisAccess" : false
              }, {
                "authorizationScopes" : [ "manageApp" ],
                "description" : "test secret",
                "id" : "6d93947a-6f40-4b62-8c50-a09d2436ef3c",
                "[...]
[...]
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"operations":[{"op":"replace","path":"/description","value":"updated secret"},{"op":"replace","path":"/validTo","value":"2030-01-01T00:00:00Z"},{"op":"replace","path":"/authorizationScopes","value":["manageApp","oAuth"]}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/5fd22812-53c5-4803-8285-94cd1fb3b301/apiSecrets/bd7bc5c2-ff90-4c3a-bee7-f42e0a884607
        method: PATCH
      response:
        body: ""
        headers:
            Critical-Origin-Trial:
                - Tpcd
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - 4B7C90E3-D7AF-4F1E-B69E-87670242CC2A
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-mdbsd
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 1.139859667s
[...]
    - id: 6
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/5fd22812-53c5-4803-8285-94cd1fb3b301/apiSecrets?id=bd7bc5c2-ff90-4c3a-bee7-f42e0a884607
        method: DELETE
      response:
        body: ""
        headers:
            Critical-Origin-Trial:
                - Tpcd
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - 7E276CFF-E73A-48FE-8124-F36ECE86AF83
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-h6ddv
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 328.291584ms
