---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Base Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"Test-Base-Group","description":"Base group for testing"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Base Group","id":"37a633e1-f528-4a2c-9423-4fdb66a15298","meta":{"created":"2026-07-01T06:34:20Z","lastModified":"2026-07-01T06:34:20Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/37a633e1-f528-4a2c-9423-4fdb66a15298","resourceType":"Group","version":"fe3a44c8-67cf-4909-8864-3d5929dc1b21"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6a44b4ec6d30701702a89817","name":"Test-Base-Group","description":"Base group for testing"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"fe3a44c8-67cf-4909-8864-3d5929dc1b21"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/37a633e1-f528-4a2c-9423-4fdb66a15298
            X-Ids-Id:
                - 83EA0E77-D7D4-4337-AC4C-208656833FA6
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-8p9gb
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 942.732937ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/37a633e1-f528-4a2c-9423-4fdb66a15298
        method: GET
      response:
        body: '{"schemas":["urn:ietf:p[...]
[...]
