---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 92F591AD-ECB4-4549-B2DD-3EBC7A2E4380
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv8cc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 188.5435ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test1":"testValue","test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"8559ed45-cdd4-41d5-8c4d-6512650888cb","meta":{"created":"2026-08-31T06:43:11Z","lastModified":"2026-08-31T06:43:11Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/8559ed45-cdd4-41d5-8c4d-6512650888cb","resourceType":"User","version":"b13cd38d-d24d-4dea-8c8f-914e5f82c6b5"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"8559ed45-cdd4-41d5-8c4d-6512650888cb","mailVerified":false,"userId":"P001412","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"b13cd38d-d24d-4dea-8c8f-914e5f82c6b5"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/8559ed45-cdd4-41d5-8c4d-6512650888cb
            X-Ids-Id:
                - 75EE39C1-D88F-4754-B0D9-94C7CFCE0E01
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 389.534708ms
[...]
    - id: 5
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/8559ed45-cdd4-41d5-8c4d-6512650888cb
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
    - id: 9
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"replace","path":"urn:test:terraform:1.0:User:test1","value":"newTestValue"},{"op":"add","path":"urn:test:terraform:1.0:User:test2","value":true},{"op":"remove","path":"urn:test:terraform:1.0:User:test3","value":null},{"op":"add","path":"urn:test:terraform:2.0:User:test1","value":12},{"op":"add","path":"urn:test:terraform:2.0:User:test2","value":12.34}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/8559ed45-cdd4-41d5-8c4d-6512650888cb
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 8F4DD216-7505-41CC-9862-F182B3FF6F0C
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-98x6r
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 362.599084ms
    - id: 10
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/8559ed45-cdd4-41d5-8c4d-6512650888cb
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:test:terraform:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"8559ed45-cdd4-41d5-8c4d-6512650888cb","meta":{"created":"2026-08-31T06:43:11Z","lastModified":"2026-08-31T06:43:13Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/8559ed45-cdd4-41d5-8c4d-6512650888cb","resourceType":"User","version":"1d874a38-1353-4867-9957-2f9f9712dddc"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test2":true,"test1":"newTestValue"},"urn:test:terraform:2.0:User":{"test2":12.34,"test1":12},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"8559ed45-cdd4-41d5-8c4d-6512650888cb","mailVerified":false,"userId":"P001412","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"1d874a38-1353-4867-9957-2f9f9712dddc-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/8559ed45-cdd4-41d5-8c4d-6512650888cb
            X-Ids-Id:
                - B57D9ADB-4E44-4723-A9B0-3ED92ED0A5BF
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-98x6r
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 242.947542ms
[...]
    - id: 17
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"remove","path":"urn:test:terraform:2.0:User","value":null}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/8559ed45-cdd4-41d5-8c4d-6512650888cb
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 9BD53FAF-3574-490A-9997-9C79C6CF82E0
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 319.180542ms
[...]
