---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 23FCAC2E-4592-4D39-B56B-F00D29939FB0
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lpngf
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 195.566875ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/31e38d9c-ca48-4227-963d-32e7dfcb5007
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "31e38d9c-ca48-4227-963d-32e7dfcb5007",
              "name" : "identity-subscription-c6c390f4-c9a2-4a6c-9cc7-01675a31e4f6-in-b75a605d-151c-4485-83f4-64604378e4ec",
              "multiTenantApp" : false,
              "globalAccount" : "e92e2c9c-ea09-4c43-a061-a136a7cfcca0",
              "meta" : {
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/31e38d9c-ca48-4227-963d-32e7dfcb5007",
                "resourceType" : "Application",
                "created" : "2026-08-31T06:43:19Z",
                "lastModified" : "2026-08-31T06:43:19Z",
                "type" : "bundled",
                "version" : "1"
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                "ssoType" : "openIdConnect",
                "subjectNameIdentifier" : "mail"
              },
              "urnietfparamsscimschemasextensionsap20ApplicationAuthentication" : {
                "sapManagedAttributes" : {
                  "appTenantId" : "b75a605d-151c-4485-83f4-64604378e4ec",
                  "type" : "subscription",
                  "sourceAppId" : "3cc4b385-fe8b-423a-a8c0-34e15c9970cd",
                  "sourceTenantId" : "sapdas",
                  "serviceInstanceId" : "c6c390f4-c9a2-4a6c-9cc7-01675a31e4f6",
                  "provisioningContext" : { }
                },
                "restApiAuthentication" : {
                  "allowPublicClientFlows" : false,
                  "allApisAccess" : false
                }
              }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - A749F2C3-75A2-4353-9E0E-DD08DAA4E19D
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-vx88g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 247.424542ms
