---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test1":"testValue","test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"104d115d-e62d-4e0b-b13d-31c6ba24ba42","meta":{"created":"2026-03-23T09:16:24Z","lastModified":"2026-03-23T09:16:24Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/104d115d-e62d-4e0b-b13d-31c6ba24ba42","resourceType":"User","version":"18271ee2-f312-474b-8562-a3387a51357f"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"104d115d-e62d-4e0b-b13d-31c6ba24ba42","mailVerified":false,"userId":"P000857","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"18271ee2-f312-474b-8562-a3387a51357f"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/104d115d-e62d-4e0b-b13d-31c6ba24ba42
            X-Ids-Id:
                - 017D3C5A-C518-4135-A02C-33D1097CD564
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-bzwc7
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 1.033395799s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/104d115d-e62d-4e0b-b13d-31c6ba24ba42
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"replace","path":"urn:test:terraform:1.0:User:test1","value":"newTestValue"},{"op":"add","path":"urn:test:terraform:1.0:User:test2","value":true},{"op":"remove","path":"urn:test:terraform:1.0:User:test3","value":null},{"op":"add","path":"urn:test:terraform:2.0:User:test1","value":12},{"op":"add","path":"urn:test:terraform:2.0:User:test2","value":12.34}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/104d115d-e62d-4e0b-b13d-31c6ba24ba42
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - FA59ABA8-05AE-4178-B547-48016964A97F
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-bzwc7
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 262.294038ms
    - id: 4
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/104d115d-e62d-4e0b-b13d-31c6ba24ba42
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:test:terraform:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"104d115d-e62d-4e0b-b13d-31c6ba24ba42","meta":{"created":"2026-03-23T09:16:24Z","lastModified":"2026-03-23T09:16:26Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/104d115d-e62d-4e0b-b13d-31c6ba24ba42","resourceType":"User","version":"364a924b-175d-43aa-bb84-a7c37724b024"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test2":true,"test1":"newTestValue"},"urn:test:terraform:2.0:User":{"test2":12.34,"test1":12},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"104d115d-e62d-4e0b-b13d-31c6ba24ba42","mailVerified":false,"userId":"P000857","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"364a924b-175d-43aa-bb84-a7c37724b024-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/104d115d-e62d-4e0b-b13d-31c6ba24ba42
            X-Ids-Id:
                - 012C5002-62FE-44E5-9491-208EF90E62BA
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-bzwc7
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 250.005688ms
[...]
    - id: 9
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"remove","path":"urn:test:terraform:2.0:User","value":null}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/104d115d-e62d-4e0b-b13d-31c6ba24ba42
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 4FDFF0A9-E81E-42F5-AA39-CB6DDEDB3DD9
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-bzwc7
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 239.347266ms
[...]
