---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"description":"test secret","validTo":"2029-10-12T10:00:00Z","authorizationScopes":["manageApp"]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/5fd22812-53c5-4803-8285-94cd1fb3b301/apiSecrets
        method: POST
      response:
            - chunked
        body: |-
            {
              "authorizationScopes" : [ "manageApp" ],
              "description" : "test secret",
              "id" : "b5625fa7-3364-4ced-b629-c181f3ce9e93",
              "hint" : "WMnw",
              "validTo" : "2029-10-12T10:00:00Z",
              "allApisAccess" : false,
              "clientId" : "0cfd55a9-72b6-49c9-87fe-b30c21c00500",
              "secret" : "WMnwH4G/kBVwE[n-rY8mtG8e_:h-eEC"
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Critical-Origin-Trial:
                - Tpcd
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - EF8A60F0-CC7B-4B3B-AC46-32BC06D777A0
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-rjxv9
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 1.001389833s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/5fd22812-53c5-4803-8285-94cd1fb3b301/apiSecrets
        method: GET
      response:
            - chunked
        body: |-
            {
              "secrets" : [ {
                "authorizationScopes" : [ "manageApp" ],
                "description" : "test secret",
                "id" : "b5625fa7-3364-4ced-b629-c181f3ce9e93",
                "hint" : "WMnw",
                "validTo" : "2029-10-12T10:00:00Z",
                "allApisAccess" : false
              }, {
                "authorizationScopes" : [ "manageApp" ],
                "description" : "test secret",
                "id" : "6d93947a-6f40-4b62-8c50-a09d2436ef3c",
                "[...]
[...]
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"operations":[{"op":"replace","path":"/description","value":"updated secret"},{"op":"replace","path":"/validTo","value":"2030-01-01T00:00:00Z"},{"op":"replace","path":"/authorizationScopes","value":["manageApp","oAuth"]}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/5fd22812-53c5-4803-8285-94cd1fb3b301/apiSecrets/b5625fa7-3364-4ced-b629-c181f3ce9e93
        method: PATCH
      response:
        body: ""
        headers:
            Critical-Origin-Trial:
                - Tpcd
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - 3938D699-AD1C-412B-99AB-0B675E5F0B18
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-6gpnk
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 1.179258959s
[...]
    - id: 6
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/5fd22812-53c5-4803-8285-94cd1fb3b301/apiSecrets?id=b5625fa7-3364-4ced-b629-c181f3ce9e93
        method: DELETE
      response:
        body: ""
        headers:
            Critical-Origin-Trial:
                - Tpcd
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - DD75AEFD-4CD4-41B9-A393-AE041F7FC1E5
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-8tnzq
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 968.447542ms
