---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test1":"testValue","test2":false,"test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"bf831bdd-7a47-4fbd-909b-294a6ac86f6f","meta":{"created":"2026-03-23T08:09:08Z","lastModified":"2026-03-23T08:09:08Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/bf831bdd-7a47-4fbd-909b-294a6ac86f6f","resourceType":"User","version":"d7ea59e1-f707-4e2f-8327-cb5b1c80741a"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test2":false,"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"bf831bdd-7a47-4fbd-909b-294a6ac86f6f","mailVerified":false,"userId":"P000851","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"d7ea59e1-f707-4e2f-8327-cb5b1c80741a"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/bf831bdd-7a47-4fbd-909b-294a6ac86f6f
            X-Ids-Id:
                - 3A7E0998-7F9D-4125-82C4-5B560A912BE7
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-xjk5g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 279.644226ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/bf831bdd-7a47-4fbd-909b-294a6ac86f6f
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
