---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"status":"new"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"bbc3c5b5-b210-4b5b-9707-46c5a76da2ae","meta":{"created":"2026-03-23T08:09:04Z","lastModified":"2026-03-23T08:09:04Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/bbc3c5b5-b210-4b5b-9707-46c5a76da2ae","resourceType":"User","version":"fdbceda2-da6e-4f11-be63-c311dfa7ac32"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"bbc3c5b5-b210-4b5b-9707-46c5a76da2ae","mailVerified":false,"userId":"P000850","status":"new"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"fdbceda2-da6e-4f11-be63-c311dfa7ac32"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/bbc3c5b5-b210-4b5b-9707-46c5a76da2ae
            X-Ids-Id:
                - 691F7BEB-4EE4-40A1-A689-3AFF0773249A
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-xjk5g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 272.347208ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/bbc3c5b5-b210-4b5b-9707-46c5a76da2ae
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"replace","path":"userName","value":"jdoe_s"},{"op":"replace","path":"displayName","value":"Joe Doe S"},{"op":"replace","path":"emails","value":[{"value":"joe.doe.s@test.com","type":"home"},{"value":"joe.doe@test.com","type":"work","primary":true}]},{"op":"replace","path":"userType","value":"customer"},{"op":"replace","path":"active","value":true},{"op":"replace","path":"name","value":{"familyName":"Doe S","givenName":"Joe","honorificPrefix":"Mr."}},{"op":"replace","path":"urn:ietf:params:scim:schemas:extension:sap:2.0:User:mailVerified","value":true},{"op":"replace","path":"urn:ietf:params:scim:schemas:extension:sap:2.0:User:status","value":"active"}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/bbc3c5b5-b210-4b5b-9707-46c5a76da2ae
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 291C3983-972E-4409-8C1A-5804A7103A31
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-xjk5g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 223.270932ms
[...]
