---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"id":"urn:ietf:scim:schemas:Terraform","name":"Terraform","description":"Test Schema","meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"attributes":[{"name":"test_attribute","type":"string","multiValued":true,"description":"Test Attribute","required":true,"canonicalValues":["test","attr"],"caseExact":false,"mutability":"readWrite","returned":"never","uniqueness":"none"}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/
        method: POST
      response:
        body: '{"id":"urn:ietf:scim:schemas:Terraform","schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"attributes":[{"name":"test_attribute","type":"string","multiValued":true,"description":"Test Attribute","required":true,"canonicalValues":["test","attr"],"caseExact":false,"mutability":"readWrite","returned":"never","uniqueness":"none"}],"name":"Terraform","description":"Test Schema","meta":{"created":"2025-08-29T09:47:10Z","lastModified":"2025-08-29T09:47:10Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Ascim%3Aschemas%3ATerraform","resourceType":"Schema","version":"8f197078-e4b6-4068-a5c5-bca2747a112c"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"8f197078-e4b6-4068-a5c5-bca2747a112c"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Ascim%3Aschemas%3ATerraform
            X-Ids-Id:
                - 7A9D2086-F3F0-4588-9AEC-B7C242C33650
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-4nfmn
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 1.193857085s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn:ietf:scim:schemas:Terraform
        method: GET
      response:
        body: '{"id":"urn:ietf:scim:schema[...]
[...]
