---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 9E5649C9-25AB-4FB7-B96A-DFB97511622E
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 215.136334ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"id":"urn:ietf:scim:schemas:Terraform","name":"Terraform","description":"Test Schema","meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"attributes":[{"name":"test_attribute","type":"string","multiValued":true,"description":"Test Attribute","required":true,"canonicalValues":["test","attr"],"mutability":"readWrite","returned":"never","uniqueness":"none"}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/
        method: POST
      response:
        body: '{"id":"urn:ietf:scim:schemas:Terraform","schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"attributes":[{"name":"test_attribute","type":"string","multiValued":true,"description":"Test Attribute","required":true,"canonicalValues":["test","attr"],"caseExact":false,"mutability":"readWrite","returned":"never","uniqueness":"none"}],"name":"Terraform","description":"Test Schema","meta":{"created":"2026-08-31T06:43:07Z","lastModified":"2026-08-31T06:43:07Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Ascim%3Aschemas%3ATerraform","resourceType":"Schema","version":"2fcb4a7a-e170-40d2-8ac9-0126e21b3f2b"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"2fcb4a7a-e170-40d2-8ac9-0126e21b3f2b"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Ascim%3Aschemas%3ATerraform
            X-Ids-Id:
                - 382C9A5B-98B6-429D-8B65-C76B48C88A9E
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-4s6ss
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 326.461792ms
[...]
    - id: 5
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn:ietf:scim:schemas:Terraform
        method: GET
      response:
        body: '{"id":"urn:ietf:scim:schema[...]
[...]
