---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 9AB46092-CB6F-4BDA-A673-FEF8D0F27866
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-vx88g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 197.087ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"id":"","name":"fallback-test-app","description":"application for testing fallback subject name identifier","urn:sap:identity:application:schemas:extension:sci:1.0:Authentication":{"subjectNameIdentifier":"mail","assertionAttributes":null,"fallbackSubjectNameIdentifier":"loginName"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/
        method: POST
      response:
        body: ""
        headers:
            Location:
                - /Applications/v1/e35de4d9-5f9d-43b3-811d-65dabacee3cd
            X-Ids-Id:
                - 20361DDB-9F1D-4C1C-B1BD-E6D98580C755
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-vx88g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 334.925501ms
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/e35de4d9-5f9d-43b3-811d-65dabacee3cd
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "e35de4d9-5f9d-43b3-811d-65dabacee3cd",
              "meta" : {
                "created" : "2026-08-31T06:43:58.955Z",
                "createdBy" : "a355d701-4dbf-459c-900d-569786838c59",
                "lastModified" : "2026-08-31T06:43:58.955Z",
                "modifiedBy" : "a355d701-4dbf-459c-900d-569786838c59",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/e35de4d9-5f9d-43b3-811d-65dabacee3cd",
                "type" : "charged",
                "version" : "1"
              },
              "name" : "fallback-test-app",
              "description" : "application for testing fallback subject name identifier",
              "multiTenantApp" : false,
              "globalAccount" : "unknown",
              "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication", "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization", "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" ],
              "branding" : {
                "showDisplayNameOnLogonScreen" : true,
                "rememberMeVisible" : true,
                "rememberMeChecked" : false,
                "refreshParent" : true,
                "tokenUrlEmbedCharacter" : ";",
                "theme" : {
                  "type" : "horizon"
                }
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                "ssoType" : "saml2",
                "subjectNameIdentifier" : "mail",
                "fallbackSubjectNameIdentifier" : "loginName",
                "subjectNameIdentifierFunction" : "none",
                "rememberMeExpirationTimeInMonths" : 3,
                "passwordPolicy" : "https://accounts.sap.com/policy/passwords/sap/web/1.1",
                "userAccess" : {
                  "type" : "internal",
                  "userAttributesForAccess" : [ {
                    "userAttributeName" : "firstName",
                    "isRequired" : false
                  }, {
                    "userAttributeName" : "lastName",
                    "isRequired" : true
                  }, {
                    "userAttributeName" : "mail",
                    "isRequired" : true
                  } ]
                },
                "companyId" : "global",
                "clientId" : "4c0774a1-d7f8-4c8a-be49-35293aa161cb",
                "assertionAttributes" : [ {
                  "assertionAttributeName" : "first_name",
                  "userAttributeName" : "firstName",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "last_name",
                  "userAttributeName" : "lastName",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "mail",
                  "userAttributeName" : "mail",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "user_uuid",
                  "userAttributeName" : "userUuid",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "locale",
                  "userAttributeName" : "language",
                  "inherited" : false
                } ],
                "disabledInheritedProperties" : { },
                "spnegoEnabled" : false,
                "biometricAuthenticationEnabled" : false,
                "verifyMail" : true,
                "forceAuthentication" : false,
                "trustAllCorporateIdentityProviders" : false,
                "allowIasUsers" : false,
                "defaultAuthenticatingIdpId" : "f2615e9b-5fa6-4680-891d-9f0eb41fff6b",
                "defaultAuthenticatingIdpName" : "Identity Authentication",
                "isUsingDefaultIdp" : true,
                "riskBasedAuthentication" : {
                  "defaultAction" : [ "allow" ]
                },
                "saml2Configuration" : {
                  "defaultNameIdFormat" : "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
                  "signSLOMessages" : true,
                  "requireSignedSLOMessages" : true,
                  "requireSignedAuthnRequest" : false,
                  "signAssertions" : true,
                  "signAuthnResponses" : false,
                  "responseElementsToEncrypt" : "none",
                  "digestAlgorithm" : "sha256",
                  "proxyAuthnRequest" : {
                    "authenticationContext" : "none"
                  }
                },
                "openIdConnectConfiguration" : {
                  "tokenPolicy" : {
                    "jwtValidity" : 3600,
                    "refreshValidity" : 43200,
                    "refreshParallel" : 1,
                    "enableAuthzRuntime" : false,
                    "offlineAccess" : true,
                    "maxExchangePeriod" : "custom",
                    "maxExchangePeriodSeconds" : 7776000,
                    "refreshTokenRotationScenario" : "off",
                    "accessTokenFormat" : "default"
                  },
                  "restrictedGrantTypes" : [ "clientCredentials", "jwtBearer", "refreshToken", "authorizationCode", "password" ],
                  "enforceCompliantIssuer" : false
                },
                "restApiAuthentication" : {
                  "allowPublicClientFlows" : false,
                  "allApisAccess" : false,
                  "allowLocking" : true,
                  "failedLoginAttempts" : 0
                }
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" : {
                "centralStoreProvisioningEnabled" : false,
                "sapManagedProvisioningEnabled" : false
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization" : {
                "amsConfiguration" : {
                  "enabled" : false,
                  "amsManagedAttributes" : { }
                }
              }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - F183BE12-29A0-47E1-AB92-7ED734A5608B
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-vx88g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 307.25ms
[...]
    - id: 10
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"operations":[{"op":"replace","path":"/urn:sap:identity:application:schemas:extension:sci:1.0:Authentication/subjectNameIdentifier","value":"mail"},{"op":"replace","path":"/urn:sap:identity:application:schemas:extension:sci:1.0:Authentication/fallbackSubjectNameIdentifier","value":"uid"}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/e35de4d9-5f9d-43b3-811d-65dabacee3cd
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 8DA7ADFE-5977-4B8F-9615-DFA043DD2142
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-vx88g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 558.651417ms
[...]
