---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"status":"new"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"89e725b1-6a13-43c6-b56b-aaea633f697e","meta":{"created":"2026-03-23T09:19:33Z","lastModified":"2026-03-23T09:19:33Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/89e725b1-6a13-43c6-b56b-aaea633f697e","resourceType":"User","version":"48fb91de-0b34-43c8-97dd-534c8063328d"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"89e725b1-6a13-43c6-b56b-aaea633f697e","mailVerified":false,"userId":"P000858","status":"new"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"48fb91de-0b34-43c8-97dd-534c8063328d"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/89e725b1-6a13-43c6-b56b-aaea633f697e
            X-Ids-Id:
                - 53F2B12B-846B-45DC-8116-B0EBDB2259F3
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-5rvjf
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 840.15666ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/89e725b1-6a13-43c6-b56b-aaea633f697e
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
