---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: GET
      response:
            - chunked
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":25,"itemsPerPage":100,"startIndex":1,"Resources":[{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"05282952-b334-4078-bd56-dd38b2e771e9","meta":{"created":"2025-07-04T08:16:05Z","lastModified":"2025-07-04T08:16:05Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/05282952-b334-4078-bd56-dd38b2e771e9","resourceType":"User","version":"a3585c09-d7d3-40a9-9e80-6ab8540ac619","groups.cnt":1},"userName":"","name":{"familyName":"github.com","givenName":"sap-samples/btp-terraform-samples"},"displayName":"None","userType":"public","active":true,"emails":[{"value":"repo/sap-samples/btp-terraform-samples@github.com","primary":true}],"groups":[{"value":"1ac7f501-aa83-4e06-8a05-dc6b4251d0b6","display":"CI/CD","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/1ac7f501-aa83-4e06-8a05-dc6b4251d0b6"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"value":"repo/sap-samples/btp-terraform-samples@github.com","primary":true}],"userUuid":"05282952-b334-4078-bd56-dd38b2e771e9","mailVerified":false,"userId":"P000314","status":"active"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"06818f25-55b5-430d-98ad-5ae38e1a1d93","meta":{"created":"2026-04-21T08:05:24Z","lastModified":"2026-04-21T08:15:10Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/06818f25-55b5-430d-98ad-5ae38e1a1d93","resourceType":"User","version":"1c2dc484-d6bc-4a1b-8c45-0f2008e179ce","groups.cnt":0},"userName":"","name":{"familyName":"Lechner","givenName":"Christian"},"displayName":"None","userType":"employee","active":true,"emails":[{"value":"christian.lechner@sap.com","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"value":"christian.lechner@sap.com","verifiedTime":"2026-04-21T08:08:05Z","primary":true}],"loginTime":"2026-06-24T05:51:36Z","userUuid":"06818f25-55b5-430d-98ad-5ae38e1a1d93","mailVerified":true,"userId":"P000941","passwordDetails":{"loginTime":"2026-06-24T05:51:36Z","failedLoginAttempts":0,"setTime":"2026-04-21T08:08:02Z","status":"enabled","policy":"https://accounts.sap.com/policy/passwords/sap/web/1.1"},"status":"active"}},{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"09159810-def3-4283-9f04-326c8b2efa94","meta":{"created":"2026-05-20T10:31:13Z","lastModified":"2026-05-20T10:43:32Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/09159810-def3-4283-9f04-326c8b2efa94","resourceType":"User","version":"0dd49e27-7899-44bf-9fe9-bed3b2c339bb","gro[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","meta":{"created":"2025-01-06T08:10:15Z","lastModified":"2025-05-14T10:45:27Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa","resourceType":"User","version":"78f404e3-5082-414d-8837-27e394b46e01"},"userName":"Terraform Test","name":{"familyName":"Test User","givenName":"Terraform"},"userType":"public","active":false,"emails":[{"value":"test.user1@sap.com","type":"work","display":"Test.User.1","primary":false},{"value":"test.user2@gmail.com","type":"home","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"display":"Test.User.1","verified":false,"type":"work","value":"test.user1@sap.com","primary":false},{"verified":false,"type":"home","value":"test.user2@gmail.com","primary":true}],"userUuid":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","mailVerified":false,"userId":"P000089","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"78f404e3-5082-414d-8837-27e394b46e01-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa
            X-Ids-Id:
                - 0702889C-0C40-48FB-AE29-B021B386B55B
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-95l2m
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 336.516733ms
[...]
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/80f858a3-28ce-437e-ba31-d3358a5bdbfa
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"404","detail":"Group 80f858a3-28ce-437e-ba31-d3358a5bdbfa not found"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - 6661A976-FAB5-4CD9-90E6-6E8F3E796611
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-95l2m
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
            X-Message-Code:
                - IDS_EXCEPTION
        status: '404 '
        code: 404
        duration: 296.354079ms
    - id: 4
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"add","path":"members","value":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User"}]}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/af2f7963-358d-4336-bc51-57099394dee7
        method: PATCH
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"404","detail":"Group af2f7963-358d-4336-bc51-57099394dee7 not found"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - B107CF3B-F677-4BA4-A385-4270CBBD1EB8
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-95l2m
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
            X-Message-Code:
                - IDS_EXCEPTION
        status: '404 '
        code: 404
        duration: 263.802059ms
