---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test1":"testValue","test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"783337db-32ec-4f31-9249-724a2fe3b12f","meta":{"created":"2026-03-23T08:25:28Z","lastModified":"2026-03-23T08:25:28Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/783337db-32ec-4f31-9249-724a2fe3b12f","resourceType":"User","version":"5c2dddca-9736-4e21-b7ce-78d455039c6d"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"783337db-32ec-4f31-9249-724a2fe3b12f","mailVerified":false,"userId":"P000856","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"5c2dddca-9736-4e21-b7ce-78d455039c6d"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/783337db-32ec-4f31-9249-724a2fe3b12f
            X-Ids-Id:
                - 2E352173-2776-475E-88EE-C7E79E77206F
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv89z
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 1.073470414s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/783337db-32ec-4f31-9249-724a2fe3b12f
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"replace","path":"urn:test:terraform:1.0:User:test1","value":"newTestValue"},{"op":"add","path":"urn:test:terraform:1.0:User:test2","value":true},{"op":"remove","path":"urn:test:terraform:1.0:User:test3","value":null},{"op":"add","path":"urn:test:terraform:2.0:User:test1","value":12},{"op":"add","path":"urn:test:terraform:2.0:User:test2","value":12.34}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/783337db-32ec-4f31-9249-724a2fe3b12f
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - FE26895B-6255-4E6C-99C6-D36172713E75
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv89z
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 327.488924ms
    - id: 4
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/783337db-32ec-4f31-9249-724a2fe3b12f
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:test:terraform:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"783337db-32ec-4f31-9249-724a2fe3b12f","meta":{"created":"2026-03-23T08:25:28Z","lastModified":"2026-03-23T08:25:30Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/783337db-32ec-4f31-9249-724a2fe3b12f","resourceType":"User","version":"ed4ca117-d038-4f2d-ae22-2c66530fe46d"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test2":true,"test1":"newTestValue"},"urn:test:terraform:2.0:User":{"test2":12.34,"test1":12},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"783337db-32ec-4f31-9249-724a2fe3b12f","mailVerified":false,"userId":"P000856","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"ed4ca117-d038-4f2d-ae22-2c66530fe46d-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/783337db-32ec-4f31-9249-724a2fe3b12f
            X-Ids-Id:
                - 17693612-2B58-40AD-BAA5-57A88C9AC88C
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv89z
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 265.444733ms
[...]
    - id: 9
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"remove","path":"urn:test:terraform:2.0:User","value":null}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/783337db-32ec-4f31-9249-724a2fe3b12f
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 21259306-4654-4118-9DB1-961E8FDA2AFC
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv89z
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 273.919044ms
[...]
