---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"id":"","name":"OIDC-test-app","description":"application for testing purposes","urn:sap:identity:application:schemas:extension:sci:1.0:Authentication":{"ssoType":"openIdConnect","assertionAttributes":null,"openIdConnectConfiguration":{"redirectUris":["https://redirectUris.com"],"postLogoutRedirectUris":["https://postLogoutRedirectUris.com"],"frontChannelLogoutUris":["https://frontChannelLogoutUris.com"],"backChannelLogoutUris":["https://backChannelLogoutUris.com"],"tokenPolicy":{"jwtValidity":41000,"refreshValidity":1500000,"refreshParallel":5,"maxExchangePeriod":"unlimited","refreshTokenRotationScenario":"off","accessTokenFormat":"default"},"restrictedGrantTypes":["authorizationCode","clientCredentials"],"proxyConfig":{"acrs":["acrs"]}}}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/
        method: POST
      response:
        body: ""
        headers:
            Critical-Origin-Trial:
                - Tpcd
            Location:
                - /Applications/v1/aa52291d-47df-48cb-9db5-0ec0e8c92667
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - 96B162C3-B7D4-4A7C-8DCD-D0F4201273BD
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-6gttc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 1.20193395s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/aa52291d-47df-48cb-9db5-0ec0e8c92667
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "aa52291d-47df-48cb-9db5-0ec0e8c92667",
              "meta" : {
                "created" : "2025-08-13T06:19:05.923Z",
                "createdBy" : "P000003",
                "lastModified" : "2025-08-13T06:19:05.923Z",
                "modifiedBy" : "P000003",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/aa52291d-47df-48cb-9db5-0ec0e8c92667",
                "type" : "charged",
                "version" : "1"
              },
              "name" : "OIDC-test-app",
              "description" : "application for testing purposes",
              "multiTenantApp" : false,
              "globalAccount" : "unknown",
              "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication", "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization", "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" ],
              "branding" : {
                "showDisplayNameOnLogonScreen" : true,
                "rememberMeVisible" : true,
                "rememberMeChecked" : false,
                "refreshParent" : true,
                "tokenUrlEmbedCharacter" : ";",
                "theme" : {
                  "type" : "horizon"
                }
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                "ssoType" : "openIdConnect",
                "subjectNameIdentifier" : "uid",
                "rememberMeExpirationTimeInMonths" : 3,
                "passwordPolicy" : "https://accounts.sap.com/policy/passwords/sap/web/1.1",
                "userAccess" : {
                  "type" : "internal",
                  "userAttributesForAccess" : [ {
                    "userAttributeName" : "firstName",
                    "isRequired" : false
                  }, {
                    "userAttributeName" : "lastName",
                    "isRequired" : true
                  }, {
                    "userAttributeName" : "mail",
                    "isRequired" : true
                  } ]
                },
                "companyId" : "global",
                "clientId" : "206fc1b8-314e-4faa-b9dc-1b4cd42cb0ec",
                "assertionAttributes" : [ {
                  "assertionAttributeName" : "first_name",
                  "userAttributeName" : "firstName",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "last_name",
                  "userAttributeName" : "lastName",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "mail",
                  "userAttributeName" : "mail",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "user_uuid",
                  "userAttributeName" : "userUuid",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "locale",
                  "userAttributeName" : "language",
                  "inherited" : false
                } ],
                "disabledInheritedProperties" : { },
                "spnegoEnabled" : false,
                "biometricAuthenticationEnabled" : false,
                "verifyMail" : true,
                "forceAuthentication" : false,
                "trustAllCorporateIdentityProviders" : false,
                "allowIasUsers" : false,
                "defaultAuthenticatingIdpId" : "664c660e25cff252c5c202dc",
                "riskBasedAuthentication" : {
                  "defaultAction" : [ "allow" ]
                },
                "saml2Configuration" : {
                  "defaultNameIdFormat" : "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
                  "signSLOMessages" : true,
                  "requireSignedSLOMessages" : true,
                  "requireSignedAuthnRequest" : false,
                  "signAssertions" : true,
                  "signAuthnResponses" : false,
                  "responseElementsToEncrypt" : "none",
                  "digestAlgorithm" : "sha256",
                  "proxyAuthnRequest" : {
                    "authenticationContext" : "none"
                  }
                },
                "openIdConnectConfiguration" : {
                  "redirectUris" : [ "https://redirectUris.com" ],
                  "postLogoutRedirectUris" : [ "https://postLogoutRedirectUris.com" ],
                  "frontChannelLogoutUris" : [ "https://frontChannelLogoutUris.com" ],
                  "backChannelLogoutUris" : [ "https://backChannelLogoutUris.com" ],
                  "tokenPolicy" : {
                    "jwtValidity" : 41000,
                    "refreshValidity" : 1500000,
                    "refreshParallel" : 5,
                    "maxExchangePeriod" : "unlimited",
                    "refreshTokenRotationScenario" : "off",
                    "accessTokenFormat" : "default"
                  },
                  "restrictedGrantTypes" : [ "authorizationCode", "clientCredentials" ],
                  "proxyConfig" : {
                    "acrs" : [ "acrs" ]
                  }
                },
                "restApiAuthentication" : {
                  "allowPublicClientFlows" : false,
                  "allApisAccess" : false,
                  "allowLocking" : true,
                  "failedLoginAttempts" : 0
                }
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" : {
                "centralStoreProvisioningEnabled" : false
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Authorization" : { }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Critical-Origin-Trial:
                - Tpcd
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - 40680BF0-E0B7-47C1-95CF-F18BF5D3988C
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-6gttc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 177.423639ms
[...]
