---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 66BC17BC-15AC-4BC3-9C4A-87006F80C05A
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 861.157625ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"description":"test secret","validTo":"2029-10-12T10:00:00Z","authorizationScopes":["manageApp"]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/ca60ce62-efcf-4a04-8ce7-86405c7d1926/apiSecrets
        method: POST
      response:
            - chunked
        body: |-
            {
              "authorizationScopes" : [ "manageApp" ],
              "description" : "test secret",
              "id" : "6df5a163-40a4-4f61-9800-45a9feb59fc3",
              "hint" : "-V.i",
              "validTo" : "2029-10-12T10:00:00Z",
              "allApisAccess" : false,
              "clientId" : "c066e60b-773d-4e7a-907f-edafb46bbc9e",
              "secret" : "-V.i6VfYk2anvMmvn7Ktpnw4v:dNK44a@H"
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - FDF2C997-0950-4D33-94DF-D3444B43400F
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 519.247083ms
[...]
    - id: 5
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/ca60ce62-efcf-4a04-8ce7-86405c7d1926/apiSecrets
        method: GET
      response:
            - chunked
        body: |-
            {
              "secrets" : [ {
                "authorizationScopes" : [ "manageApp", "manageUsers", "oAuth" ],
                "description" : "terraform-test",
                "id" : "88e88cc8-e6a8-4b19-be68-a6ea3f8c3e5e",
                "hint" : "7SA:",
                "validTo" : "2028-08-30T05:56:25Z",
                "allApisAccess" : true
              }, {
                "authorizationScopes" : [ "manageApp" ],
                "description" : "test secret",
                "id" : "6df5a163-40a4-4f61-9800-45a9feb59fc3",
                "hint" : "-V.i",
                "validTo" : "2029-10-12T10:00:00Z",
                "allApisAccess" : false
              } ],
              "allApisAccess" : false
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 7ED1AF9C-8524-404E-B259-773C1A21B438
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 357.642126ms
[...]
    - id: 10
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/ca60ce62-efcf-4a04-8ce7-86405c7d1926/apiSecrets?id=6df5a163-40a4-4f61-9800-45a9feb59fc3
        method: DELETE
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 1BB10B6E-C2B7-4604-9B17-1C8A227C4686
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 381.206084ms
