---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"status":"new"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"c8c59c14-1214-4f1f-a2dd-9cd43c217fc0","meta":{"created":"2026-03-23T08:09:02Z","lastModified":"2026-03-23T08:09:02Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/c8c59c14-1214-4f1f-a2dd-9cd43c217fc0","resourceType":"User","version":"f253937d-c24f-40aa-bd04-49edef40debd"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"c8c59c14-1214-4f1f-a2dd-9cd43c217fc0","mailVerified":false,"userId":"P000849","status":"new"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"f253937d-c24f-40aa-bd04-49edef40debd"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/c8c59c14-1214-4f1f-a2dd-9cd43c217fc0
            X-Ids-Id:
                - 9B365AAB-791F-4557-AF51-96F0366743F1
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-xjk5g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 871.073106ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/c8c59c14-1214-4f1f-a2dd-9cd43c217fc0
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
