---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 4531A475-2DD4-4E78-9FD2-3A57E179458B
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv8cc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 1.011838292s
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"description":"test secret","validTo":"2029-10-12T10:00:00Z","authorizationScopes":["manageApp"]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/ca60ce62-efcf-4a04-8ce7-86405c7d1926/apiSecrets
        method: POST
      response:
            - chunked
        body: |-
            {
              "authorizationScopes" : [ "manageApp" ],
              "description" : "test secret",
              "id" : "ccb5c19f-b958-4f69-9225-a247801a0a10",
              "hint" : "fIA5",
              "validTo" : "2029-10-12T10:00:00Z",
              "allApisAccess" : false,
              "clientId" : "c066e60b-773d-4e7a-907f-edafb46bbc9e",
              "secret" : "fIA5@Zj71cK?6]fFv.L=HIZC96HO:AdoVV?"
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - ADEC2E5E-D683-44E8-B638-47A03DDF80E9
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv8cc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 715.330876ms
[...]
    - id: 5
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/ca60ce62-efcf-4a04-8ce7-86405c7d1926/apiSecrets
        method: GET
      response:
            - chunked
        body: |-
            {
              "secrets" : [ {
                "authorizationScopes" : [ "manageApp", "manageUsers", "oAuth" ],
                "description" : "terraform-test",
                "id" : "88e88cc8-e6a8-4b19-be68-a6ea3f8c3e5e",
                "hint" : "7SA:",
                "validTo" : "2028-08-30T05:56:25Z",
                "allApisAccess" : true
              }, {
                "authorizationScopes" : [ "manageApp" ],
                "description" : "test secret",
                "id" : "a16643a4-2474-40a1-8a13-36d658[...]
[...]
    - id: 9
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"operations":[{"op":"replace","path":"/description","value":"updated secret"},{"op":"replace","path":"/validTo","value":"2030-01-01T00:00:00Z"},{"op":"replace","path":"/authorizationScopes","value":["manageApp","oAuth"]}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/ca60ce62-efcf-4a04-8ce7-86405c7d1926/apiSecrets/ccb5c19f-b958-4f69-9225-a247801a0a10
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - E2E72403-B87B-4103-8646-5BA723FD4628
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv8cc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 470.505417ms
[...]
    - id: 16
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/ca60ce62-efcf-4a04-8ce7-86405c7d1926/apiSecrets?id=ccb5c19f-b958-4f69-9225-a247801a0a10
        method: DELETE
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 15B7400A-1732-4A29-AB18-6B95A2325ED2
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-lv8cc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 293.066667ms
