---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - 04770917-3B2B-45EB-8C6A-9955F687A51C
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 224.96825ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"displayName":"OIDC - Test Corporate IdP","forwardAllSsoRequests":true,"identityFederation":{"allowLocalUsersOnly":true,"applyLocalIdPAuthnChecks":true,"requiredGroups":["Test Group"],"useLocalUserStore":true},"loginHintConfiguration":{"loginHintType":"mail","sendMethod":"urlParam"},"logoutUrl":"https://example.com/logout","name":"OIDC - Test IdP","oidcConfiguration":{"additionalConfig":{"enforceIssuerCheck":true,"enforceNonce":true,"omitIDTokenHintForLogout":true},"clientId":"test-client-id","clientSecret":"test-client-secret","discoveryUrl":"https://accounts.sap.com","pkceEnabled":true,"scopes":["openid","test-value-1"],"subjectNameIdentifier":"email","tokenEndpointAuthMethod":"clientSecretBasic"},"type":"openIdConnect"}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/
        method: POST
      response:
        body: ""
        headers:
            Location:
                - /IdentityProviders/v1/29a7e6c3-6d8b-49ba-a288-44664ce35663
            X-Ids-Id:
                - DD71EFE1-040C-4F9A-9A0E-6F9278B53351
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 620.005334ms
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/29a7e6c3-6d8b-49ba-a288-44664ce35663
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "29a7e6c3-6d8b-49ba-a288-44664ce35663",
              "meta" : {
                "created" : "2026-08-31T08:28:01.366Z",
                "lastModified" : "2026-08-31T08:28:01.366Z",
                "createdBy" : "a355d701-4dbf-459c-900d-569786838c59",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/IdentityProviders/v1/29a7e6c3-6d8b-49ba-a288-44664ce35663"
              },
              "name" : "OIDC - Test IdP",
              "displayName" : "OIDC - Test Corporate IdP",
              "companyId" : "global",
              "type" : "openIdConnect",
              "logoutUrl" : "https://example.com/logout",
              "forwardAllSsoRequests" : true,
              "identityFederation" : {
                "useLocalUserStore" : true,
                "allowLocalUsersOnly" : true,
                "applyLocalIdPAuthnChecks" : true,
                "requiredGroups" : [ "Test Group" ]
              },
              "automaticRedirect" : true,
              "loginHintConfiguration" : {
                "loginHintType" : "mail",
                "sendMethod" : "urlParam"
              },
              "saml2Configuration" : {
                "digestAlgorithm" : "sha256",
                "includeScoping" : true,
                "defaultNameIdFormat" : "default",
                "allowCreate" : "none",
                "signAuthnRequests" : "always",
                "signSingleLogoutMessages" : "always"
              },
              "oidcConfiguration" : {
                "subjectNameIdentifier" : "email",
                "discoveryUrl" : "https://accounts.sap.com",
                "issuer" : "https://accounts.sap.com",
                "tokenEndpoint" : "https://accounts.sap.com/oauth2/token",
                "authorizationEndpoint" : "https://accounts.sap.com/oauth2/authorize",
                "endSessionEndpoint" : "https://accounts.sap.com/oauth2/logout",
                "userInfoEndpoint" : "https://accounts.sap.com/oauth2/userinfo",
                "jwksUri" : "https://accounts.sap.com/oauth2/certs",
                "jwkSetPlain" : "{\"keys\":[{\"kty\":\"RSA\",\"x5t#S256\":\"xdHMDBHyFRb---qngyCNfKWf3P2qwiboTPNGShTNPXo\",\"e\":\"AQAB\",\"use\":\"sig\",\"kid\":\"NGIP7_VsEqSiYTCALVIMGRxk50g\",\"x5c\":[\"MIIC9DCCAdygAwIBAQIGAW+kKxr9MA0GCSqGSIb3DQEBCwUAMDkxCzAJBgNVBAYTAkRFMQ8wDQYDVQQKEwZTQVAtU0UxGTAXBgNVBAMTEGFjY291bnRzLnNhcC5jb20wHhcNMjAwMTE0MTMwODA2WhcNMzAwMTE0MTMwODA2WjA5MQswCQYDVQQGEwJERTEPMA0GA1UEChMGU0FQLVNFMRkwFwYDVQQDExBhY2NvdW50cy5zYXAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt5TbH3HZhE44A+lTM1lR7yfwzc1UegOZFWTyvVIIBops+1xZwNDt7kkUwqjja50TI00fISCAVQQ0TDKiVZt/jKE/Tt243CwA5Y5p0YxQ5FcLslNW3Gg5E3eEhPOjgbJaaLo69F2x4i1VIwaH4hU4xY/EKjFcCzuFFd0BL7FB81V0gJnjQHTaT1hhbnY7I8DWKn0Sm8p08fKOmnvJ+WD0OL/CzNuVQh9CTydo5c6dy4I7XoFc8e0uUnnrtT8DHTfJqu2RZTNI6pDXAcvw0PDOxEUvFCimRI8R/RvPMKyLTS6Fp6SL3+oAVUVShxWaTJxmMXdK7npSg/Jfr1E8k0+rPwIDAQABggIAADANBgkqhkiG9w0BAQsFAAOCAQEAcbwfGgQHZXGSTV/oNJzRdXtJA70XqG6G325srJfLtexvPWwYdK6mBWWXpytTNGQUUfx/G1uXRd5YTep5sWMctEUSf8NhtTxc14e3TW0L7/+16J3gruZtyKy91pJd/fP6ScTE8QYcNp+j55TIswah6qGbWvjyJp/n3+KoMvakMxY0lBnLkMN1pTu4QeIi6mXI/5KTxT+0b/1nxpR/z+tierNTfC31WH43OwAcZC0U/Q/tneEhZre0vDJGWM9eD+eljX2m6LwJxwT6IjvdCAe4gmUvkjjQwXASv3U9IxzMR2qOTHjR147zcGvXje06Jb8b94GpKebnLJVkxISp37J21g==\"],\"alg\":\"RS256\",\"n\":\"t5TbH3HZhE44A-lTM1lR7yfwzc1UegOZFWTyvVIIBops-1xZwNDt7kkUwqjja50TI00fISCAVQQ0TDKiVZt_jKE_Tt243CwA5Y5p0YxQ5FcLslNW3Gg5E3eEhPOjgbJaaLo69F2x4i1VIwaH4hU4xY_EKjFcCzuFFd0BL7FB81V0gJnjQHTaT1hhbnY7I8DWKn0Sm8p08fKOmnvJ-WD0OL_CzNuVQh9CTydo5c6dy4I7XoFc8e0uUnnrtT8DHTfJqu2RZTNI6pDXAcvw0PDOxEUvFCimRI8R_RvPMKyLTS6Fp6SL3-oAVUVShxWaTJxmMXdK7npSg_Jfr1E8k0-rPw\"}]}",
                "tokenEndpointAuthMethod" : "clientSecretBasic",
                "scopes" : [ "openid", "test-value-1" ],
                "clientId" : "test-client-id",
                "isClientSecretConfigured" : true,
                "pkceEnabled" : true,
                "enforceAuthTime" : true,
                "additionalConfig" : {
                  "enforceNonce" : true,
                  "enforceIssuerCheck" : true,
                  "omitIDTokenHintForLogout" : true,
                  "expectIssuerInAudience" : false
                }
              }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - C3887EBF-9564-4F13-B5F0-D21703F73162
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nm27t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 323.953708ms
[...]
