---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - EFCD4B01-59D2-4304-9CAC-B38ED814485A
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-p4pgg
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 189.293792ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Base Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"Test-Base-Group","description":"Base group for testing"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Base Group","id":"bb7e4a62-9f7f-4e2b-997f-58a453329e97","meta":{"created":"2026-08-31T06:43:03Z","lastModified":"2026-08-31T06:43:03Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/bb7e4a62-9f7f-4e2b-997f-58a453329e97","resourceType":"Group","version":"7094d55a-432f-4bda-9267-3efcad71b2ce"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6a9522773fca45a6746d9543","name":"Test-Base-Group","description":"Base group for testing"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"7094d55a-432f-4bda-9267-3efcad71b2ce"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/bb7e4a62-9f7f-4e2b-997f-58a453329e97
            X-Ids-Id:
                - A594CA2F-C631-4358-85B7-CE499A374852
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-p4pgg
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 289.896042ms
[...]
    - id: 5
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/bb7e4a62-9f7f-4e2b-997f-58a453329e97
        method: GET
      response:
        body: '{"schemas":["urn:ietf:p[...]
[...]
    - id: 9
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"replace","path":"displayName","value":"Test Base Group - Updated"},{"op":"replace","path":"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group:description","value":"Updated description"}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/bb7e4a62-9f7f-4e2b-997f-58a453329e97
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 7976DBC3-2AED-485F-8AC9-9832BECEBD8B
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-vx88g
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 286.292708ms
[...]
