---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: client_id=REDACTED&client_secret=REDACTED&grant_type=client_credentials
        form:
            client_id:
                - REDACTED
            client_secret:
                - REDACTED
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://iasprovidertestblr.accounts400.ondemand.com/oauth2/token
        method: POST
      response:
        body: '{"access_token":"REDACTED","token_type":"Bearer","expires_in":3600}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Ids-Id:
                - D1868A5B-C1ED-432A-B366-7A176C7A3FB5
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 969.659375ms
[...]
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"0b35d8cf-722c-4151-951e-176b623c0b78","meta":{"created":"2025-02-16T19:39:42Z","lastModified":"2025-05-14T10:46:44Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78","resourceType":"User","version":"0f8f636b-1536-42b1-8ca4-02b07171b3e9"},"userName":"Terraform Custom Schemas","name":{"familyName":"User","givenName":"Terraform Custom Schemas"},"displayName":"None","userType":"employee","active":true,"emails":[{"value":"custom.user@test.com","primary":true}],"urn:test:terraform:1.0:User":{"test2":true,"test1":"test value"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"value":"custom.user@test.com","primary":true}],"userUuid":"0b35d8cf-722c-4151-951e-176b623c0b78","mailVerified":false,"userId":"P000194","status":"active"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"0f8f636b-1536-42b1-8ca4-02b07171b3e9-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78
            X-Ids-Id:
                - 76E3D9EE-CF03-4B26-933D-AE3337C6B44B
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 282.74375ms
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/0b35d8cf-722c-4151-951e-176b623c0b78
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"404","detail":"Group 0b35d8cf-722c-4151-951e-176b623c0b78 not found"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - 340D3C16-F6AD-4159-A620-35E3E86E6C15
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
            X-Message-Code:
                - IDS_EXCEPTION
        status: '404 '
        code: 404
        duration: 261.552501ms
    - id: 4
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Group","members":[{"value":"0b35d8cf-722c-4151-951e-176b623c0b78","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"Test-Group","description":"For testing purposes"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Group","id":"ec04b53a-839e-44ac-9640-dea55d844bd5","meta":{"created":"2026-08-31T08:36:54Z","lastModified":"2026-08-31T08:36:54Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/ec04b53a-839e-44ac-9640-dea55d844bd5","resourceType":"Group","version":"d80ecf97-5fb1-4a3e-882a-2846a30aeb3d"},"members":[{"value":"0b35d8cf-722c-4151-951e-176b623c0b78","type":"User","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"additionalId":"6a953d263fca45a6746d97cf","name":"Test-Group","description":"For testing purposes"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"d80ecf97-5fb1-4a3e-882a-2846a30aeb3d"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/ec04b53a-839e-44ac-9640-dea55d844bd5
            X-Ids-Id:
                - 9C944ACD-269B-4D89-B2A0-29BCBC74C13D
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 298.80025ms
[...]
    - id: 11
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"replace","path":"displayName","value":"Test Group - New"},{"op":"replace","path":"members","value":[{"type":"Group","value":"59aeb87b-777a-4034-8f3e-709d39fb1a18"},{"type":"User","value":"0b35d8cf-722c-4151-951e-176b623c0b78"}]},{"op":"replace","path":"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group:description","value":"For production purposes"}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/ec04b53a-839e-44ac-9640-dea55d844bd5
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 63FDDE4A-AA7D-4691-A832-CC68E3852319
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dvw72
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 450.455042ms
[...]
