---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test1":"testValue","test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef","meta":{"created":"2026-03-23T11:03:42Z","lastModified":"2026-03-23T11:03:42Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef","resourceType":"User","version":"7c1eacbd-e04a-4fc6-bd3b-21f3ddb4ef2f"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef","mailVerified":false,"userId":"P000863","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"7c1eacbd-e04a-4fc6-bd3b-21f3ddb4ef2f"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef
            X-Ids-Id:
                - 788063A9-64FB-4648-BB9F-5D6098707F46
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-bffmt
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 1.303762243s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef
        method: GET
      response:
        body: '{"schemas":["urn:ietf:pa[...]
[...]
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"replace","path":"urn:test:terraform:1.0:User:test1","value":"newTestValue"},{"op":"add","path":"urn:test:terraform:1.0:User:test2","value":true},{"op":"remove","path":"urn:test:terraform:1.0:User:test3","value":null},{"op":"add","path":"urn:test:terraform:2.0:User:test1","value":12},{"op":"add","path":"urn:test:terraform:2.0:User:test2","value":12.34}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - D24D8ACD-0DF8-4A2C-B077-E72CECF0F06E
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-bffmt
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 264.547301ms
    - id: 4
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:test:terraform:1.0:User","urn:test:terraform:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"id":"9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef","meta":{"created":"2026-03-23T11:03:42Z","lastModified":"2026-03-23T11:03:44Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef","resourceType":"User","version":"47309134-4c5a-4ff5-9d88-e6cc900ffc43"},"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test2":true,"test1":"newTestValue"},"urn:test:terraform:2.0:User":{"test2":12.34,"test1":12},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef","mailVerified":false,"userId":"P000863","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"47309134-4c5a-4ff5-9d88-e6cc900ffc43-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef
            X-Ids-Id:
                - 143F7DC2-7A3A-4AED-8934-A1D2107C9016
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-bffmt
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 245.409102ms
[...]
    - id: 7
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"op":"remove","path":"urn:test:terraform:2.0:User","value":null}]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/9ee36e8a-e831-4ff7-9a49-dea74fe0e9ef
        method: PATCH
      response:
        body: ""
        headers:
            X-Ids-Id:
                - 00C2C8F2-E131-424F-AB63-0E38523FE955
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-bffmt
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '204 '
        code: 204
        duration: 306.716585ms
[...]
