---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"description":"test secret","validTo":"2029-10-12T10:00:00Z","authorizationScopes":["manageApp"]}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/5fd22812-53c5-4803-8285-94cd1fb3b301/apiSecrets
        method: POST
      response:
            - chunked
        body: |-
            {
              "authorizationScopes" : [ "manageApp" ],
              "description" : "test secret",
              "id" : "4d506177-37b8-4360-b4fa-6fe0e1b296b1",
              "hint" : "-8Y0",
              "validTo" : "2029-10-12T10:00:00Z",
              "allApisAccess" : false,
              "clientId" : "0cfd55a9-72b6-49c9-87fe-b30c21c00500",
              "secret" : "-8Y0-IQjslfZyDucesaT2mTkO8S@6Uys"
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Critical-Origin-Trial:
                - Tpcd
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - B4BCF28F-1617-47CE-BDBC-BCE7C136B84F
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-f28sc
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '201 '
        code: 201
        duration: 1.761279334s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/5fd22812-53c5-4803-8285-94cd1fb3b301/apiSecrets
        method: GET
      response:
            - chunked
        body: |-
            {
              "secrets" : [ {
                "authorizationScopes" : [ "manageApp" ],
                "description" : "test secret",
                "id" : "4d506177-37b8-4360-b4fa-6fe0e1b296b1",
                "hint" : "-8Y0",
                "validTo" : "2029-10-12T10:00:00Z",
                "allApisAccess" : false
              }, {
                "authorizationScopes" : [ "manageApp" ],
                "description" : "test secret",
                "id" : "6d93947a-6f40-4b62-8c50-a09d2436ef3c",
                "[...]
[...]
    - id: 3
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/5fd22812-53c5-4803-8285-94cd1fb3b301/apiSecrets?id=4d506177-37b8-4360-b4fa-6fe0e1b296b1
        method: DELETE
      response:
        body: ""
        headers:
            Critical-Origin-Trial:
                - Tpcd
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - F9E6B8FC-5AB6-42E8-8D1A-699BBD94052F
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-mrqbw
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Ids-Region:
                - eu-de-1
        status: '200 '
        code: 200
        duration: 1.026057042s
