---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":5,"itemsPerPage":100,"startIndex":1,"Resources":[{"id":"417809ba-e72d-473a-b243-7862d303c434","meta":{"created":"2024-05-21T07:21:59Z","lastModified":"2024-05-21T09:14:46Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/417809ba-e72d-473a-b243-7862d303c434","resourceType":"User","groups.cnt":0},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"","name":{"familyName":"VijayKumar","givenName":"Vipin"},"displayName":"None","userType":"public","active":true,"emails":[{"value":"vipin.vijaykumar@sap.com","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"value":"vipin.vijaykumar@sap.com","verifiedTime":"2024-05-21T09:14:46Z","primary":true}],"loginTime":"2024-05-21T09:14:46Z","sourceSystem":15,"userUuid":"417809ba-e72d-473a-b243-7862d303c434","mailVerified":true,"userId":"P000000","status":"active","passwordDetails":{"failedLoginAttempts":0,"setTime":"2024-05-21T09:14:45Z","status":"enabled","policy":"https://accounts.sap.com/policy/passwords/sap/enterprise/1.0"}}},{"id":"467bdf49-3e6e-4e1e-aac8-84d97dd8ddec","meta":{"created":"2024-05-21T09:19:01Z","lastModified":"2024-05-21T09:23:22Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/467bdf49-3e6e-4e1e-aac8-84d97dd8ddec","resourceType":"User","groups.cnt":0},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"","name":{"familyName":"Gupta","give[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/a1510350-f17f-4a18-9ef6-4e286ff3a1a9
        method: GET
      response:
        body: '{"id":"a1510350-f17f-4a18-9ef6-4e286ff3a1a9","meta":{"created":"2024-08-01T10:10:21Z","lastModified":"2024-08-01T10:10:21Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/a1510350-f17f-4a18-9ef6-4e286ff3a1a9","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"","name":{"familyName":"User","givenName":"Test"},"displayName":"None","userType":"employee","active":true,"emails":[{"value":"test.user@sap.com","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"value":"test.user@sap.com","primary":true}],"sourceSystem":0,"userUuid":"a1510350-f17f-4a18-9ef6-4e286ff3a1a9","mailVerified":false,"userId":"P000017","status":"active"}}'
        headers:
            Content-Type:
                - application/scim+json
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/a1510350-f17f-4a18-9ef6-4e286ff3a1a9
            X-Ids-Id:
                - E526499C-906C-4658-94A9-2E45667EEFB8
            X-Ids-Landscape:
                - cc3-eu-nl-1-a2
            X-Ids-Node:
                - http-bx6sq
            X-Ids-Pool:
                - a2
            X-Ids-Project:
                - qa
        status: '200 '
        code: 200
        duration: 255.646447ms
[...]
