---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":25,"itemsPerPage":100,"startIndex":1,"Resources":[{"id":"09feca2f-4f35-42a2-94df-07d93c7790f6","meta":{"created":"2024-11-25T08:39:08Z","lastModified":"2024-11-25T08:39:08Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/09feca2f-4f35-42a2-94df-07d93c7790f6","version":"8fcf2a25-96d8-4810-ac45-8a77169f014e","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group","urn:ietf:params:scim:schemas:extension:sci:2.0:Authorization"],"displayName":"MANAGE_PROVISIONING_PROXIES - provisioning - Administration Console","urn:ietf:params:scim:schemas:extension:sci:2.0:Authorization":{"zoneId":"dd8383cb-e693-48fe-a001-f2be56e99f4e","applicationId":"664c4b974b484838254be20e","type":"policy","authorizationId":"157fd931-5de8-567b-8900-a47a6cc93a7e"},"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"09feca2f-4f35-42a2-94df-07d93c7790f6","additionalId":"674437acb992a87300387a7c"}},{"id":"12447973-5f90-4329-8c51-cbfbc9d0908e","meta":{"created":"2024-10-22T18:30:45Z","lastModified":"2024-10-22T18:30:45Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/12447973-5f90-4329-8c51-cbfbc9d0908e","version":"c4c86c5e-1035-45ef-a425-1bb726015776","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group","urn:ietf:params:scim:schemas:extension:sci:2.0[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18
        method: GET
      response:
        body: '{"id":"59aeb87b-777a-4034-8f3e-709d39fb1a18","meta":{"created":"2025-01-13T13:38:09Z","lastModified":"2025-01-13T17:59:30Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18","version":"1807dc02-371a-4176-91ae-88411015aa97","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"testGroup","members":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"Test Group","additionalId":"6785174139031d4324035b6b"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"1807dc02-371a-4176-91ae-88411015aa97-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18
            X-Ids-Id:
                - CA0A445E-358D-43C6-B013-E5967034E8DA
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-9x7hj
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '200 '
        code: 200
        duration: 247.713201ms
[...]
