---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":1,"itemsPerPage":100,"startIndex":1,"Resources":[{"id":"4f3f5dc8-818b-4de4-a6a4-32eb9a9a8972","meta":{"created":"2024-09-30T12:45:27Z","lastModified":"2024-10-04T08:29:06Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/4f3f5dc8-818b-4de4-a6a4-32eb9a9a8972","version":"bf11cbe2-49cb-4474-a3f9-4c57d852db98","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"testGroup","members":[{"value":"e7e23e92-721b-4fa2-87be-d2db950e13de","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/e7e23e92-721b-4fa2-87be-d2db950e13de","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"4f3f5dc8-818b-4de4-a6a4-32eb9a9a8972","additionalId":"66fa9d671c44a2175f6b1b31"}}]}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - D2EBD175-48F4-479C-BCE3-EE5B8B2386CB
            X-Ids-Landscape:
                - cc3-eu-nl-1-a2
            X-Ids-Node:
                - http-2zx2q
            X-Ids-Pool:
                - a2
            X-Ids-Project:
                - qa
        status: '200 '
        code: 200
        duration: 1.310823379s
[...]
