---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":8,"itemsPerPage":100,"startIndex":1,"Resources":[{"id":"0b35d8cf-722c-4151-951e-176b623c0b78","meta":{"created":"2025-02-16T19:39:42Z","lastModified":"2025-05-14T10:46:44Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78","version":"0f8f636b-1536-42b1-8ca4-02b07171b3e9","resourceType":"User","groups.cnt":0},"schemas":["urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Terraform Custom Schemas","name":{"familyName":"User","givenName":"Terraform Custom Schemas"},"displayName":"None","userType":"employee","active":true,"emails":[{"value":"custom.user@test.com","primary":true}],"urn:test:terraform:1.0:User":{"test1":"test value","test2":true},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"value":"custom.user@test.com","primary":true}],"userUuid":"0b35d8cf-722c-4151-951e-176b623c0b78","mailVerified":false,"userId":"P000194","status":"active"}},{"id":"417809ba-e72d-473a-b243-7862d303c434","meta":{"created":"2024-05-21T07:21:59Z","lastModified":"2025-05-08T09:01:28Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/417809ba-e72d-473a-b243-7862d303c434","resourceType":"User","groups.cnt":0},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"","name":{"familyName":"VijayKumar","givenName":"Vipin"},"displayName":"None","userType":"public","active":true,"emails":[{"value":"vipin.vijaykumar@sap.com","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"value":"vipin.vijaykumar@sap.com","verifiedTime":"2025-05-08T09:01:28Z","primary":true}],"loginTime":"2025-05-08T09:01:28Z","sourceSystem":15,"userUuid":"417809ba-e72d-473a-b243-7862d303c434","mailVerified":true,"userId":"P000000","status":"active","passwordDetails":{"loginTime":"2025-05-08T09:30:05Z","failedLoginAttempts":0,"setTime":"2025-05-08T09:01:28Z","status":"enabled","policy":"https://accounts.sap.com/policy/passwords/sap/enterprise/1.0"}}},{"id":"467bdf49-3e6e-4e1e-aac8-84d97dd8ddec","meta":{"created":"2024-05-21T09:19:01Z","lastModified":"2025-04-14T10:10:36Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/467bdf49-3e6e-4e1e-aac8-84d97dd8ddec","resourceType":"User","groups.cnt":0},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"","name":{"familyName":"Gupta","give[...]
[...]
