---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":9,"itemsPerPage":100,"startIndex":1,"Resources":[{"id":"3066960b-dd1c-45f1-bf37-eee792367769","meta":{"created":"2025-01-13T06:54:31Z","lastModified":"2025-01-13T06:54:31Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/3066960b-dd1c-45f1-bf37-eee792367769","version":"491716e0-c35e-48ad-8c9d-9894389e2b2f","resourceType":"User","groups.cnt":0},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"natalie_s_h","name":{"familyName":"S","givenName":"h"},"userType":"public","active":false,"emails":[{"value":"natalie@gmail.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"natalie@gmail.com","primary":true}],"sourceSystem":0,"userUuid":"3066960b-dd1c-45f1-bf37-eee792367769","mailVerified":false,"userId":"P000101","status":"inactive"}},{"id":"417809ba-e72d-473a-b243-7862d303c434","meta":{"created":"2024-05-21T07:21:59Z","lastModified":"2024-05-21T09:14:46Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/417809ba-e72d-473a-b243-7862d303c434","resourceType":"User","groups.cnt":0},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"","name":{"familyName":"VijayKumar","givenName":"Vipin"},"displayName":"None","userType":"public","active":true,"emails":[{"value":"vipin.vijaykumar@sap.com","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"value":"vipin.vijaykumar@sap.com","verifiedTime":"2024-05-21T09:14:46Z","primary":true}],"loginTime":"2024-05-21T09:14:46Z","sourceSystem":15,"userUuid":"417809ba-e72d-473a-b243-7862d303c434","mailVerified":true,"userId":"P000000","status":"active","passwordDetails":{"failedLoginAttempts":0,"setTime":"2024-05-21T09:14:45Z","status":"enabled","policy":"https://accounts.sap.com/policy/passwords/sap/enterprise/1.0"}}},{"id":"467bdf49-3e6e-4e1e-aac8-84d97dd8ddec","meta":{"created":"2024-05-21T09:19:01Z","lastModified":"2024-05-21T09:23:22Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/467bdf49-3e6e-4e1e-aac8-84d97dd8ddec","resourceType":"User","groups.cnt":0},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"","name":{"familyName":"Gupta","give[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa
        method: GET
      response:
        body: '{"id":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","meta":{"created":"2025-01-06T08:10:15Z","lastModified":"2025-01-06T08:15:48Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa","version":"78f404e3-5082-414d-8837-27e394b46e01","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Test","name":{"familyName":"User","givenName":"Test"},"userType":"public","active":false,"emails":[{"value":"test.user1@sap.com","display":"Test.User.1","primary":false,"type":"work"},{"value":"test.user2@gmail.com","primary":true,"type":"home"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"display":"Test.User.1","type":"work","value":"test.user1@sap.com","primary":false},{"type":"home","value":"test.user2@gmail.com","primary":true}],"userUuid":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","mailVerified":false,"userId":"P000089","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"78f404e3-5082-414d-8837-27e394b46e01-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa
            X-Ids-Id:
                - C3B28881-11B6-4630-AEAD-2CE8BEA91933
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-x9wcx
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '200 '
        code: 200
        duration: 262.671111ms
[...]
