---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":14,"itemsPerPage":1000,"startIndex":1,"Resources":[{"id":"urn:ietf:params:scim:schemas:extension:sap.odm:2.0:User","meta":{"created":"2024-12-17T20:24:59.178511178Z","lastModified":"2024-12-17T20:24:59.178511178Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Aparams%3Ascim%3Aschemas%3Aextension%3Asap.odm%3A2.0%3AUser","version":"d58aa245-8b95-4031-8766-d4b9590bc7b9","resourceType":"Schema"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"name":"User","attributes":[{"name":"generalLedgerAccounts","type":"complex","subAttributes":[{"name":"name","type":"string","multiValued":false,"description":"The name of the general ledger account.","required":false,"caseExact":false,"mutability":"readWrite","returned":"default","uniqueness":"none"},{"name":"primary","type":"boolean","multiValued":false,"description":"TRUE if it is the primary general ledger account otherwise FALSE.","required":false,"caseExact":false,"mutability":"readWrite","returned":"default","uniqueness":"none"},{"name":"oId","type":"string","multiValued":false,"description":"The SAP ODM ID if applicable.","required":false,"caseExact":false,"mutability":"readWrite","returned":"default","uniqueness":"none"},{"name":"externalNumber","type":"string","multiValued":[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn:ietf:params:scim:schemas:core:2.0:Schema
        method: GET
      response:
        body: '{"id":"urn:ietf:params:scim:schemas:core:2.0:Schema","meta":{"created":"2024-12-17T20:24:58.692637315Z","lastModified":"2024-12-17T20:24:58.692637315Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Aparams%3Ascim%3Aschemas%3Acore%3A2.0%3ASchema","version":"7820c1e3-9bd3-42f3-8b27-0cf31b4eeff1","resourceType":"Schema"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"name":"Schema","description":"Specifies the schema that describes a SCIM schema","attributes":[{"name":"name","type":"string","multiValued":false,"description":"The schemas human-readable name. When applicable, service providers MUST specify the name, e.g., User.","required":true,"caseExact":true,"mutability":"readOnly","returned":"default","uniqueness":"none"},{"name":"attributes","type":"complex","subAttributes":[{"name":"uniqueness","type":"string","multiValued":false,"description":"Indicates how unique a value must be.","required":false,"canonicalValues":["none","server","global"],"caseExact":true,"mutability":"readOnly","returned":"default","uniqueness":"none"},{"name":"referenceTypes","type":"string","multiValued":true,"description":"Used only with an attribute of type reference.  Specifies a SCIM resourceType that a reference attribute MAY refer to, e.g., User.","required":false,"caseExact":true,"mutability":"readOnly","returned":"default","uniqueness":"none"},{"name":"required","type":"boolean","multiValued":false,"description":"A boolean va[...]
[...]
