---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":14,"itemsPerPage":100,"startIndex":1,"Resources":[{"id":"0b35d8cf-722c-4151-951e-176b623c0b78","meta":{"created":"2025-02-16T19:39:42Z","lastModified":"2025-02-16T19:40:13Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78","version":"0f8f636b-1536-42b1-8ca4-02b07171b3e9","resourceType":"User","groups.cnt":0},"schemas":["urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"","name":{"familyName":"User","givenName":"Custom Schemas"},"displayName":"None","userType":"employee","active":true,"emails":[{"value":"custom.user@test.com","primary":true}],"urn:test:terraform:1.0:User":{"test1":"test value","test2":true},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"value":"custom.user@test.com","primary":true}],"userUuid":"0b35d8cf-722c-4151-951e-176b623c0b78","mailVerified":false,"userId":"P000194","status":"active"}},{"id":"286f65f6-77c9-435c-b362-f43bffbcb059","meta":{"created":"2025-02-16T19:35:34Z","lastModified":"2025-02-16T19:35:51Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/286f65f6-77c9-435c-b362-f43bffbcb059","version":"27d0dd1d-9cf4-42d0-9783-13a75597383b","resourceType":"User","groups.cnt":0},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:abcd:params:scim:schemas:4.0:User","urn:efgh:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"natalie_n_s_h","name":{"familyName":"S","givenName":"N h"},"displayName":"Ms.Natalie","userType":"customer","active":true,"emails":[{"value":"natalie3@gmail.com","primary":true,"type":"work"}],"urn:abcd:params:scim:schemas:4.0:User":{"customXYZ":"new test"},"urn:efgh:User":{"int1":2,"customXYZ":"test","bool1":false},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"natalie3@gmail.com","primary":true}],"sourceSystem":0,"userUuid":"286f65f6-77c9-435c-b362-f43bffbcb059","mailVerified":false,"userId":"P000192","status":"active","passwordDetails":{"failedLoginAttempts":0,"setTime":"2025-02-16T19:35:51Z","status":"initial","policy":"https://accounts.sap.com/policy/passwords/sap/web/1.1"}}},{"id":"2f931008-22c7-4ff9-9757-57678534f077","meta":{"created":"2025-02-14T11:37:22Z","lastModified":"2025-02-14T11:37:22Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/2f931008-22c7-4ff9-9757-57678534f077","version":"24aa5875-22c7-4ef6-86ba-bb7dd3d413d9","resourceType":"User","groups.cnt":0},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:abcd:params:scim:schemas:4.0:User","urn:ietf:params:scim[...]
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78
        method: GET
      response:
        body: '{"id":"0b35d8cf-722c-415[...]
[...]
