---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"totalResults":4,"itemsPerPage":100,"startIndex":1,"Resources":[{"id":"417809ba-e72d-473a-b243-7862d303c434","meta":{"created":"2024-05-21T07:21:59Z","lastModified":"2024-05-21T09:14:46Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/417809ba-e72d-473a-b243-7862d303c434","resourceType":"User","groups.cnt":0},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"","name":{"familyName":"VijayKumar","givenName":"Vipin"},"displayName":"None","userType":"public","active":true,"emails":[{"value":"vipin.vijaykumar@sap.com","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"value":"vipin.vijaykumar@sap.com","verifiedTime":"2024-05-21T09:14:46Z","primary":true}],"loginTime":"2024-05-21T09:14:46Z","sourceSystem":15,"userUuid":"417809ba-e72d-473a-b243-7862d303c434","mailVerified":true,"userId":"P000000","status":"active","passwordDetails":{"failedLoginAttempts":0,"setTime":"2024-05-21T09:14:45Z","status":"enabled","policy":"https://accounts.sap.com/policy/passwords/sap/enterprise/1.0"}}},{"id":"467bdf49-3e6e-4e1e-aac8-84d97dd8ddec","meta":{"created":"2024-05-21T09:19:01Z","lastModified":"2024-05-21T09:23:22Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/467bdf49-3e6e-4e1e-aac8-84d97dd8ddec","resourceType":"User","groups.cnt":0},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"","name":{"familyName":"Gupta","give[...]
[...]
