---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":true,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"mailVerified":true,"status":"active"}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"b1e8ce3d-9df4-46c8-a435-9336e750d8da","meta":{"created":"2025-05-14T09:47:02Z","lastModified":"2025-05-14T09:47:02Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/b1e8ce3d-9df4-46c8-a435-9336e750d8da","version":"5a8acc70-bfbc-4bbe-8bb6-1df098a3c235","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":true,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"b1e8ce3d-9df4-46c8-a435-9336e750d8da","mailVerified":true,"userId":"P000255","status":"active"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"5a8acc70-bfbc-4bbe-8bb6-1df098a3c235"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/b1e8ce3d-9df4-46c8-a435-9336e750d8da
            X-Ids-Id:
                - 005D5616-1C5E-4FA4-8AEC-2CDBA0B1F21B
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-hqppk
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 897.604822ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/b1e8ce3d-9df4-46c8-a435-9336e750d8da
        method: GET
      response:
        body: '{"id":"b1e8ce3d-9df4-46c[...]
[...]
