---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"id":"","name":"basic-test-app","description":"application for testing purposes","urn:sap:identity:application:schemas:extension:sci:1.0:Authentication":{}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/
        method: POST
      response:
        body: ""
        headers:
            Critical-Origin-Trial:
                - Tpcd
            Location:
                - /Applications/v1/48bdcf24-53c6-4834-8094-6c894a090164
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - C4DD5127-7ED2-4ABD-8443-4D9F4945CFDF
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-flj6q
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 1.504044618s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/48bdcf24-53c6-4834-8094-6c894a090164
        method: GET
      response:
            - chunked
        body: |-
            {
              "id" : "48bdcf24-53c6-4834-8094-6c894a090164",
              "meta" : {
                "created" : "2025-01-10T15:16:59.664Z",
                "createdBy" : "P000003",
                "lastModified" : "2025-01-10T15:16:59.664Z",
                "modifiedBy" : "P000003",
                "location" : "https://iasprovidertestblr.accounts400.ondemand.com/Applications/v1/48bdcf24-53c6-4834-8094-6c894a090164",
                "type" : "charged",
                "version" : "1"
              },
              "name" : "basic-test-app",
              "description" : "application for testing purposes",
              "multiTenantApp" : false,
              "globalAccount" : "unknown",
              "schemas" : [ "urn:sap:identity:application:schemas:core:1.0", "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication", "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" ],
              "branding" : {
                "showDisplayNameOnLogonScreen" : true,
                "rememberMeVisible" : true,
                "rememberMeChecked" : false,
                "refreshParent" : true,
                "tokenUrlEmbedCharacter" : ";",
                "theme" : {
                  "type" : "horizon"
                }
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Authentication" : {
                "ssoType" : "saml2",
                "subjectNameIdentifier" : "uid",
                "rememberMeExpirationTimeInMonths" : 3,
                "passwordPolicy" : "https://accounts.sap.com/policy/passwords/sap/web/1.1",
                "userAccess" : {
                  "type" : "internal",
                  "userAttributesForAccess" : [ {
                    "userAttributeName" : "firstName",
                    "isRequired" : false
                  }, {
                    "userAttributeName" : "lastName",
                    "isRequired" : true
                  }, {
                    "userAttributeName" : "mail",
                    "isRequired" : true
                  } ]
                },
                "companyId" : "global",
                "clientId" : "424bf056-0971-480f-be4d-83ec78f0676e",
                "assertionAttributes" : [ {
                  "assertionAttributeName" : "first_name",
                  "userAttributeName" : "firstName",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "last_name",
                  "userAttributeName" : "lastName",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "mail",
                  "userAttributeName" : "mail",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "user_uuid",
                  "userAttributeName" : "userUuid",
                  "inherited" : false
                }, {
                  "assertionAttributeName" : "locale",
                  "userAttributeName" : "language",
                  "inherited" : false
                } ],
                "disabledInheritedProperties" : { },
                "spnegoEnabled" : false,
                "biometricAuthenticationEnabled" : false,
                "verifyMail" : true,
                "forceAuthentication" : false,
                "trustAllCorporateIdentityProviders" : false,
                "allowIasUsers" : false,
                "defaultAuthenticatingIdpId" : "664c660e25cff252c5c202dc",
                "riskBasedAuthentication" : {
                  "defaultAction" : [ "allow" ]
                },
                "saml2Configuration" : {
                  "defaultNameIdFormat" : "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
                  "signSLOMessages" : true,
                  "requireSignedSLOMessages" : true,
                  "requireSignedAuthnRequest" : false,
                  "signAssertions" : true,
                  "signAuthnResponses" : false,
                  "responseElementsToEncrypt" : "none",
                  "digestAlgorithm" : "sha256",
                  "proxyAuthnRequest" : {
                    "authenticationContext" : "none"
                  }
                },
                "openIdConnectConfiguration" : {
                  "tokenPolicy" : {
                    "jwtValidity" : 3600,
                    "refreshValidity" : 43200,
                    "refreshParallel" : 1,
                    "maxExchangePeriod" : "unlimited",
                    "refreshTokenRotationScenario" : "off",
                    "accessTokenFormat" : "default"
                  },
                  "restrictedGrantTypes" : [ "authorizationCode", "refreshToken", "clientCredentials", "password", "jwtBearer" ]
                },
                "restApiAuthentication" : {
                  "allowPublicClientFlows" : false,
                  "allApisAccess" : false,
                  "allowLocking" : true,
                  "failedLoginAttempts" : 0
                }
              },
              "urn:sap:identity:application:schemas:extension:sci:1.0:Provisioning" : {
                "centralStoreProvisioningEnabled" : false
              }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Critical-Origin-Trial:
                - Tpcd
            Origin-Trial:
                - Avu6rn7emV5gK8gvyGHlX8TMqM9uo1FacP2j/RWTq+8j+yKnqcTO0TQh0bXJ/7QntxD4/JzXv8aXoqxxZQuqXgYAAABdeyJvcmlnaW4iOiJodHRwczovL29uZGVtYW5kLmNvbTo0NDMiLCJmZWF0dXJlIjoiVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9
            X-Ids-Id:
                - 321582DC-94A4-4C86-BB8B-5584886CCEB3
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-flj6q
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '200 '
        code: 200
        duration: 306.448769ms
[...]
