---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test1":"testValue","test2":false,"test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"b11adb1f-2b53-4145-804e-9e9d7985d399","meta":{"created":"2025-07-03T07:27:32Z","lastModified":"2025-07-03T07:27:32Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/b11adb1f-2b53-4145-804e-9e9d7985d399","version":"15020bcb-84bf-4ac8-909b-866fd0bf0418","resourceType":"User"},"schemas":["urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:test:terraform:1.0:User":{"test2":false,"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"b11adb1f-2b53-4145-804e-9e9d7985d399","mailVerified":false,"userId":"P000304","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"15020bcb-84bf-4ac8-909b-866fd0bf0418"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/b11adb1f-2b53-4145-804e-9e9d7985d399
            X-Ids-Id:
                - 5620FF06-629D-44CD-8D64-FB918788B62E
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-fjzhx
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 272.373674ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/b11adb1f-2b53-4145-804e-9e9d7985d399
        method: GET
      response:
        body: '{"id":"b11adb1f-2b53-414[...]
[...]
