---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78
        method: GET
      response:
        body: '{"id":"0b35d8cf-722c-4151-951e-176b623c0b78","meta":{"created":"2025-02-16T19:39:42Z","lastModified":"2025-05-14T10:46:44Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78","version":"0f8f636b-1536-42b1-8ca4-02b07171b3e9","resourceType":"User"},"schemas":["urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Terraform Custom Schemas","name":{"familyName":"User","givenName":"Terraform Custom Schemas"},"displayName":"None","userType":"employee","active":true,"emails":[{"value":"custom.user@test.com","primary":true}],"urn:test:terraform:1.0:User":{"test1":"test value","test2":true},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"value":"custom.user@test.com","primary":true}],"userUuid":"0b35d8cf-722c-4151-951e-176b623c0b78","mailVerified":false,"userId":"P000194","status":"active"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"0f8f636b-1536-42b1-8ca4-02b07171b3e9-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78
            X-Ids-Id:
                - C43023D2-08A4-4DD6-9487-BC6869F9CB39
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-b7pxh
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '200 '
        code: 200
        duration: 1.399161342s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/0b35d8cf-722c-4151-951e-176b623c0b78
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"404","detail":"Group 0b35d8cf-722c-4151-951e-176b623c0b78 not found"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - 7B7824AE-C0B7-4FF9-9586-2D1CA98A9FA6
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-b7pxh
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
            X-Message-Code:
                - IDS_EXCEPTION
        status: '404 '
        code: 404
        duration: 235.648453ms
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Group","members":[{"value":"0b35d8cf-722c-4151-951e-176b623c0b78","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"Test-Group","description":"For testing purposes"}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: POST
      response:
        body: '{"id":"7928c419-4385-4bc8-bdcc-a061c3fed2d5","meta":{"created":"2025-05-14T21:06:12Z","lastModified":"2025-05-14T21:06:12Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/7928c419-4385-4bc8-bdcc-a061c3fed2d5","version":"f6616c52-57e2-4581-9d96-e3b57c4e2bf8","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Test Group","members":[{"value":"0b35d8cf-722c-4151-951e-176b623c0b78","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0b35d8cf-722c-4151-951e-176b623c0b78","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"Test-Group","additionalId":"682505c4c9b69f50018e4133","description":"For testing purposes"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"f6616c52-57e2-4581-9d96-e3b57c4e2bf8"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/7928c419-4385-4bc8-bdcc-a061c3fed2d5
            X-Ids-Id:
                - 36EAF673-CDED-49F3-AED1-8CCD51761631
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-b7pxh
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 239.121311ms
[...]
