---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{},"urn:test:terraform:1.0:User":{"test1":"testValue","test2":false,"test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"58605726-9b4d-4577-b6ac-feaaa77b73f6","meta":{"created":"2025-05-14T09:47:06Z","lastModified":"2025-05-14T09:47:06Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/58605726-9b4d-4577-b6ac-feaaa77b73f6","version":"2793e354-7e0e-4da4-981f-2ce7d5045e9f","resourceType":"User"},"schemas":["urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:test:terraform:1.0:User":{"test2":false,"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"58605726-9b4d-4577-b6ac-feaaa77b73f6","mailVerified":false,"userId":"P000257","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"2793e354-7e0e-4da4-981f-2ce7d5045e9f"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/58605726-9b4d-4577-b6ac-feaaa77b73f6
            X-Ids-Id:
                - 022E4188-C4B4-49BA-9036-BF43660A28C7
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-hqppk
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 208.106521ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/58605726-9b4d-4577-b6ac-feaaa77b73f6
        method: GET
      response:
        body: '{"id":"58605726-9b4d-457[...]
[...]
