---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{},"urn:test:terraform:1.0:User":{"test1":"testValue","test2":false,"test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"8fb2ba53-b252-4fcc-bdce-7b42180556c0","meta":{"created":"2025-05-14T09:47:08Z","lastModified":"2025-05-14T09:47:08Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/8fb2ba53-b252-4fcc-bdce-7b42180556c0","version":"18f11ff0-273a-4a87-9042-7e97ffc7d64d","resourceType":"User"},"schemas":["urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:test:terraform:1.0:User":{"test2":false,"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"8fb2ba53-b252-4fcc-bdce-7b42180556c0","mailVerified":false,"userId":"P000258","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"18f11ff0-273a-4a87-9042-7e97ffc7d64d"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/8fb2ba53-b252-4fcc-bdce-7b42180556c0
            X-Ids-Id:
                - 95240716-8D7D-4E43-888A-56C2A74A6C61
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-hqppk
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 206.625292ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/8fb2ba53-b252-4fcc-bdce-7b42180556c0
        method: GET
      response:
        body: '{"id":"8fb2ba53-b252-4fc[...]
[...]
