---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"sourceSystem":0,"sourceSystemId":"","applicationId":"","emailTemplateSetId":"","sendMail":false,"targetUrl":"","mailVerified":false,"userId":"","totpEnabled":false,"webAuthEnabled":false,"mfaEnabled":false,"corporateGroups":null}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"6e7f2fe7-ea10-45ae-9313-d365c48da841","meta":{"created":"2025-01-06T08:47:18Z","lastModified":"2025-01-06T08:47:18Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/6e7f2fe7-ea10-45ae-9313-d365c48da841","version":"0610aeca-efc0-4cf9-b618-48bcf268be73","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"sourceSystem":0,"userUuid":"6e7f2fe7-ea10-45ae-9313-d365c48da841","mailVerified":false,"userId":"P000092","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"0610aeca-efc0-4cf9-b618-48bcf268be73"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/6e7f2fe7-ea10-45ae-9313-d365c48da841
            X-Ids-Id:
                - 66908827-354F-4D25-B20B-72F17C8D715A
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nflbn
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 956.738675ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/6e7f2fe7-ea10-45ae-9313-d365c48da841
        method: GET
      response:
        body: '{"id":"6e7f2fe7-ea10-45a[...]
[...]
