---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{},"urn:test:terraform:1.0:User":{"test1":"testValue","test2":false,"test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"870805b8-2d91-426d-91da-3a327e3fef9e","meta":{"created":"2025-03-28T07:16:51Z","lastModified":"2025-03-28T07:16:51Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/870805b8-2d91-426d-91da-3a327e3fef9e","version":"84285c4d-bd96-4f98-b944-0167d11f9e73","resourceType":"User"},"schemas":["urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:test:terraform:1.0:User":{"test2":false,"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"870805b8-2d91-426d-91da-3a327e3fef9e","mailVerified":false,"userId":"P000215","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"84285c4d-bd96-4f98-b944-0167d11f9e73"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/870805b8-2d91-426d-91da-3a327e3fef9e
            X-Ids-Id:
                - 2BC45706-C1C5-469C-A786-1B15CF60AD5B
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-gcpfv
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 991.002221ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/870805b8-2d91-426d-91da-3a327e3fef9e
        method: GET
      response:
        body: '{"id":"870805b8-2d91-426[...]
[...]
