---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"id":"urn:ietf:scim:schemas:Terraform","name":"Terraform","description":"Test Schema","meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"attributes":[{"name":"test_attribute","type":"string","multivalued":true,"description":"Test Attribute","required":true,"canonicalValues":["test","attr"],"mutability":"readWrite","returned":"never","uniqueness":"none"}]}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/
        method: POST
      response:
        body: '{"id":"urn:ietf:scim:schemas:Terraform","meta":{"created":"2025-05-14T19:03:16.012015500Z","lastModified":"2025-05-14T19:03:16.012015500Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Ascim%3Aschemas%3ATerraform","version":"99522a26-99b2-490a-a9ee-4a272724d38c","resourceType":"Schema"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"name":"Terraform","description":"Test Schema","attributes":[{"name":"test_attribute","type":"string","multiValued":true,"description":"Test Attribute","required":true,"canonicalValues":["test","attr"],"caseExact":false,"mutability":"readWrite","returned":"never","uniqueness":"none"}]}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"99522a26-99b2-490a-a9ee-4a272724d38c"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Ascim%3Aschemas%3ATerraform
            X-Ids-Id:
                - 02DEFC49-921F-4AED-A04D-C7B9EAC49288
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-td9ck
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 832.314796ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn:ietf:scim:schemas:Terraform
        method: GET
      response:
        body: '{"id":"urn:ietf:scim:schema[...]
[...]
