---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"sourceSystem":0,"sourceSystemId":"","applicationId":"","emailTemplateSetId":"","sendMail":false,"targetUrl":"","mailVerified":false,"userId":"","status":"","totpEnabled":false,"webAuthEnabled":false,"mfaEnabled":false,"corporateGroups":null}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"400","detail":"Provided value is not part of ''status'' canonical values","scimType":"invalidValue"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - EA9975EC-FE7C-481F-B42C-8FB09A58A1EE
            X-Ids-Landscape:
                - cc3-eu-nl-1-a2
            X-Ids-Node:
                - http-brkhv
            X-Ids-Pool:
                - a2
            X-Ids-Project:
                - qa
        status: '400 '
        code: 400
        duration: 761.432719ms
