---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"sourceSystem":0,"sourceSystemId":"","applicationId":"","emailTemplateSetId":"","sendMail":false,"targetUrl":"","mailVerified":false,"userId":"","totpEnabled":false,"webAuthEnabled":false,"mfaEnabled":false,"corporateGroups":null}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"67915ce3-d7c9-4646-817d-a933a361c852","meta":{"created":"2025-01-13T08:18:12Z","lastModified":"2025-01-13T08:18:12Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/67915ce3-d7c9-4646-817d-a933a361c852","version":"6826fa8f-4855-4892-8a10-da7e9719ae5f","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"sourceSystem":0,"userUuid":"67915ce3-d7c9-4646-817d-a933a361c852","mailVerified":false,"userId":"P000105","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"6826fa8f-4855-4892-8a10-da7e9719ae5f"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/67915ce3-d7c9-4646-817d-a933a361c852
            X-Ids-Id:
                - 493AFD5C-A0C1-4C53-B512-C0F55C96222A
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-bztl6
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 262.675806ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/67915ce3-d7c9-4646-817d-a933a361c852
        method: GET
      response:
        body: '{"id":"67915ce3-d7c9-464[...]
[...]
