---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":true,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"mailVerified":true,"status":"active"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"607e8252-44b4-4d8e-92a3-9d49ad103588","meta":{"created":"2025-07-03T07:27:25Z","lastModified":"2025-07-03T07:27:25Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/607e8252-44b4-4d8e-92a3-9d49ad103588","version":"e4c234d0-b748-4d09-9ed3-a44a4c5f4856","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":true,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"607e8252-44b4-4d8e-92a3-9d49ad103588","mailVerified":true,"userId":"P000301","status":"active"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"e4c234d0-b748-4d09-9ed3-a44a4c5f4856"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/607e8252-44b4-4d8e-92a3-9d49ad103588
            X-Ids-Id:
                - C691380B-25CD-4DDF-8B0B-12B38E3D42B3
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-fjzhx
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 1.055055606s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/607e8252-44b4-4d8e-92a3-9d49ad103588
        method: GET
      response:
        body: '{"id":"607e8252-44b4-4d8[...]
[...]
