---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/5b4e7391-67d2-419f-8f0e-46f46f1f67ec
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"404","detail":"User 5b4e7391-67d2-419f-8f0e-46f46f1f67ec not found"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - B2F7D7D8-C492-49FE-8068-6B885E4172F5
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-fsndw
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '404 '
        code: 404
        duration: 2.750488095s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/5b4e7391-67d2-419f-8f0e-46f46f1f67ec
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"404","detail":"Group 5b4e7391-67d2-419f-8f0e-46f46f1f67ec not found"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - 2037403F-D3D8-4E7D-8315-087AA0E747AC
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-fsndw
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '404 '
        code: 404
        duration: 399.733246ms
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            null
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: POST
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"400","detail":"One of the request inputs is not valid.","scimType":"invalidValue"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - 25E88AC3-5524-478E-BFB2-822EE476646C
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-fsndw
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '400 '
        code: 400
        duration: 362.009876ms
