---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Group","members":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"description":"For testing purposes"}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: POST
      response:
        body: '{"id":"65b44f1a-a3f8-4fda-9ec0-ad1082daee55","meta":{"created":"2025-01-13T17:44:26Z","lastModified":"2025-01-13T17:44:26Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/65b44f1a-a3f8-4fda-9ec0-ad1082daee55","version":"6b29ad4a-bae8-4460-97a2-463ab0eb4e77","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Group","members":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"65b44f1a-a3f8-4fda-9ec0-ad1082daee55","additionalId":"678550fad25c0e14267f5350","description":"For testing purposes"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"6b29ad4a-bae8-4460-97a2-463ab0eb4e77"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/65b44f1a-a3f8-4fda-9ec0-ad1082daee55
            X-Ids-Id:
                - 3BEDAE08-B209-4419-8CFB-D9E658FEDC2E
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-vshh9
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 267.282314ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/65b44f1a-a3f8-4fda-9ec0-ad1082daee55
        method: GET
      response:
        body: '{"id":"65b44f1a-a3f8-4f[...]
[...]
