---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Group","members":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"description":"For testing purposes"}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: POST
      response:
        body: '{"id":"21e8e00f-6dd5-4214-88b0-2813f5b36e42","meta":{"created":"2025-01-13T17:44:24Z","lastModified":"2025-01-13T17:44:24Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/21e8e00f-6dd5-4214-88b0-2813f5b36e42","version":"54bcc6fc-a3e7-49a1-ac4d-1cbd0ee13d70","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Group","members":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"21e8e00f-6dd5-4214-88b0-2813f5b36e42","additionalId":"678550f8d25c0e14267f534f","description":"For testing purposes"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"54bcc6fc-a3e7-49a1-ac4d-1cbd0ee13d70"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/21e8e00f-6dd5-4214-88b0-2813f5b36e42
            X-Ids-Id:
                - 7921D6CD-7DD2-4E1F-92BC-CAE2F760AC48
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-vshh9
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 1.372532027s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/21e8e00f-6dd5-4214-88b0-2813f5b36e42
        method: GET
      response:
        body: '{"id":"21e8e00f-6dd5-42[...]
[...]
