---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"sourceSystem":0,"sourceSystemId":"","applicationId":"","emailTemplateSetId":"","sendMail":false,"targetUrl":"","mailVerified":false,"userId":"","totpEnabled":false,"webAuthEnabled":false,"mfaEnabled":false,"corporateGroups":null}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"a10289f9-23d7-4a8f-98a3-d86a4b87fd31","meta":{"created":"2025-01-13T08:18:11Z","lastModified":"2025-01-13T08:18:11Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/a10289f9-23d7-4a8f-98a3-d86a4b87fd31","version":"8627e237-e08f-4b38-879b-7ac83b7ab62e","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"sourceSystem":0,"userUuid":"a10289f9-23d7-4a8f-98a3-d86a4b87fd31","mailVerified":false,"userId":"P000104","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"8627e237-e08f-4b38-879b-7ac83b7ab62e"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/a10289f9-23d7-4a8f-98a3-d86a4b87fd31
            X-Ids-Id:
                - E511EA69-BE1E-4E35-8A2B-8C9254FD58A2
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-x9wcx
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 1.001590887s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/a10289f9-23d7-4a8f-98a3-d86a4b87fd31
        method: GET
      response:
        body: '{"id":"a10289f9-23d7-4a8[...]
[...]
