---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":true,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"mailVerified":true,"status":"active"}}
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"a4ec0c68-b914-47ff-8177-835b88d23f6a","meta":{"created":"2025-07-03T07:27:26Z","lastModified":"2025-07-03T07:27:26Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/a4ec0c68-b914-47ff-8177-835b88d23f6a","version":"ec7ea22b-785f-4ab3-b616-5cae90fde40c","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":true,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"a4ec0c68-b914-47ff-8177-835b88d23f6a","mailVerified":true,"userId":"P000302","status":"active"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"ec7ea22b-785f-4ab3-b616-5cae90fde40c"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/a4ec0c68-b914-47ff-8177-835b88d23f6a
            X-Ids-Id:
                - 05E9BDFA-2888-40D0-AB2A-5CF83794FEB8
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-fjzhx
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 279.646389ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/a4ec0c68-b914-47ff-8177-835b88d23f6a
        method: GET
      response:
        body: '{"id":"a4ec0c68-b914-47f[...]
[...]
