---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":true,"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"mailVerified":true,"status":"active"}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"45742a03-215e-4008-998f-fa0a14f67fd7","meta":{"created":"2025-05-14T09:47:04Z","lastModified":"2025-05-14T09:47:04Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/45742a03-215e-4008-998f-fa0a14f67fd7","version":"cda8c8b0-4e81-4a8b-beb8-a31f9a316d24","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe","honorificPrefix":"Mr."},"displayName":"Joe Doe","userType":"employee","active":true,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":true,"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"45742a03-215e-4008-998f-fa0a14f67fd7","mailVerified":true,"userId":"P000256","status":"active"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"cda8c8b0-4e81-4a8b-beb8-a31f9a316d24"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/45742a03-215e-4008-998f-fa0a14f67fd7
            X-Ids-Id:
                - A2E052AE-AD47-4A1D-90EC-3D039AB41B73
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-hqppk
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 237.742531ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/45742a03-215e-4008-998f-fa0a14f67fd7
        method: GET
      response:
        body: '{"id":"45742a03-215e-400[...]
[...]
