---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work","primary":true}],"urn:test:terraform:1.0:User":{"test1":"testValue","test2":false,"test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"856b81a6-6a66-4e06-8588-c9999196f4fb","meta":{"created":"2025-07-03T07:27:30Z","lastModified":"2025-07-03T07:27:30Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/856b81a6-6a66-4e06-8588-c9999196f4fb","version":"78fd2db1-b0c2-4148-b749-2060e6182c31","resourceType":"User"},"schemas":["urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"jdoe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:test:terraform:1.0:User":{"test2":false,"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"856b81a6-6a66-4e06-8588-c9999196f4fb","mailVerified":false,"userId":"P000303","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"78fd2db1-b0c2-4148-b749-2060e6182c31"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/856b81a6-6a66-4e06-8588-c9999196f4fb
            X-Ids-Id:
                - A3A5D345-6DC4-4DD9-A2FE-EAA9F076BCB6
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-fjzhx
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 284.333087ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - REDACTED
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/856b81a6-6a66-4e06-8588-c9999196f4fb
        method: GET
      response:
        body: '{"id":"856b81a6-6a66-4e0[...]
[...]
