---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"eae3c648-c5be-44c1-ac76-60c2d3e437c0","meta":{"created":"2025-03-28T07:15:36Z","lastModified":"2025-03-28T07:15:36Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/eae3c648-c5be-44c1-ac76-60c2d3e437c0","version":"d1f58290-acd6-48de-9437-3a2b5e36b42e","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"eae3c648-c5be-44c1-ac76-60c2d3e437c0","mailVerified":false,"userId":"P000212","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"d1f58290-acd6-48de-9437-3a2b5e36b42e"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/eae3c648-c5be-44c1-ac76-60c2d3e437c0
            X-Ids-Id:
                - 983E5FCD-CF13-4B26-86B9-1AA82B2C4989
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-svns8
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 261.852133ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/eae3c648-c5be-44c1-ac76-60c2d3e437c0
        method: GET
      response:
        body: '{"id":"eae3c648-c5be-44c[...]
[...]
