---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"sourceSystem":0,"sourceSystemId":"","applicationId":"","emailTemplateSetId":"","sendMail":false,"targetUrl":"","mailVerified":false,"userId":"","totpEnabled":false,"webAuthEnabled":false,"mfaEnabled":false,"corporateGroups":null}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"e6eaa383-ba86-4886-b1b1-5ebfbff1d75c","meta":{"created":"2025-01-05T22:44:28Z","lastModified":"2025-01-05T22:44:28Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/e6eaa383-ba86-4886-b1b1-5ebfbff1d75c","version":"b18c476f-8263-41cd-ac2d-48c9e7d73794","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"sourceSystem":0,"userUuid":"e6eaa383-ba86-4886-b1b1-5ebfbff1d75c","mailVerified":false,"userId":"P000088","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"b18c476f-8263-41cd-ac2d-48c9e7d73794"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/e6eaa383-ba86-4886-b1b1-5ebfbff1d75c
            X-Ids-Id:
                - 996A6377-1E6A-41D2-A3B8-8583E8556FEC
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-6cl4t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 248.509412ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/e6eaa383-ba86-4886-b1b1-5ebfbff1d75c
        method: GET
      response:
        body: '{"id":"e6eaa383-ba86-488[...]
[...]
