---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"57496fa9-7e2f-4c88-9ada-fb3de0f72579","meta":{"created":"2025-03-28T07:15:34Z","lastModified":"2025-03-28T07:15:34Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/57496fa9-7e2f-4c88-9ada-fb3de0f72579","version":"141aa12e-aa21-47ac-a577-add92bbaf529","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"57496fa9-7e2f-4c88-9ada-fb3de0f72579","mailVerified":false,"userId":"P000211","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"141aa12e-aa21-47ac-a577-add92bbaf529"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/57496fa9-7e2f-4c88-9ada-fb3de0f72579
            X-Ids-Id:
                - D83FF452-F49E-428A-AEE3-8F914A65524D
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-svns8
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 1.920581236s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/57496fa9-7e2f-4c88-9ada-fb3de0f72579
        method: GET
      response:
        body: '{"id":"57496fa9-7e2f-4c8[...]
[...]
