---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}]}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"7696547d-2ea5-4169-a27c-8a3fd023d9b7","meta":{"created":"2024-08-09T10:31:27Z","lastModified":"2024-08-09T10:31:27Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/7696547d-2ea5-4169-a27c-8a3fd023d9b7","version":"bd6ed98e-cfa0-48a1-a381-afc94ee753b8","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"7696547d-2ea5-4169-a27c-8a3fd023d9b7","mailVerified":false,"userId":"P000040","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"bd6ed98e-cfa0-48a1-a381-afc94ee753b8"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/7696547d-2ea5-4169-a27c-8a3fd023d9b7
            X-Ids-Id:
                - F558DF58-64D2-40E5-BA3D-75D982D3AA55
            X-Ids-Landscape:
                - cc3-eu-nl-1-a2
            X-Ids-Node:
                - http-9247w
            X-Ids-Pool:
                - a2
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 281.673804ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/7696547d-2ea5-4169-a27c-8a3fd023d9b7
        method: GET
      response:
        body: '{"id":"7696547d-2ea5-416[...]
[...]
