---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"employee","emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"sourceSystem":0,"sourceSystemId":"","applicationId":"","emailTemplateSetId":"","sendMail":false,"targetUrl":"","mailVerified":false,"userId":"","totpEnabled":false,"webAuthEnabled":false,"mfaEnabled":false,"corporateGroups":null}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"6e1ddd34-f144-401c-a5d8-324f99e8e3ec","meta":{"created":"2025-01-06T08:47:20Z","lastModified":"2025-01-06T08:47:20Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/6e1ddd34-f144-401c-a5d8-324f99e8e3ec","version":"12908642-d19a-4582-b436-399f21426f1f","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"employee","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"sourceSystem":0,"userUuid":"6e1ddd34-f144-401c-a5d8-324f99e8e3ec","mailVerified":false,"userId":"P000093","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"12908642-d19a-4582-b436-399f21426f1f"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/6e1ddd34-f144-401c-a5d8-324f99e8e3ec
            X-Ids-Id:
                - D678D9D7-B180-438F-BA9D-3552A9961F86
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-nflbn
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 200.632108ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/6e1ddd34-f144-401c-a5d8-324f99e8e3ec
        method: GET
      response:
        body: '{"id":"6e1ddd34-f144-401[...]
[...]
