---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"sourceSystem":0,"sourceSystemId":"","applicationId":"","emailTemplateSetId":"","sendMail":false,"targetUrl":"","mailVerified":false,"userId":"","totpEnabled":false,"webAuthEnabled":false,"mfaEnabled":false,"corporateGroups":null}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"237fc794-5041-4aab-8eb5-1fb67c78f4e9","meta":{"created":"2025-01-05T22:44:26Z","lastModified":"2025-01-05T22:44:26Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/237fc794-5041-4aab-8eb5-1fb67c78f4e9","version":"be1c6d7a-385f-4596-acf2-63911e90be1d","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"sourceSystem":0,"userUuid":"237fc794-5041-4aab-8eb5-1fb67c78f4e9","mailVerified":false,"userId":"P000087","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"be1c6d7a-385f-4596-acf2-63911e90be1d"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/237fc794-5041-4aab-8eb5-1fb67c78f4e9
            X-Ids-Id:
                - 042DD7AC-D20A-4024-B771-14727A06FBC9
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-6cl4t
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 879.285142ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/237fc794-5041-4aab-8eb5-1fb67c78f4e9
        method: GET
      response:
        body: '{"id":"237fc794-5041-4aa[...]
[...]
