---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}]}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"0980318c-a2f9-43fc-8caa-02c22bf7d229","meta":{"created":"2024-08-09T10:31:26Z","lastModified":"2024-08-09T10:31:26Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0980318c-a2f9-43fc-8caa-02c22bf7d229","version":"4db578d7-1151-4c24-b47e-81bb24d36180","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"0980318c-a2f9-43fc-8caa-02c22bf7d229","mailVerified":false,"userId":"P000039","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"4db578d7-1151-4c24-b47e-81bb24d36180"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0980318c-a2f9-43fc-8caa-02c22bf7d229
            X-Ids-Id:
                - 0FBA68A9-15D6-4453-8224-593D9E2A187A
            X-Ids-Landscape:
                - cc3-eu-nl-1-a2
            X-Ids-Node:
                - http-9247w
            X-Ids-Pool:
                - a2
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 1.171620327s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/0980318c-a2f9-43fc-8caa-02c22bf7d229
        method: GET
      response:
        body: '{"id":"0980318c-a2f9-43f[...]
[...]
