---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"sourceSystem":0,"sourceSystemId":"","applicationId":"","emailTemplateSetId":"","sendMail":false,"targetUrl":"","mailVerified":false,"userId":"","totpEnabled":false,"webAuthEnabled":false,"mfaEnabled":false,"corporateGroups":null},"urn:test:terraform:1.0:User":{"test1":"testValue","test2":false,"test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"ea5a2b8d-54e2-4d08-82c5-49308e3a4898","meta":{"created":"2025-02-16T19:36:16Z","lastModified":"2025-02-16T19:36:16Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/ea5a2b8d-54e2-4d08-82c5-49308e3a4898","version":"0c49478c-bfad-4110-93de-4aabdba907c8","resourceType":"User"},"schemas":["urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:test:terraform:1.0:User":{"test2":false,"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"verified":false,"type":"work","value":"joe.doe@test.com","primary":true}],"sourceSystem":0,"userUuid":"ea5a2b8d-54e2-4d08-82c5-49308e3a4898","mailVerified":false,"userId":"P000193","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"0c49478c-bfad-4110-93de-4aabdba907c8"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/ea5a2b8d-54e2-4d08-82c5-49308e3a4898
            X-Ids-Id:
                - CDCC7FB3-E456-4399-B74F-7820FE4D5651
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-6hjgv
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 936.038648ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/ea5a2b8d-54e2-4d08-82c5-49308e3a4898
        method: GET
      response:
        body: '{"id":"ea5a2b8d-54e2-4d0[...]
[...]
