---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa
        method: GET
      response:
        body: '{"id":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","meta":{"created":"2025-01-06T08:10:15Z","lastModified":"2025-01-06T08:15:48Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa","version":"78f404e3-5082-414d-8837-27e394b46e01","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Test","name":{"familyName":"User","givenName":"Test"},"userType":"public","active":false,"emails":[{"value":"test.user1@sap.com","display":"Test.User.1","primary":false,"type":"work"},{"value":"test.user2@gmail.com","primary":true,"type":"home"}],"groups":[{"value":"59aeb87b-777a-4034-8f3e-709d39fb1a18","display":"testGroup","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/59aeb87b-777a-4034-8f3e-709d39fb1a18"},{"value":"9de5145a-aa26-4c95-8d88-29f14f369bde","display":"new_group","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/9de5145a-aa26-4c95-8d88-29f14f369bde"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"display":"Test.User.1","type":"work","value":"test.user1@sap.com","primary":false},{"type":"home","value":"test.user2@gmail.com","primary":true}],"userUuid":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","mailVerified":false,"userId":"P000089","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"78f404e3-5082-414d-8837-27e394b46e01-gzip"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa
            X-Ids-Id:
                - 98CEC263-6D90-470D-92D3-F24BBA0060CE
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-rml2v
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '200 '
        code: 200
        duration: 1.355299633s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/80f858a3-28ce-437e-ba31-d3358a5bdbfa
        method: GET
      response:
        body: '{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"404","detail":"Group 80f858a3-28ce-437e-ba31-d3358a5bdbfa not found"}'
        headers:
            Content-Type:
                - application/scim+json
            X-Ids-Id:
                - D46FB7D7-8855-4678-AE17-B4337FC19540
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-rml2v
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '404 '
        code: 404
        duration: 291.780057ms
    - id: 2
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Group","members":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"description":"For testing purposes"}}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/
        method: POST
      response:
        body: '{"id":"dca24c60-7149-42b2-b14d-6dc9282ba775","meta":{"created":"2025-03-28T15:12:29Z","lastModified":"2025-03-28T15:12:29Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/dca24c60-7149-42b2-b14d-6dc9282ba775","version":"757f79b6-83dd-4fbb-88c1-880e93add084","resourceType":"Group"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:sap:cloud:scim:schemas:extension:custom:2.0:Group"],"displayName":"Terraform Group","members":[{"value":"80f858a3-28ce-437e-ba31-d3358a5bdbfa","$ref":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/80f858a3-28ce-437e-ba31-d3358a5bdbfa","type":"User"}],"urn:sap:cloud:scim:schemas:extension:custom:2.0:Group":{"name":"dca24c60-7149-42b2-b14d-6dc9282ba775","additionalId":"67e6bc5d015c7161a8fc8bde","description":"For testing purposes"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"757f79b6-83dd-4fbb-88c1-880e93add084"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Groups/dca24c60-7149-42b2-b14d-6dc9282ba775
            X-Ids-Id:
                - AC1C8053-BE7E-4835-99C8-4E51689D9344
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-rml2v
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 261.928836ms
[...]
