---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: '{"meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User","urn:test:terraform:1.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"emails":[{"value":"joe.doe@test.com","type":"work"}],"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{},"urn:test:terraform:1.0:User":{"test1":"testValue","test2":false,"test3":{"test3a":12.33,"test3b":12}}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/
        method: POST
      response:
        body: '{"id":"7f29162f-ddc5-4365-a518-5036a317a1c7","meta":{"created":"2025-03-28T07:15:41Z","lastModified":"2025-03-28T07:15:41Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/7f29162f-ddc5-4365-a518-5036a317a1c7","version":"aacde7bd-7593-425e-97d4-c0c1993888e5","resourceType":"User"},"schemas":["urn:test:terraform:1.0:User","urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:sap:2.0:User"],"userName":"Joe Doe","name":{"familyName":"Doe","givenName":"Joe"},"userType":"public","active":false,"emails":[{"value":"joe.doe@test.com","primary":true,"type":"work"}],"urn:test:terraform:1.0:User":{"test2":false,"test3":{"test3a":12.33,"test3b":12},"test1":"testValue"},"urn:ietf:params:scim:schemas:extension:sap:2.0:User":{"emails":[{"type":"work","value":"joe.doe@test.com","primary":true}],"userUuid":"7f29162f-ddc5-4365-a518-5036a317a1c7","mailVerified":false,"userId":"P000214","status":"inactive"}}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"aacde7bd-7593-425e-97d4-c0c1993888e5"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/7f29162f-ddc5-4365-a518-5036a317a1c7
            X-Ids-Id:
                - 7B49518E-B1BB-4E7A-94C7-88643D94FBE9
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-svns8
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 272.505473ms
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Users/7f29162f-ddc5-4365-a518-5036a317a1c7
        method: GET
      response:
        body: '{"id":"7f29162f-ddc5-436[...]
[...]
