---
version: 2
interactions:
    - id: 0
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: |
            {"id":"urn:ietf:scim:schemas:Terraform","name":"Terraform","meta":{},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"attributes":[{"name":"test_attribute","type":"string","mutability":"readWrite","returned":"never","uniqueness":"none"}]}
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/
        method: POST
      response:
        body: '{"id":"urn:ietf:scim:schemas:Terraform","meta":{"created":"2025-01-14T19:29:17.126742529Z","lastModified":"2025-01-14T19:29:17.126742529Z","location":"https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Ascim%3Aschemas%3ATerraform","version":"c2ce2dab-8661-4b4a-bce8-9ca97c772ffd","resourceType":"Schema"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:Schema"],"name":"Terraform","attributes":[{"name":"test_attribute","type":"string","multiValued":false,"required":false,"caseExact":false,"mutability":"readWrite","returned":"never","uniqueness":"none"}]}'
        headers:
            Content-Type:
                - application/scim+json
            Etag:
                - '"c2ce2dab-8661-4b4a-bce8-9ca97c772ffd"'
            Location:
                - https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn%3Aietf%3Ascim%3Aschemas%3ATerraform
            X-Ids-Id:
                - F100303A-55D0-49F6-98AB-4BB7DBF5C716
            X-Ids-Landscape:
                - cc3-eu-de-2-a1
            X-Ids-Namespace:
                - ias
            X-Ids-Node:
                - http-dzbhq
            X-Ids-Pool:
                - a1
            X-Ids-Project:
                - qa
        status: '201 '
        code: 201
        duration: 1.116269948s
    - id: 1
      request:
        host: iasprovidertestblr.accounts400.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/scim+json
            Dataserviceversion:
                - "2.0"
        url: https://iasprovidertestblr.accounts400.ondemand.com/scim/Schemas/urn:ietf:scim:schemas:Terraform
        method: GET
      response:
        body: '{"id":"urn:ietf:scim:schema[...]
[...]
